/* 768++  */
.b-article {
    padding: 85px 0 110px;

    &__information {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 51px;
    }

    h1 {
        font-size: 48px;
        line-height: 56px;
        color: @cl-very-dark-mostly-black-red;
        margin-bottom: 25px;
    }

    ol, ul {
        padding-left: 53px;
    }
}