/* 320++  */
.b-article {
    padding: 71px 0 40px;

    &__information {
        font-size: 12px;
        line-height: 16px;
        color: @cl-opium;
        margin-bottom: 56px;

        span {
            margin-right: 13px;
        }

        a {
            color: @cl-bright-red;
            text-decoration-line: underline;
            border-right: 1px solid @cl-grayish-red;
            padding-right: 10px;
            margin-right: 10px;
            position: relative;
        }

    }

    h1 {
        line-height: 36px;
        margin-bottom: 26px;
    }

    p, ol, ul {
        font-size: 18px;
        line-height: 30px;
        margin: 0 0 24px;
        word-break: normal;
    }

    p.lead {
        font-size: 21px; 
        line-height: 34px; 
        color: #280000; 
        margin-bottom: 40px;
    }

    p.stress {
        font-weight: bold; 
        letter-spacing: 0.05em;
    }

    p.last {
        margin-bottom: 34px;
    }
    
    img {
        width: 100%;
        border-radius: 12px;
        margin-bottom: 41px;
    }

    h2 {
        color: @cl-dark-red;
        line-height: 36px;
        margin: 0 0 24px;
    }

    a {
        color: @cl-bright-red;
        text-decoration: underline;
        cursor: pointer;
        &:hover {
            color: @cl-dark-red;
        }
    }

    blockquote {
        .roboto-regular;
        font-size: 21px;
        line-height: 31px;
        text-transform: none;
        text-align: left;
        border-left: 1px solid @cl-very-dark-grayish-red;
        padding: 7px 0 0 48px;
        margin: 7px 0 31px;
    }

    ol, ul {
        padding-left: 48px; 

        li:not(:last-child) {
            margin-bottom: 16px;
        }

    }

    ol {
        counter-reset: item;

        li {
            list-style-type: none;
            counter-increment: item;
            &:before {
                content: counter(item) ".";
                font-weight: bold;
                padding-right: 14px;
            }
        }

    }

    ul {
        
        li {
            list-style-type: square;
        }

    }
    &--list {
        
        img {
            margin: 10px 0 30px;
        }

    }

}