.b-fabric-slider {
    padding-top: 50px;
    margin-bottom: 53px;

    &__header {
        padding: 10px 16px 0 17px;
        // position: relative;
    }

    &__text {
        margin-bottom: 40px;
    }

    &__slider-wrapper {
        position: relative;
    }
    
    &__arrow-block {
        // display: none;
        display: flex;
        align-items: center;
        position: absolute;
        top: calc(~"66vw + 65px");
        right: 50%;
        transform: translateX(50%);
        z-index: 5;
        white-space: nowrap;
        
        span {
            .roboto-bold;
            font-size: 30px;
            line-height: 36px;
            color: @cl-grayish-red;
            &:not(:last-child){
                margin-right: 8px;
            }
            &.active {
                color: @cl-very-dark-grayish-red;
            }
        }
    }


}