/* 768 + */
.b-fabric-slider {
    margin-bottom: 56px;
    max-width: 1463px;
    margin: 0 auto 56px;
    padding-top: 56px;
    
    &__header {
        padding: 10px 126px 0 42px;
    }

    &__text {
        font-size: 18px;
        line-height: 30px;
        max-width: 560px;
        margin-bottom: 40px;
    }

    &__arrow-block {
        top: calc(~"6vw + 508px");
        left: 1%;
    }

}