/* 320 + */
.b-blog {
    padding: 48px 0 68px;
    
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto 43px;
        
    }

}
.b-burger {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: fixed;

    &__menu {
        display: none;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: @cl-white;
        z-index: 69;
        transform: translateX(-100vw);
        transition: transform .5s ease;
        padding: 86px 45px 86px 75px;

        &.is-expand {
            transform: translateX(0);
        }
    }

    &__menu-list {
        padding: 0;
    }

    &__link {
        display: flex;
        width: 41px;
        height: 41px;
        padding: 10px 0;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 50%;
        border: 2px solid @cl-white;
        transition: background .3s cubic-bezier(0.43, 1.36, 0.75, 0.99), border-color .3s cubic-bezier(0.43, 1.36, 0.75, 0.99);
    }

    &__line,
    &__link:before,
    &__link:after {
        content: '';
        display: block;
        width: 21px;
        height: 3px;
        border-radius: 1px;
        background: @cl-white;
        position: relative;
        transform-origin: center;
        transition: background .3s cubic-bezier(0.43, 1.36, 0.75, 0.99);
    }

    &__link-close {
        display: flex;
        width: 41px;
        height: 41px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        border-radius: 50%;
        border: 2px solid @cl-dark-red;
        position: absolute;
        top: 15px;
        right: 15px;

        &:before,
        &:after {
            content: '';
            display: block;
            width: 21px;
            height: 3px;
            background: @cl-dark-red;
            position: absolute;
            top: 50%;
            left: 50%;
            transition: transform .3s cubic-bezier(0.43, 1.36, 0.75, 0.99);
        }

        &:before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &:after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        // .no-touchevents &:hover,
        // .touchevents &:active {
            
        //     &:before {
        //         transform: translate(-50%, -50%) rotate(-45deg);
        //     }

        //     &:after {
        //         transform: translate(-50%, -50%) rotate(45deg);
        //     }
        // }
    }

    &__item {
        list-style: none;

        & + & {
            margin-top: 26px;
        }
    }

    &__menu-lvl2 {
        display: none;
    }

    .dark & {
        .b-burger__link {
            background: @cl-white;
            border-color: @cl-light-grayish-cyan;
            
            &:after,
            &:before,
            .b-burger__line {
                background: @cl-very-dark-grayish-red;
            }   
        }

        &~.b-link {
            &--left {
                color: @cl-very-dark-grayish-red;
                .no-touchevents &:hover,
                .touchevents &:active {
                    color: @cl-very-dark-grayish-red;
                    &:before {
                        background: @cl-very-dark-grayish-red;
                    }
                }
            }
        }
    }

    &.fill & {

        &__link {
            background: @cl-white;
            border-color: @cl-light-grayish-cyan;

            .no-touchevents &:hover,
            .touchevents &:active {
                background: @cl-bright-red;
                border-color: @cl-bright-red;

                .b-burger__line,
                &:before,
                &:after {
                    background: @cl-white;
                }
            }
        }

        &__line,
        &__link:before,
        &__link:after {
            background: @cl-very-dark-grayish-red;
        }

        .content-page & {

            &__link {
                border-color: @cl-azure;
            }
        }
    }
}
.b-breadcrumbs {
    font-size: 16px;
    line-height: 26px;
    color: @cl-font-main;
    margin: 0 60px 0 0;

    &__link {
        white-space: nowrap;
        min-width: 0;
    }

    &__list {
        display: flex;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0;
        white-space: nowrap;
    }

    &__item {
        list-style-type: none;
        .icon('arrow-left');
        white-space: nowrap;

        &:not(:nth-last-child(2)) {
            display: none;
        }

        &:before {
            font-size: 10px;
            line-height: 26px;
            color: @cl-bright-red;
            margin: 0 24px 0 4px;
        }
    }

    .b-head-block & {
        margin: 0 0 3vh;

        &__link {
            color: @cl-white;
            opacity: .8;
        }

        &__item {

            &:before {
                color: @cl-gorse;
            }
        }
    }
}
/* 320 + */
.b-button {
    .open-bold();
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 1;
    padding: 16px 37px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid @cl-bright-red;
    color: @cl-bright-red;
    cursor: pointer;
    position: relative;
    transition: color .3s ease;

    &--block {
        display: block;
    }

    &.disabled {
        pointer-events: none;
        border-color: transparent;
        color: @cl-grayish-red;
    }

    &--more {
        align-self: flex-start;
        
        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            top: -1px;
            left: -1px;
            width: 0;
            height: ~'calc(100% + 2px)';
            border-radius: 4px;
            background: @cl-bright-red;
            transition: width .3s ease;

            .no-object-fit & {
                left: 0;
            }
        }

        .no-touchevents &:hover,
        .touchevents &:active {
            color: @cl-white;

            &:before {
                width: ~'calc(100% + 2px)';
            }
        }

        .no-object-fit.no-touchevents &:hover,
        .no-object-fit.touchevents &:active {

            &:before {
                width: 100%;
            }
        }
    }

    .b-head-block-slider & {
        border-color: @cl-pure-or-mostly-pure-yellow;
        color: @cl-pure-or-mostly-pure-yellow;
        font-size: 12px;
        border-width: 1px;
        padding: 12px 31px;
        transition: color .3s ease;

        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            top: -1px;
            left: -1px;
            width: 0;
            height: ~'calc(100% + 2px)';
            border-radius: 4px;
            background: @cl-pure-or-mostly-pure-yellow;
            transition: width .3s ease;

            .no-object-fit & {
                left: 0;
            }
        }

        .no-touchevents &:hover,
        .touchevents &:active {
            color: @cl-white;

            &:before {
                width: ~'calc(100% + 2px)';
            }
        }

        .no-object-fit.no-touchevents &:hover,
        .no-object-fit.touchevents &:active {

            &:before {
                width: 100%;
            }
        }
    }

    .b-catalog-menu & {
        position: absolute;
        top: 56vh;
        transform: translateY(-50%);
        right: 0;
        width: 31px;
        height: 130px;
        padding: 0;
        border: none;
        background: url("../images/inhtml/menu-bg.svg") right/contain no-repeat;
        .icon('menu-dots');
        color: @cl-white;
        z-index: 1;

        &:before {
            font-size: 26px;
            position: absolute;
            top: 50%;
            left: 70%;
            transform: translate(-50%, -50%);
        }

        span {
            .roboto-bold();
            text-transform: uppercase;
            font-size: 12px;
            line-height: 18px;
            text-align: right;
            letter-spacing: 0.03em;
            width: 60px;
            position: absolute;
            top: 50%;
            left: -77px;
            transform: translateY(-50%);
        }

        &--catalog-close {
            top: 50%;
            left: 0;
            transform: translateY(-50%) scale(-1, 1);
            .icon('menu-arrow');
        }

        .no-touchevents &:hover,
        .touchevents &:active {
            color: @cl-white;

            span {
                text-decoration: underline;
            }
        }
    }

    &--popup-close,
    &--filter-close {
        display: flex;
        width: 41px;
        height: 41px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        border-radius: 50%;
        border: 2px solid @cl-grayish-red;
        position: absolute;
        top: 15px;
        right: 15px;
        padding: 0;

        &:before,
        &:after {
            content: '';
            display: block;
            width: 21px;
            height: 3px;
            background: @cl-grayish-red;
            position: absolute;
            top: 50%;
            left: 50%;
        }

        &:before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &:after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }

    &--popup-close {
        top: 9px;
        border: 2px solid @cl-light-grayish-cyan;

        &:before,
        &:after {
            background: @cl-light-grayish-cyan;
        }
    }

    &--feedback,
    .b-filter-buttons & {
        padding: 0;
        flex-shrink: 0;
        width: ~'calc(50% - 10px)';
        height: 48px;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            top: -1px;
            left: -1px;
            width: 0;
            height: ~'calc(100% + 2px)';
            border-radius: 4px;
            background: @cl-bright-red;
            transition: width .3s ease;

            .no-object-fit & {
                left: 0;
            }
        }

        &--clear {
            border-color: @cl-grayish-red;
            color: @cl-grayish-red;

            &.disabled {
                border-color: transparent;
            }

            &:before {
                background: @cl-grayish-red;
            }
        }

        .no-touchevents &:hover,
        .touchevents &:active {
            color: @cl-white;

            &:before {
                width: ~'calc(100% + 2px)';
            }
        }

        .no-object-fit.no-touchevents &:hover,
        .no-object-fit.touchevents &:active {

            &:before {
                width: 100%;
            }
        }
    }

    &--contact-button {
        font-size: 12px;
        line-height: 21px;
        color: @cl-very-dark-mostly-black-red;
        background: transparent;
        height: 37px;
        border: 1px solid @cl-very-dark-mostly-black-red;
        padding: 13px 30px;
        
        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            top: -1px;
            left: -1px;
            width: 0;
            height: ~'calc(100% + 2px)';
            border-radius: 4px;
            background: @cl-opium;
            transition: width .3s ease;

            .no-object-fit & {
                left: 0;
            }
        }

        .no-touchevents &:hover,
        .touchevents &:active {
            color: @cl-white;
            border-color: @cl-opium;
            &:before {
                width: ~'calc(100% + 2px)';
            }
        }

        .no-object-fit.no-touchevents &:hover,
        .no-object-fit.touchevents &:active {

            &:before {
                width: 100%;
            }
        }
    }

    &--feedback {
        font-size: 12px;
        line-height: 21px;
        height: 37px;
        width: auto;
        padding: 8px 31px;
        .no-touchevents &:hover,
        .touchevents &:active {
            z-index: 1;
        }
    }
    
    .b-popup--form &--popup-close,
    .b-popup--send &--popup-close {
        width: 43px;
        height: 43px;
        top: 20px;
        right: 20px;
    }

    .b-popup--form &--popup-close {
        border-color: @cl-grayish-red;

        &:before,
        &:after {
            background: @cl-grayish-red;
        }
    }

    .b-not-found & {
        padding: 8px 30px;
        font-size: 12px;
        line-height: 21px;
        border-width: 1px;

        span {
            position: relative;
            z-index: 1;
        }

        &:before {
            z-index: 0;
        }
    }
}
.b-card {
    
    &__link {
        display: flex;
        justify-content: center;
    }

    &__wrapper {
        width: 288px;
        height: 346px;
        padding: 20px 18px 0 20px;
        border-radius: 12px;
        background: @cl-white;
        box-shadow: 0px 12px 36px 2px rgba(50, 126, 150, 0.12);
        position: relative;
    }

    &__image {
        border-radius: 6px;
        // margin-bottom: 25px;
        border-radius: 12px;
        max-height: 260px;
        margin: 0 auto 25px;
        width: 100%;
        object-fit: cover;
    }

    &__information {
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        color: @cl-grayish-red;
        display: flex;
        justify-content: space-between;
        margin-bottom: 14px;
    }

    &__text {
        .roboto-bold;
        font-size: 17px;
        line-height: 21px;
        letter-spacing: 0.02em;
        display: block;
        overflow: hidden;
        max-height: 94px;

        .touchevents .b-card__wrapper:active &,
        .no-touchevents .b-card:hover & {
            color: @cl-very-dark-mostly-black-red;
            transition: all 0.5s ease-out;
        }
    }

    &.slick-slide {
        opacity: 0;
        transition: all 0.3s ease-out;
    }
    &.slick-center {
        opacity: 1;
        transition: all 0.3s ease-out;
    }

    &--blog  {
        margin: 0 auto 24px;
        .b-card {
            &__image {
                height: 172px;
                margin: 0 auto 13px;
            }
        }  
    }
}
.b-card-genesis {
    margin: 0 5px;
    &__wrapper {
        width: 288px;
        height: 367px;
        background: #FFFFFF;
        box-shadow: 0px 12px 36px 2px rgba(50, 126, 150, 0.12);
        border-radius: 12px;
    }

    &__image {
        border-radius: 12px 12px 0 0;
        height: 164px;
        object-fit: contain;
        width: 100%;
    }

    &__information {
        padding: 23px 17px 24px 24px;
        font-size: 16px;
        line-height: 26px;
    }

    &__name {
        font-weight: bold;
        letter-spacing: 0.04em;
    }

}
.b-catalog {
	padding: 0 0 120px;
	
	&__button,
	&__sorting {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.open-bold();
		text-transform: uppercase;
		font-size: 12px;
		line-height: 21px;
		color: @cl-very-dark-mostly-black-red;
		transition: color .3s ease;
		cursor: pointer;
		position: relative;

		.no-touchevents &:hover,
		.touchevents &:active {
			color: @cl-opium;
		}

		&--border {
			border-radius: 4px;
			border: 1px solid @cl-very-dark-mostly-black-red;
			padding: 7px 31px;
			transition: color .3s ease, border-color .3s ease;

			&:before {
	            content: '';
	            position: absolute;
	            z-index: -1;
	            top: -1px;
	            left: -1px;
	            width: 0;
	            height: ~'calc(100% + 2px)';
	            border-radius: 4px;
	            background: @cl-opium;
	            transition: width .3s ease;
			}

			.no-touchevents &:hover,
			.touchevents &:active {
				color: @cl-white;
				border-color: @cl-opium;

				&:before {
					width: ~'calc(100% + 2px)';
				}
			}
		}
	}

	&__sorting {
		padding: 22px 0 0;
	}

	&__sort {
		position: relative;
	}

	&__sort-link {
		display: block;
		font-size: 16px;
		line-height: 26px;
		color: @cl-very-dark-mostly-black-red;
		transition: color .3s ease;
		cursor: pointer;
		text-align: center;
		width: auto;

		& + & {
			margin-top: 14px;
		}

		&.active {
			.open-bold();
			color: @cl-bright-red;
			pointer-events: none;
		}
	}

	&__wrap {
		display: none;
		position: absolute;
		width: 144px;
		top: 100%;
		left: 0;	
		padding: 23px 18px;
		background: @cl-white;
		box-shadow: 0px 12px 36px 2px rgba(50, 126, 150, 0.12);
		border-radius: 10px;
		z-index: 2;
	}

	&__wrap-box {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__inner {
		display: flex;
		flex-wrap: wrap;
		padding: 4px 0;
		margin: 0 -4px;
		width: ~'calc(100% + 8px)';
	}

	&__more {
		margin-top: 32px;
		width: 100%;
	    display: flex;
	    justify-content: center;
	}

	&__input {
		border: none;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}
}
.b-catalog-menu {
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
	height: 100%;
	z-index: 2;

	&:before {
		content: '';
		position: fixed;
		width: 200vw;
		height: 100%;
		top: 0;
		right: 0;
		opacity: 0;
		transition: opacity .5s ease;
		background: rgba(40, 0, 0, .4);
		display: none;
	}

	&.is-expand {
		z-index: 10;
		// position: fixed;
		
        &:before {
			display: block;
			opacity: 1;
		}
    }

	&__inner {
		transition: transform .5s ease;
		transform: translateX(100%);
		background: @cl-white;
		width: 100%;
        padding: 86px 15px;
        position: fixed;
        z-index: 1;
        right: 0;
        top: 0;
        height: 100%;
		max-width: 714px;
		display: none;

        .is-expand & {
	        transform: translateX(0);   
        }
	}

	&__list {
		height: 100%;
		padding: 0 30px;
	}

	&__link {
		display: block;
		.roboto-regular();
		font-size: 21px;
		line-height: 31px;

		& + & {
			margin: 21px 0 0;
		}

		&--color {
			.roboto-bold();
			color: @cl-bright-red;
		}
	}
}
.b-checkbox {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: 0;
    left: 0;
    font-size: 14px;
    line-height: 1.43;
    margin-bottom: 7px;
    margin-right: 8px;

    &__name,
    &__input {
        display: inline-block;
        width: auto;
    }

    &__input {
        width: 0;
        height: 0;
        left: 0;
        opacity: 0;
        position: absolute;
    }

    &__name {
        position: relative;
        display: block;
        cursor: pointer;
        padding-left: 30px;
        font-size: 15px;
        line-height: 24px;

        &:before {
            content: "";
            position: absolute;
            display: inline-block;
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;
            border-radius: 2px;
            background-color: @checkbox-back;
            transition-property: background-color;
            transition-duration: @animation-time;
        }

        &:after {
            content: "";
            background-color: transparent;
            // background-image: url('../../images/inhtml/checkbox.svg');
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            left: 5px;
            top: 6px;
            opacity: 0;
            transition-property: opacity;
            transition-duration: @animation-time;
            display: block;
            width: 11px;
            height: 6px;
            border-bottom: solid 2px @check-mark;
            border-left: solid 2px @check-mark;
            transform: rotate(-45deg);
        }

        &:hover {
            &:after {
                opacity: 1;
            }
        }
    }

    &__input[type=checkbox]:checked ~ &__name {

        &:after {
            opacity: 1;
        }

        &:before {
            background-color: @checkbox-back-checked;
        }
    }

    &__text {
        display: inline-block;
        vertical-align: middle;
        letter-spacing: 0;
        font-size: 14px;
        line-height: 1.43;
    }

    &__text-mobile {
        display: none;
    }
}
/* 320++  */
.b-contact {
    padding: 36px 0 23px;
    overflow: hidden;

    &__address-box {
        padding: 41px 0 0;
        border-top: 1px solid #C2BBBB;
    }
}
.b-contact-card {
    margin: 0 0 57px;
    display: flex;
    flex-direction: column;
    
	&__phone {
        .roboto-regular;
		font-size: 21px;
        line-height: 31px;
        color: @cl-very-dark-mostly-black-red;
        display: inline-block;
        transition: opacity .3s ease;
        &--main {
            font-size: 30px;
            line-height: 36px;
            font-weight: bold;
            color: @cl-bright-red;
            margin-bottom: 8px;
        }
        .no-touchevents &:hover,
		.touchevents &:active {
            color: @cl-dark-red;
        }
    }

    &__property {
        line-height: 26px;
        color: @cl-grayish-red;
    }

    &__proviso {
        line-height: 26px;
    }
    
    &__email {
        line-height: 26px;
        display: inline-block;
        margin: 10px 0;
        position: relative;
        transition: opacity .3s ease;

        &:before {
            content: '';
            width: 100%;
            height: 1px;
            background: @cl-very-dark-grayish-red;
            position: absolute;
            bottom: 3px;
            left: 0;
            transition: opacity .3s ease; 
        }

        .no-touchevents &:hover,
		.touchevents &:active {
            color: @cl-dark-red;
            &:before {
                background: @cl-dark-red;
            }
        }
    }

    &__address {
        font-style: normal;
        font-size: 16px;
        line-height: 26px;

    }

    &--main {
        margin: 0 0 31px;
    }

    &__button-groupe {
        margin: 30px 0 0;
    }
}
/* 320 + */
.b-container {
    width: 100%;
    padding: 0 16px;

    .b-head-block & {
    	height: 100%;
    }

    &--news-slider,
    &--feedback {
        padding: 0;
        display: flex;
        justify-content: center;
    }
}
/* 320++  */
.b-article {
    padding: 71px 0 40px;

    &__information {
        font-size: 12px;
        line-height: 16px;
        color: @cl-opium;
        margin-bottom: 56px;

        span {
            margin-right: 13px;
        }

        a {
            color: @cl-bright-red;
            text-decoration-line: underline;
            border-right: 1px solid @cl-grayish-red;
            padding-right: 10px;
            margin-right: 10px;
            position: relative;
        }

    }

    h1 {
        line-height: 36px;
        margin-bottom: 26px;
    }

    p, ol, ul {
        font-size: 18px;
        line-height: 30px;
        margin: 0 0 24px;
        word-break: normal;
    }

    p.lead {
        font-size: 21px; 
        line-height: 34px; 
        color: #280000; 
        margin-bottom: 40px;
    }

    p.stress {
        font-weight: bold; 
        letter-spacing: 0.05em;
    }

    p.last {
        margin-bottom: 34px;
    }
    
    img {
        width: 100%;
        border-radius: 12px;
        margin-bottom: 41px;
    }

    h2 {
        color: @cl-dark-red;
        line-height: 36px;
        margin: 0 0 24px;
    }

    a {
        color: @cl-bright-red;
        text-decoration: underline;
        cursor: pointer;
        &:hover {
            color: @cl-dark-red;
        }
    }

    blockquote {
        .roboto-regular;
        font-size: 21px;
        line-height: 31px;
        text-transform: none;
        text-align: left;
        border-left: 1px solid @cl-very-dark-grayish-red;
        padding: 7px 0 0 48px;
        margin: 7px 0 31px;
    }

    ol, ul {
        padding-left: 48px; 

        li:not(:last-child) {
            margin-bottom: 16px;
        }

    }

    ol {
        counter-reset: item;

        li {
            list-style-type: none;
            counter-increment: item;
            &:before {
                content: counter(item) ".";
                font-weight: bold;
                padding-right: 14px;
            }
        }

    }

    ul {
        
        li {
            list-style-type: square;
        }

    }
    &--list {
        
        img {
            margin: 10px 0 30px;
        }

    }

}
.b-decor {
	
	&__img {
		position: absolute;
		z-index: 1;

		&--walnut3 {
			bottom: -161px;
    		left: -79px;
		}

		&--pistachio-big {
			bottom: 35vw;
			right: 35px;
		}

		&--pistachio-small {
			bottom: 21vw;
    		right: 120px;
		}

		&--peanut_2,
		&--cashew_1,
		&--walnut_3,
		&--almond2,
        &--almond-leaf3,
        &--almond-leaf4,
        &--almond-leaf5,
        &--almonds1,
        &--almond-plate1,
        &--pistacchi-plate1,
        &--walnut-pile1,
        &--spoon,
		&--almond1,
		&--almond-blur,
		&--cashew1,
		&--cashew3,
		&--walnut2,
		&--walnut4,
		&--peanut1,
		&--peanut2,
		&--peanut3,
		&--peanut4,
		&--peanut6,
		&--peanut7,
		&--hazelnut,
		&--hazelnut-leaf2 {
			display: none;
		}

		&--pistachio-shadow {
			bottom: 16vw;
			right: 20px;
		}

		&--almond-leaf1 {
			left: 5vw;
    		bottom: -80px;
		}

		&--peanut5 {
			top: -40px;
    		left: 54px;
		}

		&--cashew2 {
			right: -15px;
    		bottom: 37px;
		}

		&--almond3 {
			top: 30%;
			right: -75px;
		}

        &--almond-leaf2{
        	left: 0;
		    bottom: 8%;
		    z-index: 0;
        }

        &--hazelnut_leaf {
        	top: 0;
        	left: 0;
        }

        &--peanut_4 {
        	top: -56px;
		    right: 22px;
		    transform: scale(.7) rotate(130deg);
        }

        &--peanut_6 {
        	top: 36px;
		    right: -55px;
		    transform: scale(.75);
        }

        .content-page & {

        	&--peanut_4 {
        		display: none;
        	}

        	&--peanut_2 {
        		display: block;
			    top: 9vh;
			    right: 13px;
        	}

        	&--hazelnut_leaf_1 {
        		left: -38px;
    			bottom: -10vh;
        	}
        }
	}
}
/* 320++  */
.b-fabric-card {

    &__img-wrapper {
        margin-bottom: 100px;
        overflow: hidden;
    }

    &__image {
        min-height: 240px;
        max-height: 510px;
        width: auto;
    }
    
    &__information {
        padding: 0 16px 0 17px;
        position: relative;
        img {
            position: absolute;
            top: 147px;
            right: -135px;
            display: none;
        }
    }

    &__title {
        .roboto-bold;
        font-size: 17px;
        line-height: 21px;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
    }

    &__text {
        font-size: 16px;
        line-height: 26px;
        color: @cl-opium;
        margin-bottom: 16px;
    }

}
.b-fabric-slider {
    padding-top: 50px;
    margin-bottom: 53px;

    &__header {
        padding: 10px 16px 0 17px;
        // position: relative;
    }

    &__text {
        margin-bottom: 40px;
    }

    &__slider-wrapper {
        position: relative;
    }
    
    &__arrow-block {
        // display: none;
        display: flex;
        align-items: center;
        position: absolute;
        top: calc(~"66vw + 65px");
        right: 50%;
        transform: translateX(50%);
        z-index: 5;
        white-space: nowrap;
        
        span {
            .roboto-bold;
            font-size: 30px;
            line-height: 36px;
            color: @cl-grayish-red;
            &:not(:last-child){
                margin-right: 8px;
            }
            &.active {
                color: @cl-very-dark-grayish-red;
            }
        }
    }


}
.b-feedback {
    max-width: 608px;
    padding-top: 45px;

    &__top-line {
        padding: 0 16px;
        text-align: center;
        margin-bottom: 38px;
    }

    &__description {
        margin: 0;
        line-height: 26px;
    }

    &__form-wrapper {
        background: @cl-light-grayish-cyan;
        padding: 46px 16px 47px;
    }

    &__form {
        max-width: 447px;
        margin: 0 auto;
    }

    &__notice {
        font-size: 12px;
        line-height: 16px;
        margin: 0 0 38px;
    }

    .b-popup & {
        padding: 0;
        margin: 0;

        &__top-line {
            display: none;
        }

        &__form-wrapper {
            padding: 0;
        }

        &__notice {
            margin: 0 0 22px;
        }
    }
}
.b-filter {
	
	&-wrapper {
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		max-width: 959px;
		height: 100%;
		transform: translateX(100%);
		background: @cl-white;
		z-index: 10;
		transition: transform .5s ease;
		padding: 32px;
		display: flex;
		flex-direction: column;

		&:before {
			content: '';
			position: fixed;
			width: 200vw;
			height: 100%;
			top: 0;
			right: 100%;
			opacity: 0;
			transition: opacity .5s ease;
			background: rgba(40, 0, 0, .4);
			display: none;
		}

		&.is-expand {
			position: fixed;
	        transform: translateX(0);
	        z-index: 10;

	        &:before {
				display: block;
				opacity: 1;
			}
	    }
	}

	&-head {
		padding: 0 0 30px;
	}

	&-main {
		height: ~'calc(100% - 170px)';
	}

	&__link {
		display: block;
		padding-right: 26px;
		position: relative;
		.icon('ok', 'after');
		transition: color .3s ease;
		cursor: pointer;

		&:before,
		&:after {
			position: absolute;
			right: 0;
			top: 4px;
			opacity: 0;
			transition: opacity .3s ease;
			width: 18px;
			height: 18px;
		}

		&:before {
			content: '';
			border-radius: 50%;
			background: @cl-bright-red;
		}

		&:after {
			color: @cl-white;
			font-size: 9px;
			line-height: 19px;
			text-align: center;
		}

		.no-touchevents &:hover {
			color: @cl-bright-red;
		}

		&:active {
			.open-bold();
			color: @cl-very-dark-mostly-black-red;
		}

		&.is-select {
			.open-bold();
			color: @cl-very-dark-mostly-black-red;

			&:before,
			&:after {
				opacity: 1;
			}
		}
	}

	&__item {
		
		& + & {
			margin-top: 12px;
		}
	}

	&-container {
		width: 230px;

		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}

	&__input {
		border: none;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}

	&-container--name & {

		&__link {
			padding-left: 36px;
		}
	}

	&-buttons {
		display: flex;
		justify-content: space-between;
		padding: 20px 0;
	}
}
.b-footer {
	position: relative;
	background: @cl-dark-purple;
	z-index: 1;

	&__inner {
		position: relative;
		padding: 25px 0 29px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__menu {
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 20px 0 0;
	}

	&__menu-item {
		list-style: none;

		&--hidden {
			display: none;
		}
	}

	&__contacts {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 43px 0 0;
	}

	&__call {
		.roboto-bold();
		display: block;
		font-size: 30px;
		line-height: 36px;
		color: @cl-white;
		margin: 0 0 13px;
	}

	&__email {
		display: block;
		font-size: 16px;
		line-height: 26px;
		color: @cl-white;
		margin: 0 0 3px;
	}

	&__question {
		display: block;
		font-size: 16px;
		line-height: 26px;
		color: @cl-white;
		text-decoration: underline;
	}

	&__copyright {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 64px;
		width: 100%;
		font-size: 13px;
		color: rgba(255, 255, 255, .8);
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background: rgba(255, 255, 255, .3);
		}
	}
}
.b-genesis-block {
    // background: url("../images/inhtml/cloud.png") top no-repeat;
    // background-position-x: 46%;
    margin-bottom: 115px;

    &__title-box {
        padding: 160px 16px 35px;
    }

    &__slider {

        .slick-list {
            min-height: 410px;
            .slick-slide {
                opacity: 0;
            }
            .slick-active {
                opacity: 1;
            }
        }
    }
    
    &__arrow-block {
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        
        span {
            .roboto-bold;
            font-size: 30px;
            line-height: 36px;
            color: @cl-grayish-red;
            &:not(:last-child){
                margin-right: 8px;
            }
            &.active {
                color: @cl-very-dark-grayish-red;
            }
        }
    }

    &__map-wrapper {
        position: relative;
    }

    &__map {
        display: none;
    }

    &__plane-right {
        position: absolute;
        bottom: -115px;
        right: -81px;
        transform: scale(1.5);
        overflow: hidden;
    }

    &__plane-left {
        display: none;
    }

    &__slider-box {
        position: relative;
        z-index: 1;
    }

}
.b-head-block {
	position: relative;
	width: 100%;
	height: 180px;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}

	&__inner {
		position: relative;
		z-index: 2;
		width: 100%;
		height: 100%;
		padding: 93px 0 15px;
		display: flex;
		flex-direction: column;
	}

	&__img,
	&__image-wrapper {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
	}

	&__image-wrapper {

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: @cl-very-dark-mostly-black-red;
			opacity: .4;
			z-index: 1;
		}
	}

	&__lead {
		display: none;
		.roboto-regular();
		font-size: 21px;
		line-height: 31px;
		color: @cl-white;
	}

	&__lead-mobile {
		font-size: 21px;
		line-height: 31px;
		.roboto-regular();
		color: @cl-very-dark-mostly-black-red;
		margin: 0 0 40px;
	}

	&__information {
        font-size: 12px;
        line-height: 16px;
        display: flex;
        color: @cl-white;
        margin: 5vh 0 0;

        span {
            margin-right: 10px;
        }

        span,
        time {
        	opacity: .8;
        }

        a {
        	color: @cl-white;
            text-decoration: underline;
        }
    }

    &__information-source {
    	padding-right: 11px;
    	margin-right: 10px;
    	position: relative;

    	&:before {
    		content: '';
    		position: absolute;
    		top: 50%;
    		right: 0;
    		width: 1px;
    		height: 32px;
    		background: @cl-gorse;
    		transform: translateY(-50%);
    	}
    }

    &__arrow {
    	color: @cl-white;
    	margin: auto auto 0;
    	position: relative;
    	align-self: center;
    }

    &__arrow-text {
    	display: none;
    	position: absolute;
    	left: 55px;
    	top: 50%;
    	transform: translateY(-50%);
    	width: 125px;
    	font-size: 22px;
		line-height: 24px;
		.caveat();
    }

	&--catalog {
		background: @cl-bright-red;

		&:before {
			background: radial-gradient(50% 100% at 50% 100%, #F33939 0%, rgba(243, 57, 57, 0.5) 48.96%, rgba(165, 26, 27, 0.8) 100%);
			opacity: .4;
		}
    }
    
    &--blog,
    &--about {
        background: @cl-moderate-yellow;
        &:before {
			background: radial-gradient(50% 100% at 50% 100%, #B2C55A 0%, rgba(176, 198, 89, 0.5) 40.23%, rgba(127, 156, 66, 0.8) 86.46%, #7E9C41 100%);
			opacity: .6;
		}
    }

    &--contact {
        background: @cl-light-grayish-blue;
        overflow: hidden;
        &:before {
			background: radial-gradient(50% 100% at 50% 100%, #FCFDFE 0%, rgba(252, 253, 254, 0.5) 38.54%, #F5F8FB 87.5%, #ECF1F7 100%);
			opacity: .6;
		}
    }

    .content-page & {
    	background: @cl-moderate-yellow;

    	&:before {
    		background: radial-gradient(50% 100% at 50% 100%, #B2C55A 0%, rgba(176, 198, 89, 0.5) 40.23%, rgba(127, 156, 66, 0.8) 86.46%, #7E9C41 100%);
    		opacity: .6;
    	}

    	&__inner {
    		padding: 29vh 0 5vh;
    	}
    }
}
.b-head-block-slider {
	width: 100vw;
	height: 100vh;
	background: @cl-bright-red;
	box-shadow: 0px 12px 70px rgba(244, 0, 2, 0.3);
	position: relative;
	z-index: 1;
	transition: background 1s ease-out;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: @cl-hover-default-before;
		opacity: .4;
		transition: background 1s ease-out;
	}

	&[data-color='peanut'] {
		background: @cl-bright-red;

		&:before {
			background: radial-gradient(61.56% 47.94% at 58.91% 51.07%, #F33939 0%, rgba(243, 57, 57, 0.5) 48.96%, rgba(165, 26, 27, 0.8) 100%);
		}
	}

	&[data-color='cashew'] {
		background: @cl-hover-cashew;
	}

	&[data-color='peanut'] {
		background: @cl-hover-peanut;
	}

	&[data-color='hazelnut'] {
		background: @cl-hover-hazelnut;
	}

	&[data-color='pistachio'] {
		background: @cl-hover-pistachio;
	}

	&[data-color='almond'] {
		background: @cl-hover-almond;
	}

	&[data-color='walnut'] {
		background: @cl-hover-walnut;

		&:before {
			background: @cl-hover-walnut-before;
		}
	}

	&[data-color='pine-nut'] {
		background: @cl-hover-pine;
	}

	&[data-color='cashew-dark'] {
		background: @cl-hover-cashew-dark;
	}

	&[data-color='peanut-dark'] {
		background: @cl-hover-peanut-dark;
	}

	&[data-color='hazelnut-dark'] {
		background: @cl-hover-hazelnut-dark;
	}

	&[data-color='pistachio-dark'] {
		background: @cl-hover-pistachio-dark;
	}

	&[data-color='walnut-dark'] {
		background: @cl-hover-walnut-dark;

		&:before {
			background: @cl-hover-walnut-before;
			opacity: .5;
		}
	}

	&[data-color='pine-nut-dark'] {
		background: @cl-hover-pine-dark;
	}

	.slick-slider,
	.slick-list,
	.slick-track,
	.slick-slide,
	.b-container {
		height: 100%;
	}

	// .slick-slider {
	// 	z-index: 2;
	// }

	.slick-dots {
		position: absolute;
		left: 50%;
		bottom: 2vh;
		transform: translateX(-50%);
		z-index: 2;
		margin: 0;
		padding: 0;
		display: flex;

		li {
			list-style: none;
			width: 41px;
			height: 41px;
			border-radius: 50%;
			border: 1px solid transparent;
			transition: border-color .2s ease;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			cursor: pointer;

			&.slick-active {
				border-color: @cl-white;

				a {
					color: @cl-white;
				}

				.progress-bar {
					stroke-width: 3;
				}
			}

			.no-touchevents &:hover,
			.touchevents &:active {

				a {
					color: @cl-white;
				}
			}
		}

		li + li {
			margin-left: 20px;
		}

		a {
			.roboto-bold();
			display: block;
			border-radius: 50%;
			font-size: 18px;
			text-align: center;
			letter-spacing: 0.01em;
			color: rgba(255, 255, 255, .7);
			transition: color .2s ease;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.progress {
		fill: transparent;
		width: 43px;
		height: 43px;
		flex-shrink: 0;
		transform: rotate(-90deg);
	}

	.progress-bar {
		stroke: @cl-white;
  		stroke-width: 0;
  		transition: stroke-width .2s ease;
	}

	&__description-wrapper,
	&__main {
		display: none;
	}

	&__inner {
		height: 100%;
	}

	&__lead {
		.roboto-regular();
		font-size: 18px;
		line-height: 31px;
		color: @cl-white;
	}

	&__image-wrapper {
		height: 50%;
		display: flex;
		align-items: flex-end;
		transform: translateY(-100vh);
		transition: transform .5s ease;
		width: 116%;
    	margin-left: -15px;

		.slick-current & {
			transform: translateY(15px);
		} 
	}

	// &__image-content {
	// 	position: relative;
	// 	width: 100%;
	// 	height: 100%;
	// }

	// &__image {
	// 	position: absolute;
	// 	bottom: 0;

	// 	&--left {
	// 		width: 190px;
	// 		left: 0;
	// 		transform: translate(-17px, 15px);
	// 	}

	// 	&--center {
	// 		width: 210px;
	// 		left: 50%;
	// 		transform: translate(-114px, 13px);
	// 	}

	// 	&--right {
	// 		width: 156px;
	// 		right: 0;
	// 		transform: translate(32px, 10px);
	// 	}
	// }

	&__text-wrapper {
		padding: 18px 0;
	}

	&__header {
		margin: 0 0 18px;
	}
}
.b-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	background: transparent;
	z-index: 10;

	&__inner {
		padding: 15px 0;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
}
/* 320 + */
.b-history-block {
    margin-bottom: 59px;

    &__text-inner {
        padding: 41px 15px 0 16px;
        
    }

    &__text {
        line-height: 26px;
        margin: 0 0 21px;
    }

    &__shell {
        position: relative;
        margin-left: -35px;
        display: flex;
        justify-content: flex-end;
    }

    &__img-wrapper {
        width: 359px;
        position: relative;
    }

    &__signature {
        position: absolute;
        bottom: -70px;
        right: 145px;
    }

    &__year {
        .roboto-bold;
        font-size: 30px;
        line-height: 36px;
        color: @cl-vivid-green;
        margin-bottom: 12px;
        flex-shrink: 0;
    }

    &__detail {
        .caveat;
        font-size: 18px;
        line-height: 20px;
        font-weight: bold;
        letter-spacing: 0.02em;
        color: @cl-opium;
        width: 159px;
        position: relative;
        flex-shrink: 0;
    }

    &__arrow {
        position: absolute;
        bottom: -14%;
        right: -51%;
        transform: rotate(-27deg);
    }
}
/* 320 + */
.b-hr {
    margin-top: 0;
    margin-bottom: 15px;
    padding-top: 15px;

    &--none {
        margin: 0;
        padding: 0;
    }
}
/* 320 + */
.b-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;

	.b-info-block & {
		margin: 0 -22px 34px -48px;
		width: ~'calc(100% + 70px)';
    }
    
    &--news-slider {
        font-size: 21px;
        color: @cl-flamenco;
    }

    &--plus {
        display: none;
    }
    
    .b-filter__link & {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 24px;
    	height: 26px;
    	font-size: 21px;
    	color: @cl-bright-red;
    } 

    &--slider-left {
        margin-right: 25px;
    }

    &--pagination {
        font-size: 21px;
        
        .no-touchevents &:hover {
            color: @cl-bright-red;
        }
    }

    &--map {
        color: @cl-bright-red;
        margin-right: 15px;
    }

    &--close-popup {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    &--fabric-slider {
        font-size: 23px;
        color: @cl-vivid-green;
        margin: 0 21px;
    }

    .b-social & {
        transition: transform .3s ease;
    }
}

.icon {

	&-nuts {
		font-size: 63px;
		height: 63px;
		color: @cl-fire-engine-red;
	}

	&-tech {
		font-size: 64px;
		height: 64px;
		color: @cl-dark-purple;
	}

	&-certificate {
		font-size: 65px;
		height: 65px;
		color: @cl-flamenco;
	}

	&-eco {
		font-size: 65px;
		height: 65px;
		color: @cl-dark-yellow;
	}

	&-catalog {
		font-size: 40px;
		height: 40px;
    }

    &-sorting,
    &-filter {
    	width: 20px;
    	height: 20px;
    }

    &-sorting {
    	font-size: 6px;
    	margin-left: 4px;
    }

    &-filter {
    	font-size: 16px;
    	margin-right: 10px;
    }

    &-more {
        margin-right: 10px;
        font-size: 20px;
    }

    &-arrow-down {
        font-size: 48px;
    }

    &-send {
        font-size: 93px;
        color: @cl-bright-red;
        margin: 0 0 21px;
    }
}
.b-info-block {
	position: relative;
	width: 100%;
	background: url("../images/inhtml/bg_info_mob.svg") bottom/cover no-repeat;
	padding: 55px 0 53vw;

	&__inner {
		overflow: hidden;
		background: @cl-white;
		box-shadow: 0px 20px 80px rgba(215, 122, 14, 0.2);
		border-radius: 20px;
		padding: 60px 22px 50px 48px;
	}

	&__card {

		& + & {
			margin-top: 70px;
		}
    }
    
    &--about {
        background: 
        url("../images/inhtml/mountains.png") bottom/185% no-repeat,
        linear-gradient(360deg, rgba(220, 217, 233, 0.5) 1.64%, rgba(242, 212, 215, 0.2) 51.33%, rgba(220, 217, 233, 0) 100%);
        padding: 85px 0 163px;
        margin-bottom: -2px;

        .b-info-block {
        	
            &__inner {
                background: transparent;
                box-shadow: none;
                border-radius: 0;
                padding: 10px 29px 0 64px;
            }
        }
    }
}

/* 320 + */
.b-input {
    width: 100%;
    
    &__input-field {
        height: 38px;
        border-radius: 2px;
        background-color: @form-back;
        padding: 7px 18px;
        border: 1px solid @form-border;
        transition: border .3s;
        font-size: 16px;
        line-height: 1.5;
        padding: 0 15px 0 7px;

        -webkit-appearance: none;
        -moz-appearance:    none;
        appearance:         none;


        &:focus {
            // border: 1px solid @cl-4l-background-point-menu;
        }

        &[disabled] {
            // background-color: @cl-4l-light-gray;
        }

        &[placeholder]{
            text-overflow:ellipsis;
        }

        &::-webkit-input-placeholder {
            color: @cl-font-light;
            opacity: 1;
            text-overflow:ellipsis;
        }
        &:-moz-placeholder {
            color: @cl-font-light;
            opacity: 1;
            text-overflow:ellipsis;
        }
        &::-moz-placeholder {
            color: @cl-font-light;
            opacity: 1;
            text-overflow:ellipsis;
        }
        &:-ms-input-placeholder {
            color: @cl-font-light;
            opacity: 1;
            text-overflow:ellipsis;
        }

        &.error {
            border: 1px solid @cl-bright-red;

            &::-webkit-input-placeholder {
                color: @cl-bright-red;
            }
            &:-moz-placeholder {
                color: @cl-bright-red;
            }
            &::-moz-placeholder {
                color: @cl-bright-red;
            }
            &:-ms-input-placeholder {
                color: @cl-bright-red;
            }
        }

        &.ok {
            // border: 2px solid @cl-font-light;
        }

        &--feedback {
            border: 1px solid #D6D6D6;
            border-radius: 4px; 
            margin-bottom: 18px;
            height: 48px;
            max-width: 447px; 

            .b-popup & {
                margin-bottom: 10px;
            }
        }
    }

    &__label {
        &--feedback {
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 8px;

            .b-popup & {
                margin-bottom: 6px;
            }
        }
    }

    &__textarea-field {
        border: 1px solid #D6D6D6;
        border-radius: 4px; 
        margin-bottom: 19px;
        max-width: 447px;
        height: 100px;
        padding: 13px 18px;

        &.error {
            border: 1px solid @cl-bright-red;

            &::-webkit-input-placeholder {
                color: @cl-bright-red;
            }
            &:-moz-placeholder {
                color: @cl-bright-red;
            }
            &::-moz-placeholder {
                color: @cl-bright-red;
            }
            &:-ms-input-placeholder {
                color: @cl-bright-red;
            }
        }

        &.ok {
            // border: 2px solid @cl-font-light;
        }

        .b-popup & {
            margin-bottom: 10px;
            height: 72px;
        }
    }
}
/* 320 + */
.b-link {
    display: inline;
    text-decoration: none;
    transition: color @animation-time;
    cursor: pointer;

    // Общие
    &--block {
        display: block;
    }

    &--bold {
    	display: block;
    	.open-bold;
    	text-transform: uppercase;
    	font-size: 12px;
    	line-height: 1;
    	color: @cl-white;
    	margin: 10px 0 0;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 0;
            height: 1px;
            background: @cl-white;
            transition: width .5s ease;
        }

        .no-touchevents &:hover,
        .touchevents &:active {
            color: @cl-white;

            &:before {
                width: 100%;
            }
        }
    }

    &--right {
        margin-left: auto;
    }

    &--color {
    	color: @cl-pure-or-mostly-pure-yellow;

        &:before {
            background: @cl-pure-or-mostly-pure-yellow;
        }

        .no-touchevents &:hover,
        .touchevents &:active {
            color: @cl-pure-or-mostly-pure-yellow;
        }
    }

    &--burger {
    	display: inline-block;
    	.roboto-bold;
    	font-size: 23px;
		line-height: 32px;
		letter-spacing: 0.01em;
		color: @cl-dark-red;
		z-index: 1;
		.icon('hover-menu');
		position: relative;

		&:before {
			position: absolute;
			left: -52px;
			bottom: 6px;
			opacity: 0;
			transition: opacity @animation-time;
			font-size: 57px;
		}

		.no-touchevents &:hover,
		.touchevents &:active {
			color: @cl-bright-red;

			&:before {
				opacity: 1;
			}
		}
    }

    &--footer-menu {
    	.roboto-regular();
    	display: inline-block;
    	color: @cl-white;
    	margin: 0 0 18px;
    	font-size: 21px;
		line-height: 31px;
    }

    &--contact-link {
        line-height: 26px;
        text-decoration: underline;
        color: @cl-very-dark-grayish-red;
        display: inline-block;
        margin: 8px 0 0;
        .no-touchevents &:hover,
		.touchevents &:active {
			color: @cl-dark-red;
		}
    }

}
.b-logo {
	display: block;
	width: 68px;
	height: 68px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 10px);

	// .no-touchevents &:hover &,
 //    .touchevents &:active &{

 //    	&__image {
 //    		transform: scale(1.2);
 //    	}
 //    }

 //    &__image {
 //    	transition: transform .3s ease;
 //    }

	.b-footer & {
		position: static;
		transform: none;
		width: 110px;
		height: 110px;
	}

	.b-burger__menu & {
		width: 41px;
		height: 41px;
		top: 15px;
		left: 15px;
		transform: none;
		z-index: 1;
	}
}
/* 320 + */
.b-main {
    flex: 1 0 auto;
}
.b-manufacturer {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 82px;
	padding: 6px 45px 6px 75px;
	background: rgba(166, 217, 29, .12);
	z-index: 1;
	display: flex;
	align-items: center;

	&__link {
		.roboto-regular;
		color: @cl-charcoal;
		font-size: 12px;
		line-height: 16px;
		display: flex;
		align-items: center;
		.icon('logo-gl');

		&:before {
			font-size: 56px;
			height: 56px;
			color: @cl-apple;
			display: flex;
		    align-items: center;
		    justify-content: center;
		    transition: transform .3s ease;
		}

		span {
			margin-left: 23px;
			text-decoration: underline;
		}

		.no-touchevents &:hover,
        .touchevents &:active {
        	color: @cl-charcoal;

        	&:before {
        		transform: scale(1.2);
        	}
        }
	}

	.b-footer & {
		left: 0;
		right: auto;
		top: 186px;
		bottom: auto;
		width: auto;
		height: auto;
		padding: 0 4px;
		background: transparent;

		&__link {
			flex-direction: column-reverse;
			color: @cl-white;

			&:before {
				font-size: 88px;
				height: 88px;
			}

			span {
				margin: 0 0 10px;
			}

			.no-touchevents &:hover,
	        .touchevents &:active {
	        	color: @cl-white;
	        }
		}
	}
}
.b-map {
	width: 100%;
	height: 400px;

	.body {
		padding: 26px 31px;
	}

	h4 {
		.roboto-bold();
		font-size: 23px;
		line-height: 32px;
		letter-spacing: 0.01em;
	}

	.name {
		.open-regular();
		font-size: 16px;
		line-height: 26px;
		margin: 16px 0 0;
		color: @cl-grayish-red;
	}

	.value {
		.roboto-bold();
		font-size: 17px;
		line-height: 21px;
		letter-spacing: 0.02em;
		margin: 0;
	}

	.route {
		.open-regular();
		padding: 16px 30px;
		position: relative;
		.icon('route');
		font-size: 16px;
		line-height: 23px;
		color: @cl-opium;
		display: block;

		&:before {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			font-size: 15px;
			color: @cl-bright-red;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background: @cl-light-grayish-cyan;
		}
	}

	.ymaps-2-1-77-balloon,
	.ymaps-2-1-78-balloon,
	.ymaps-2-1-79-balloon {
		box-shadow: none;
		transform: scale(.65);
	}

	.ymaps-2-1-77-balloon__close+.ymaps-2-1-77-balloon__content,
	.ymaps-2-1-78-balloon__close+.ymaps-2-1-78-balloon__content,
	.ymaps-2-1-79-balloon__close+.ymaps-2-1-79-balloon__content {
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	.ymaps-2-1-77-balloon-content__header,
	.ymaps-2-1-78-balloon-content__header,
	.ymaps-2-1-79-balloon-content__header {
		margin: 0;
		line-height: 1;
	}

	.ymaps-2-1-77-balloon__layout,
	.ymaps-2-1-78-balloon__layout,
	.ymaps-2-1-79-balloon__layout {
		width: 366px;
		background: @cl-white;
		box-shadow: 0px 12px 36px 2px rgba(50, 126, 150, 0.12);
		border-radius: 12px;
	}

	.ymaps-2-1-77-balloon__close+.ymaps-2-1-77-balloon__content>ymaps,
	.ymaps-2-1-78-balloon__close+.ymaps-2-1-78-balloon__content>ymaps,
	.ymaps-2-1-79-balloon__close+.ymaps-2-1-79-balloon__content>ymaps {
		width: auto!important;
		height: auto!important;
	}

	.ymaps-2-1-77-balloon__tail,
	.ymaps-2-1-78-balloon__tail,
	.ymaps-2-1-79-balloon__tail {
		display: none;
	}

	.ymaps-2-1-77-balloon__close-button,
	.ymaps-2-1-78-balloon__close-button,
	.ymaps-2-1-79-balloon__close-button {
		background: transparent;
		opacity: 1;
		
		&:before,
    	&:after {
	        content: '';
	        display: block;
	        width: 21px;
	        height: 3px;
	        background: @cl-opium;
	        position: absolute;
	        top: 50%;
	        left: 50%;
	    }

	    &:before {
	        transform: translate(-50%, -50%) rotate(45deg);
	    }

	    &:after {
	        transform: translate(-50%, -50%) rotate(-45deg);
	    }

	    .no-touchevents &:hover,
	    .touchevents &:active {
	    	opacity: .5;
	    }
	}

	.ymaps-2-1-77-balloon-content__footer,
	.ymaps-2-1-78-balloon-content__footer,
	.ymaps-2-1-79-balloon-content__footer {
		padding: 0 31px;
		margin: 0;
	}
}
.b-market-block {
	position: relative;
	padding: 73px 0;
	background: @cl-light-gray url('../images/inhtml/bg-market.jpg') center/cover no-repeat;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, #443C3C 1.19%, rgba(68, 60, 60, 0) 53.6%);
		opacity: .07;
	}

	&__image {
    	transition: transform .3s ease-out;
        max-width: 235px;
        max-height: 109px;
	}

    &__item {
        margin-top: 27px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

	&__link {
		display: block;
		position: relative;
		z-index: 3;

		.no-touchevents &:hover,
    	.touchevents &:active {

    		.b-market-block__image {
    			transform: scale3d(1.05, 1.05, 1.05);
    		}
    	}
	}

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 22px 0;
	}
}
.b-nav {
	margin: auto 0 0;

	&__list {
		display: flex;
		white-space: nowrap;
		padding: 0;
		overflow-y: hidden;
		overflow-x: auto;
	}

	&__item {
		list-style: none;

		& + & {
			margin-left: 24px;
		}
	}

	&__link {
		.open-bold();
		color: rgba(255, 255, 255, .7);
		font-size: 12px;
		line-height: 21px;
		text-transform: uppercase;

		.no-touchevents &:active,
		.touchevents &:active {
			color: @cl-white;
		}
		
		&.active {
			color: @cl-white;
			pointer-events: none;
		}
	}

	&__input {
		border: none;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}
}
.b-news-slider {
    border-top: 1px solid rgba(74, 74, 74, 0.3);
    margin-bottom: 5px;
    width: 100%;

    &__header {
        display: flex;
        align-items: flex-start;
        padding: 20px 23px 0 16px;
    }

    &__arrow {
        margin-left: auto;
        display: flex;
    }

    .slick-list {
        min-height: 415px;
        padding-top: 15px;
    }

}
.b-not-found {
	padding: 110px 0;
	overflow: hidden;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 4.31%, rgba(255, 255, 255, 0) 83.47%),
				url('../images/inhtml/bg-market.jpg') center/cover no-repeat;
	background-size: 1430px 954px;

	.b-container {
		height: 100%;
	}

	&__text {
		margin: 18px 0 28px;
		font-size: 16px;
		line-height: 26px;
		color: @cl-opium;
	}

	&__img {
		width: 100%;
	    height: auto;
	    min-height: 100%;
	    object-fit: cover;
	}

	&__content {
		margin-bottom: 5vh;
		max-width: 560px;
	}

	&__img-wrap {
		height: 100px;
		width: 100%;
		max-width: 484px;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		align-items: center;
	}
}
/* 320 + */
.b-page-wrapper {
    position: relative;
    z-index: 5;
    display: flex;
    width: 100vw;
    min-width: 320px;
    flex-direction: column;
    justify-content: space-between;
    -webkit-overflow-scrolling: touch;
    // overflow-x: hidden;
    // overflow-y: auto;
    height: auto;
    overflow: hidden;

    &.no-scroll {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
    }

    &.no-touch {
        pointer-events: none;
        touch-action: none;
    }

    // fix scroll block when open popup
    // need only for windows
    // and only desktop
    // and have scroll
    &.no-scroll&.windows {
        padding-right: 17px;
    }

    .about & {
        background-image: url("../images/inhtml/cloud.png");
        background-repeat: no-repeat;
        background-size: 1920px;
        background-position: 48% 24.5%;
    }
}
/* 320 + */
.b-pagination {
    margin-left: auto;
    margin-right: auto;
    width: 16em;
    &__list {
        margin-left: 0;
        padding-left: 0;
        // max-width: 290px;
        display: flex;
        align-items: center;
        // flex-direction: row;
        justify-content: space-between;
        
    }
    
    &__item {
        list-style-type: none;
        // margin-right: 40px; 

        // &:not(:last-child) {
        //     margin-right: 40px;
        // }
    }

    &__link {
        .roboto-regular;
        font-size: 18px;
        line-height: 26px;
        font-weight: bold;
        
        transition: all 300ms ease-out;
        position: relative;
        
        

        &:before {
            content: '';
            display: none;
            width: 41px;
            height: 41px;
            border: 1px solid @cl-bright-red;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
        }
        &.current {
            color: @cl-bright-red;
            &:before {
                display: block;
            }
        }

        .no-touchevents &:hover,
        .touchevents &:active {
            color: @cl-bright-red;
        }
    }

    .disabled {
        display: none;
    }

}
/* 320 + */
.b-popup {
    display: none;
    position: fixed;
    -webkit-overflow-scrolling: touch;
    z-index: 15000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(40, 0, 0, .4);

    &__fix-scroll {
        display: flex;
        width: ~"calc(100vw - 40px)";
        margin-left: 20px;
        padding: 20px 0;
        margin-right: auto;
        flex-direction: row;
        flex-wrap: wrap;
        min-height: 100%;
    }

    &__clearfix {

        &:after {
            content: '';
            clear: both; 
            display: block;
        }
    }

    &__content {
        margin: auto;
    }

    &.open {
        display: block;
    }

    &--product {
        overflow: hidden;

        p {
            margin: 0 0 12px;
        }

        .slick-arrow {
            padding: 5px;
            background: transparent;
            border: none;
            color: @cl-flamenco;

            &:before {
                font-size: 22px;
            }
        }

        .next {
            .icon('arrow-right');
        }

        .prev {
            .icon('arrow-left');
            margin-right: 9px;
        }

        &[data-type='cashew'] {
            .slick-arrow,
            .b-breadcrumbs__item:after,
            .b-breadcrumbs__item:before {
                color: @cl-hover-cashew;
            }
            .b-popup__dots.on {
                border-color: @cl-hover-cashew;
            }
            .os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle,
            .b-popup__table {
                background: @cl-hover-cashew;
            }
        }

        &[data-type='peanut'] {
            .slick-arrow,
            .b-breadcrumbs__item:after,
            .b-breadcrumbs__item:before {
                color: @cl-hover-peanut;
            }
            .b-popup__dots.on {
                border-color: @cl-hover-peanut;
            }
            .os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle,
            .b-popup__table {
                background: @cl-hover-peanut;
            }
        }

        &[data-type='hazelnut'] {
            .slick-arrow,
            .b-breadcrumbs__item:after,
            .b-breadcrumbs__item:before {
                color: @cl-hover-hazelnut;
            }
            .b-popup__dots.on {
                border-color: @cl-hover-hazelnut;
            }
            .os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle,
            .b-popup__table {
                background: @cl-hover-hazelnut;
            }
        }

        &[data-type='pistachio'] {
            .slick-arrow,
            .b-breadcrumbs__item:after,
            .b-breadcrumbs__item:before {
                color: @cl-hover-pistachio;
            }
            .b-popup__dots.on {
                border-color: @cl-hover-pistachio;
            }
            .os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle,
            .b-popup__table {
                background: @cl-hover-pistachio;
            }
        }

        &[data-type='almond'] {
            .slick-arrow,
            .b-breadcrumbs__item:after,
            .b-breadcrumbs__item:before {
                color: @cl-hover-almond;
            }
            .b-popup__dots.on {
                border-color: @cl-hover-almond;
            }
            .os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle,
            .b-popup__table {
                background: @cl-hover-almond;
            }
        }

        &[data-type='walnut'] {
            .slick-arrow,
            .b-breadcrumbs__item:after,
            .b-breadcrumbs__item:before {
                color: @cl-hover-walnut;
            }
            .b-popup__dots.on {
                border-color: @cl-hover-walnut;
            }
            .os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle,
            .b-popup__table {
                background: @cl-hover-walnut;
            }
        }

        &[data-type='pine-nut'] {
            .slick-arrow,
            .b-breadcrumbs__item:after,
            .b-breadcrumbs__item:before {
                color: @cl-hover-pine;
            }
            .b-popup__dots.on {
                border-color: @cl-hover-pine;
            }
            .os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle,
            .b-popup__table {
                background: @cl-hover-pine;
            }
        }

        &[data-type='cashew-dark'] {
            .slick-arrow,
            .b-breadcrumbs__item:after,
            .b-breadcrumbs__item:before {
                color: @cl-hover-cashew-dark;
            }
            .b-popup__dots.on {
                border-color: @cl-hover-cashew-dark;
            }
            .os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle,
            .b-popup__table {
                background: @cl-hover-cashew-dark;
            }
        }

        &[data-type='peanut-dark'] {
            .slick-arrow,
            .b-breadcrumbs__item:after,
            .b-breadcrumbs__item:before {
                color: @cl-hover-peanut-dark;
            }
            .b-popup__dots.on {
                border-color: @cl-hover-peanut-dark;
            }
            .os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle,
            .b-popup__table {
                background: @cl-hover-peanut-dark;
            }
        }

        &[data-type='hazelnut-dark'] {
            .slick-arrow,
            .b-breadcrumbs__item:after,
            .b-breadcrumbs__item:before {
                color: @cl-hover-hazelnut-dark;
            }
            .b-popup__dots.on {
                border-color: @cl-hover-hazelnut-dark;
            }
            .os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle,
            .b-popup__table {
                background: @cl-hover-hazelnut-dark;
            }
        }

        &[data-type='pistachio-dark'] {
            .slick-arrow,
            .b-breadcrumbs__item:after,
            .b-breadcrumbs__item:before {
                color: @cl-hover-pistachio-dark;
            }
            .b-popup__dots.on {
                border-color: @cl-hover-pistachio-dark;
            }
            .os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle,
            .b-popup__table {
                background: @cl-hover-pistachio-dark;
            }
        }

        &[data-type='walnut-dark'] {
            .slick-arrow,
            .b-breadcrumbs__item:after,
            .b-breadcrumbs__item:before {
                color: @cl-hover-walnut-dark;
            }
            .b-popup__dots.on {
                border-color: @cl-hover-walnut-dark;
            }
            .os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle,
            .b-popup__table {
                background: @cl-hover-walnut-dark;
            }
        }

        &[data-type='pine-nut-dark'] {
            .slick-arrow,
            .b-breadcrumbs__item:after,
            .b-breadcrumbs__item:before {
                color: @cl-hover-pine-dark;
            }
            .b-popup__dots.on {
                border-color: @cl-hover-pine-dark;
            }
            .os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle,
            .b-popup__table {
                background: @cl-hover-pine-dark;
            }
        }
    }

    &--product & {

        &__content {
            width: 100%;
            height: 100%;
            background: @cl-white;
            box-shadow: 0px 12px 36px 2px rgba(50, 126, 150, 0.12);
        }

        &__inner {
            padding: 16px;
        }

        &__row {
            display: flex;
        }

        &__name {
            color: @cl-grayish-red;
            margin-right: 12px;
        }

        &__text-row {
            margin: 0 0 34px; 
        }

        &__slide {
            width: 100%;
            background: @cl-light-grayish-cyan;
            border-radius: 4px;
        }

        &__slide-box {
            position: relative;
            width: 100%;
            padding-bottom: 100%;
            border-radius: 4px;
            background: radial-gradient(63.8% 63.8% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);

            img {
                width: 100%;
                max-height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                object-fit: contain;
            }
        }

        &__slider-pagination {
            display: flex;
            justify-content: space-between;
        }

        &__dots {
            width: ~'calc(20% - 8px)';
            flex-shrink: 0;
            line-height: 0;
            border-radius: 3px;
            padding: 1px;
            background: @cl-light-grayish-cyan;
            cursor: pointer;
            border: 2px solid transparent;
            transition: border-color .3s ease;

            &.on {
                border-color: @cl-flamenco;
            }
        }

        &__image-slider {
            margin-bottom: 10px;
        }

        &__lead-box {
            margin: 23px 0 22px;
        }

        &__image-box {
            margin: 0 0 43px;
        }

        &__image-wrapper {
            margin: 0 0 16px;
        }

        &__table {
            border-radius: 4px;
            background: @cl-flamenco;
            color: @cl-white;
            font-size: 12px;
            line-height: 16px;
            padding: 17px 24px 21px;
        }

        &__kpfc {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            border: 1px solid rgba(237, 243, 243, .4);
            padding: 10px 20px 0;
            border-radius: 4px;
            margin: 8px 0 22px;
        }

        &__kpfc-item {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 8px;
        }

        &__kpfc-name {
            opacity: .7;
        }

        &__kpfc-value {
            font-size: 16px;
            line-height: 26px;
        }

        &__composition-item {
            display: flex;
            align-items: center;

            & + .b-popup__composition-item {
                margin: 20px 0 0;
            }
        }

        &__composition-image {
            width: 40px;
            margin-right: 16px;
            flex-shrink: 0;
        }

        &__composition-description {

            span {
                display: block;
            }
        }

        &__lead {
            display: none;
        }

        &__popular {
            position: relative;
            padding: 20px 0 25px;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: @cl-charcoal;
                opacity: .3;
            }

            // .slick-track { display: flex !important; } 
            // .slick-slide { height: inherit !important; display: flex !important; justify-content: center; align-items: stretch; }
        }

        &__arrows {
            position: absolute;
            top: 20px;
            right: 0;
        }
    }

    .os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle {
        background: @cl-flamenco;
        border-radius: 4px;
    }

    .os-host-resize-disabled.os-host-scrollbar-horizontal-hidden>.os-scrollbar-vertical {
        background: @cl-light-grayish-cyan;
        border-radius: 0;
    }

    &--send & {
        
        &__content {
            position: relative;
            width: 288px;
            background: @cl-white;
            border-radius: 12px;
            padding: 76px 38px 43px;
        }

        &__inner {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__text {
            text-align: center;
            color: @cl-opium;
            font-size: 16px;
            line-height: 26px;

            span {
                display: block;
            }
        }
    }

    &--form & {

        &__content {
            position: relative;
            width: 288px;
            background: @cl-azure;
            border-radius: 12px;
            padding: 25px 20px 31px;
        }
    }
}
.b-popup-map {
    
    &__wrapper {
        width: 366px;
        height: 471px;
        background: #FFFFFF;
        box-shadow: 0px 12px 36px 2px rgba(50, 126, 150, 0.12);
        border-radius: 12px;
        position: relative;
    }

    &__image {
        height: 186px;
        border-radius: 12px 12px 0 0;
    }

    &__text {
        padding: 20px 31px 0;
    }

    &__title {
        .roboto-bold;
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.01em;
        margin-bottom: 16px;
    }

    p {
        font-size: 16px;
        line-height: 26px;
        color: #C2BBBB;
        margin: 0;
    }

    &__phone,
    &__address {
        .roboto-bold;
        font-size: 17px;
        line-height: 21px;
        letter-spacing: 0.02em;
    }

    &__phone {
        display: block;
        margin-bottom: 16px;
        .no-touchevents &:hover,
		.touchevents &:active {
            color: @cl-dark-red;
        }
    }

    &__address {
        font-style: normal;
        margin-bottom: 21px;
    }

    &__link {
        display: flex;
        flex-direction: row;
        padding: 17px 0 0 4px;
        border-top: 1px solid #EDF3F3;
    }

    &__close {
        position: absolute;
        z-index: 99;
        top: 20px;
        right: 0px;
        width: 41px;
        height: 41px;
        &:before {
            content: '';
            width: 21px;
            height: 3px;
            transform: rotate(45deg);
            background: #8D8383;
            position: absolute;
        }
        &:after {
            content: '';
            width: 21px;
            height: 3px;
            transform: rotate(-45deg);
            background: #8D8383;
            position: absolute;
        }
    }
    
}
.b-product-card {
	position: relative;
	display: block;
	max-width: 248px;
	width: 100%;
	height: 346px;
	border-radius: 12px;
	padding: 14px;
	justify-content: flex-end;
	background: @cl-white;
	transition: background .3s ease;
	cursor: pointer;
	margin: auto;

	&-wrapper {
		width: 100%;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 12px;
		background: @cl-hover-default-before;
		opacity: 0;
		transition: background .3s ease, opacity .3s ease;
	}

	.no-touchevents &:hover,
	.touchevents &:active {

		&:before {
			opacity: .4;
		}

		img {
			transform: scale3d(1.05, 1.05, 1.05);
		}

		.b-product-card__quantity {
			color: @cl-white;
		}
	}

	.cashew & {

		.no-touchevents &:hover,
		.touchevents &:active {
			background: @cl-hover-cashew;
		}
	}

	.peanut & {

		.no-touchevents &:hover,
		.touchevents &:active {
			background: @cl-hover-peanut;
		}
	}

	.hazelnut & {

		.no-touchevents &:hover,
		.touchevents &:active {
			background: @cl-hover-hazelnut;

			.b-product-card__quantity {
				color: @cl-opium;
			}
		}
	}

	.pistachio & {

		.no-touchevents &:hover,
		.touchevents &:active {
			background: @cl-hover-pistachio;
		}
	}

	.almond & {

		.no-touchevents &:hover,
		.touchevents &:active {
			background: @cl-hover-almond;

			.b-product-card__quantity {
				color: @cl-opium;
			}
		}
	}

	.walnut & {

		.no-touchevents &:hover,
		.touchevents &:active {
			background: @cl-hover-walnut;

			&:before {
				background: @cl-hover-walnut-before;
			}
		}
	}

	.pine-nut & {

		.no-touchevents &:hover,
		.touchevents &:active {
			background: @cl-hover-pine;
		}
	}

	.cashew-dark & {

		.no-touchevents &:hover,
		.touchevents &:active {
			background: @cl-hover-cashew-dark;
		}
	}

	.peanut-dark & {

		.no-touchevents &:hover,
		.touchevents &:active {
			background: @cl-hover-peanut-dark;

			.b-title {
				color: @cl-white;
			}
		}
	}

	.hazelnut-dark & {

		.no-touchevents &:hover,
		.touchevents &:active {
			background: @cl-hover-hazelnut-dark;

			.b-product-card__quantity {
				color: @cl-opium;
			}
		}
	}

	.pistachio-dark & {

		.no-touchevents &:hover,
		.touchevents &:active {
			background: @cl-hover-pistachio-dark;
		}
	}

	.walnut-dark & {

		.no-touchevents &:hover,
		.touchevents &:active {
			background: @cl-hover-walnut-dark;

			&:before {
				background: @cl-hover-walnut-before;
				opacity: .5;
			}

			.b-title {
				color: @cl-white;
			}
		}
	}

	.pine-nut-dark & {

		.no-touchevents &:hover,
		.touchevents &:active {
			background: @cl-hover-pine-dark;

			.b-title {
				color: @cl-white;
			}
		}
	}

	&__inner {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__quantity {
		font-size: 12px;
		line-height: 16px;
		color: @cl-opium;
		transition: color .3s ease;

		span {
			margin-left: 6px;
		}
	}

	&__description {
		width: 190px;
    	margin-bottom: 8px;
    	max-height: 76px;
    	overflow: hidden;
	}

	&__image-wrapper {
		height: 218px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-grow: 0;

		img {
			max-height: 100%;
			transition: transform .3s ease;
		}
	}

	.b-popular & {
		height: 300px;
		padding: 14px;
		margin: 0;
		width: 100%;
		max-width: none;

		&__image-wrapper {
			height: 200px;
		}
	}
}
// 320++
.b-radio {
    position: relative;
    display: block;
    line-height: 0px;
    margin-bottom: 5px;
    min-height: 16px;

    &__input {
        // display: none;
        position: absolute;
        left: 0px;
        top: 0px;
        height: 0px;
        width: 0px;
        z-index: 0;
        opacity: 0;
    }

    &__label {
        position: relative;
        display: inline-block;
        cursor: pointer;
        width: auto;

        // Большой кружок
        &:before {
            content: '';
            display: inline-block;
            width: 14px;
            height: 14px;
            border: 1px solid @cl-black;
            background-color: @radio-back;
            border-radius: 50%;
            transition-property: border-color, background-color;
            transition-duration: @animation-time;
            vertical-align: middle;
            position: absolute;
            left: 0px;
            top: 4px;
            z-index: 1;
        }

        // маленький кружочек
        &:after {
            content: '';
            display: inline-block;
            width: 6px;
            height: 6px;
            background-color: transparent;
            position: absolute;
            top: 3px;
            left: 3px;
            transition-property: background-color;
            transition-duration: @animation-time;
            border-radius: 50%;
            top: 9px;
            left: 5px;
            z-index: 1;
        }
    }

    &__input:checked + &__label {
        // Большой кружок
        &:before {
            border-color: @cl-black;
        }
    }

    &__text-label {
        font-size: 16px;
        line-height: 1.5;
        color: @cl-black;
        vertical-align: middle;
        padding-left: 25px;
        display: inline-block;
    }
}
.b-range-block {
	position: relative;
	text-align: center;
	background: @cl-white;
	padding: 45px 0 100px;

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__item-inner {
		position: relative;
		z-index: 1;
		padding: 24px 0 0;
    	width: 288px;
    	height: 200px;
    	display: flex;
    	flex-direction: column;
	}

	&__item {
		overflow: hidden;
		border-radius: 16px;
		// box-shadow: 0px 12px 36px 2px rgba(50, 126, 150, 0.12);
    	margin: 0 0 18px;
    	background: rgba(237, 243, 243, 0.5);
    	transition: background .3s ease, box-shadow .3s ease;
    	position: relative;

    	// &:before {
    	// 	content: '';
    	// 	position: absolute;
    	// 	top: 0;
    	// 	left: 0;
    	// 	width: 100%;
    	// 	height: 100%;
    	// 	background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    	// 	opacity: 0;
    	// 	transition: opacity .3s ease;
    	// }

    	.no-touchevents &:hover,
    	.touchevents &:active {
    		background: @cl-white;
    		box-shadow: 0px 12px 36px 2px rgba(50, 126, 150, 0.12);

    		// &:before {
    		// 	opacity: .3;
    		// }

    		// .b-title {
    		// 	color: @cl-white;
    		// }

    		// .b-range-block__text-sum {
    		// 	color: rgba(255, 255, 255, .9);
    		// }

    		.b-range-block__image {
    			transform: scale(1.1);
    		}
    	}
	}

	&__image {
		position: absolute;
		left: 0;
		top: -30px;
		width: 100%;
		transition: transform .3s ease;
		line-height: 0;
	}

	&__text {
		color: @cl-opium;
		margin: 0 auto 48px;
		max-width: 600px;
	}

	&__text-sum {
		color: @cl-dusty-gray;
		margin: 0 auto;
		transition: color .3s ease;
	}

	&__link {
    	.roboto-bold();
    	color: @cl-dark-red;
    	font-size: 23px;
		line-height: 32px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		letter-spacing: 0.01em;
		margin: 45px auto 0;
		width: 288px;
		transition: color .3s ease;

		span {
			position: relative;
			display: block;

			&:before {
				content: '';
				position: absolute;
				bottom: -3px;
				left: 0;
				width: 100%;
				height: 1px;
				background: @cl-dark-red;
				transition: background .3s ease;
			}
		}

		.no-touchevents &:hover,
        .touchevents &:active {
        	color: @cl-bright-red;

        	span:before {
				background: @cl-bright-red;
			}
		}
    }
}
.b-social {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: auto 0 30px;
	z-index: 1;

	&__link {
		color: @cl-dark-red;
		font-size: 44px;
		width: 44px;
		height: 44px;
		line-height: 1;
		position: relative;
		// transition: transform .3s linear;

		& + & {
			margin-left: 20px;
		}

		.no-touchevents &:hover,
		.touchevents &:active {
			color: @cl-dark-red;

			.b-icon {			
				transform: scale(1.25);
			}
		}
	}

	.b-footer & {
		margin: 28px 0 0;

		&__link {
			color: @cl-white;

			.no-touchevents &:hover,
			.touchevents &:active {
				color: @cl-white;
			}

			& + .b-social__link {
				margin-left: 12px;
			}
		}
	}

	.b-head-block-slider & {
		display: none;
	}
}
.b-text-block {
	color: @cl-very-dark-mostly-black-red;
}
/* 320 + */
.b-title {
    display: block;
    font-size: 30px;
    line-height: normal;
    letter-spacing: normal;
    color: @cl-font-main;
    margin: 0;
    .roboto-bold();

    &--block {
        display: block;
        margin-right: 0;
    }

    &__new-line {
        display: block;
        margin: 0;
    }

    .b-info-block & {
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: @cl-very-dark-mostly-black-red;
        margin: 0 0 14px;
    }

    .b-range-block & {
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: @cl-very-dark-grayish-red;
        margin: 0 0 4px;
        transition: color .3s ease;

        &--h3 {
            font-size: 30px;
            line-height: 36px;
            letter-spacing: normal;
            color: @cl-very-dark-mostly-black-red;
            margin: 0 0 18px;
        }
    }

    .b-head-block-slider & {
        font-size: 30px;
        line-height: 36px;
        color: @cl-pure-or-mostly-pure-yellow;
        width: 185px;
        margin: 0 0 4px;
    }

    &--news-slider {
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.01em;
        margin-bottom: 39px;
    }

    .b-market-block & {
        font-size: 30px;
        line-height: 36px;
        color: @cl-very-dark-mostly-black-red;
        text-align: center;
        width: 185px;
        margin: 0 auto;
    }

    .b-filter-head & {
        font-size: 30px;
        line-height: 36px;
        color: @cl-dark-red;
        margin: 0 0 10px;
    }

    .b-filter-main & {
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: @cl-dark-red;
        margin: 0 0 10px;
    }

    .b-product-card & {
        font-size: 15px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.02em;
        color: @cl-very-dark-mostly-black-red;
        transition: color .3s ease;

        .b-popular & {
            font-size: 15px;
            line-height: 19px;
            letter-spacing: 0.02em;
            margin-bottom: 0;
        } 
    }

    &--contact {
        line-height: 36px;
    }

    &--feedback {
        line-height: 36px;
        color: @cl-very-dark-mostly-black-red;
        margin-bottom: 18px;
    }

    &--address,
    &--history,
    &--fabric,
    &--genesis {
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: @cl-dark-red;
        margin-bottom: 18px;
    }
    
    &--genesis {
        padding-top: 30px;
        padding-right: 30px;
    }

    &--fabric {
        // letter-spacing: -0.001em;
        letter-spacing: 0.015em;
    }
    
    &--blog,
    &--about {
        color: @cl-white;
        line-height: 36px;
    }

    .b-popup__lead-box & {
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: @cl-very-dark-mostly-black-red;
        margin: 0 0 16px;
    }

    &--h6 {
        .open-bold();
        font-size: 16px;
        line-height: 26px;
        margin: 0 0 12px;
    }
    
    .b-popup__popular & {
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.01em;
        margin-bottom: 30px;
    }

    .content-page .b-head-block & {
        color: @cl-white;
        line-height: 36px;
    } 

    .b-popup--send & {
        color: @cl-very-dark-mostly-black-red;
        margin: 0 0 10px;
    }

    .b-popup--form & {
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: @cl-very-dark-mostly-black-red;
        margin: 0 0 16px;
    }

    .b-not-found & {
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.01em;

        &.hidden {
            font-size: 0;
            line-height: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            visibility: hidden;
            opacity: 0;
        }
    }
}
/* 320 + */

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    font-family: @font-base;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;

    &.no-scroll {
        // position: fixed;
        // top: 0;
        // left: 0;
        // right: 0;
        // bottom: 0;
        overflow: hidden;
    }

    &.no-touch {
        pointer-events: none;
        touch-action: none;
    }

    // fix scroll block when open popup
    // need only for windows
    // and only desktop
    // and have scroll
    // &.no-scroll.windows {
    //     padding-right: 17px;
    // }
}

* {
    outline: none;
}

input[type='submit'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.hidden-xs {
	display: none;
}
.tooltipster-sidetip {
	
	.tooltipster-box {
		background: @cl-white;
		border: none;
		box-shadow: 0px 12px 36px 2px rgba(50, 126, 150, 0.12);
		border-radius: 12px;
	}

	.tooltipster-content {
		line-height: 0;
		color: @cl-very-dark-grayish-red;
		padding: 0;
		overflow: hidden;
		width: 312px;
		// min-height: 308px;
	}

	.b-card-genesis__wrapper {
		width: 100%;
		height: auto;
	}

	.b-card-genesis__image {
		height: 137px;
		width: auto;
		max-width: auto;
		min-width: 100%;
		object-fit: cover;
		object-position: center;
	}

	.b-card-genesis__information {
		padding: 20px;
	}
}