/* 1440 + */

/* 1440 + */


/* 1440++  */

/* 1440 + */
/* 1440++  */
.b-decor {

	&__img {

		&--almond-leaf2,
		&--almond3 {
			display: none;
		}

		&--peanut1 {
			display: block;
			top: 0;
			left: 0;
		}

		&--peanut2 {
			display: block;
			bottom: 75px;
			right: 0;
		}

		&--peanut3 {
			display: block;
			bottom: 200px;
			right: 0;
		}

		&--peanut4 {
			left: 40%;
		}

		&--cashew2 {
			display: block;
			right: 19%;
    		bottom: 7px;
		}

		&--spoon {
			bottom: 30px;
    		left: -3%;
    		z-index: 1;
		}

		&--almond-blur {
			right: -125px;
    		bottom: -150px;
		}

		&--almond2 {
			display: block;
			right: 15%;
			top: 50px;
		}

		&--almond-leaf3 {
			display: block;
			top: 38%;
			right: -4%;
		}

		&--almond-leaf4 {
			display: block;
			top: 75px;
    		left: 8%;
		}

		&--almond-leaf5 {
			display: block;
			bottom: 0;
    		left: 26%;
		}

		&--almonds1 {
			display: block;
			right: 0;
			top: 85px;
		}

		&--almond-plate1 {
			right: -9%;
		}

		&--walnut-pile1 {
			display: block;
			bottom: 340px;
			left: -6%;
		}

		&--pistacchi-plate1 {
			left: 48%;
		}
	}
}
/* 1440++  */

.b-feedback {

	&__top-line {
        width: 670px;
    }    

    &__form-wrapper {
        width: 672px;
    }
}
.b-footer {

	&__menu {
		display: block;
		columns: 2 210px;
	}
}
.b-genesis-block {
    margin-top: 7px;

}
.b-head-block-slider {

	&__inner {
		width: 84%;
	}

	&__image-wrapper {
		margin-left: 79px;
    	margin-right: 14px;

    	.slick-current & {
			transform: translateY(0);
		} 
	}

	&__description-wrapper {
		top: auto;
	    left: auto;
	    bottom: -71px;
    	right: 0;
	}
}
.b-header {

	&__inner {
		padding: 35px 0;
	}
}
/* 1440 + */
/* 1440 + */
/* 1440 + */
.b-icon {

	.b-info-block & {
		margin: 0 0 49px -19px;
    	width: ~'calc(100% + 19px)';
    }
    
    &--about {
        .b-info-block--about & {
            margin: 0 -24px 47px -28px;
        }
    }

}

.icon {
    &-tech {
        .b-info-block & {
            margin: 0 -24px 47px -48px;
        }
    }
    &-certificate {
        .b-info-block & {
            margin: 0 -24px 47px -40px;
        }
    }
}
.b-info-block {
	padding: 161px 0 180px;
    
    &--about {
        padding: 55px 0 287px;
        .b-info-block {
            &__inner {
                padding: 10px;
			    max-width: 1132px;
			    margin: auto;
            }
        }
    }

}
/* 1440 + */

/* 1440 + */

.b-logo {
	width: 170px;
	height: 170px;
}
/* 1440 + */


/* 1440 + */
.b-page-wrapper {
    
	.about & {
		background-position: 50% 38%;
	}
}
/* 1440 + */
/* 1440 + */
/* 1440 */

.b-social {

    .b-head-block-slider & {
    	bottom: 5.5vh;
    }
}
/* 1440 + */
/* 1440 + */
