/* 1280 + */
.b-blog {
    
    &__inner {
        margin: 0 auto 60px;
        width: auto;
    }
}
.b-burger {

	&__menu {
		width: 960px;

		&:before {
			content: '';
			position: fixed;
			width: 200vw;
			height: 100%;
			top: 0;
			left: 100%;
			opacity: 0;
			transition: opacity .5s ease;
			background: rgba(40, 0, 0, .4);
			display: none;
		}

		&.is-expand {

			&:before {
				display: block;
				opacity: 1;
			}
		}
	}

	&__menu-list {
		width: 345px;
	}

	&__menu-lvl2 {
    	padding: 65px 112px 0 400px;
    }

    &__img {
    	left: 360px;
    }
}
.b-breadcrumbs {
	margin: 0 0 0 -112px;
}
/* 1024 + */
.b-button {

	.b-catalog-menu & {

		span {
			left: -82px;
		}
		
		&--catalog-close {
            top: 50%;
        }
	}
}
.b-card {
    
    &__wrapper {
        padding: 36px 36px 0;
        // box-shadow: none;
        // .no-touchevents .b-card:hover.slick-active & {
        //     box-shadow: 0px 12px 36px 2px rgba(50, 126, 150, 0.12);
        //     position: relative;
        //     z-index: 1;
        //     transition: all 0.5s ease-out;
        // }

        &--blog {
            width: 100%;
        }
    }
    &.draggable {
        padding: 0 20px 0 25px!important;
    }
    &.slick-slide {
        opacity: 1;
        transition: all 0.3s ease-out;
    }
    &.slick-center {
        opacity: 1;
        transition: all 0.3s ease-out;
    }


    &--blog {
        width: ~'calc(100% / 3)';
    }
}


/* 1366++  */
.b-contact {
    padding: 43px 0 23px;

    &__address-box {
        display: flex;
        padding: 39px 0 0;
    }
    
}
.b-contact-card {
    
    flex-direction: column;

    &:not(:last-child) {
        margin-right: 112px;
    }

    &__text-groupe{
        margin-right: 0;
        margin-bottom: auto;
    }
    &__phone {
        &--fabric {
            margin-bottom: 26px;
        }
    }
    &__email {
        margin: 16px 0;
    }
}
/* 1170 + */
.b-container {
    &--news-slider {
        max-width: 1450px;
    }

    &--wide {
    	padding: 0 40px;
    }
}
/* 1366++  */
.b-decor {

	&__img {

		&--pistachio-big {
			bottom: 135px;
			right: 35%;
		}

		&--pistachio-small {
			bottom: 100px;
    		right: 40%;
		}

		&--pistachio-shadow {
			bottom: 69px;
			right: 33%;
		}

		&--peanut6 {
			top: 6%;
    		left: 30%;
		}

		&--peanut1 {
			top: 40px;
		}

		&--peanut3 {
			top: 125px;
		}

		&--cashew1 {
			right: -3%;
    		bottom: 265px;
		}

		&--hazelnut-leaf2 {
			top: 150px;
		}

		&--hazelnut {
			left: -6%;
		}

		&--walnut-pile1 {
			display: block;
			bottom: 60px;
    		left: -60px;
		}

		&--pistacchi-plate1 {
			display: block;
			bottom: 0;
			left: 62%;
			transform: translateX(-50%);
		}

		&--peanut5 {
			display: block;
			top: auto;
			left: auto;
			bottom: 23%;
			right: 27px;
		}

		.content-page & {

        	&--cashew_1 {
        		display: block;
        		top: 21vh;
    			left: 57px;
        	}

        	&--walnut_3 {
        		right: 0;
    			top: 18vh;
        	}

        	&--peanut_4 {
        		top: 13vh;
    			right: 21vw;
        	}

        	&--peanut_2 {
        		left: 37vw;
    			top: 5vh;
        	}

        	&--hazelnut_leaf_1 {
        		top: 50vh;
    			left: 0;
        	}
        }
	}
}
/* 1366++  */
.b-fabric-card {
    &__wrapper {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
        // max-width: 1340px;
        // margin: 0 auto;
    }

    &__img-wrapper {
        margin-bottom: 0;
        border-radius: 16px;
        padding: 0;
    }

    // &__image {
    //     width: 784px;
    // }

    &__information {
        padding: 135px 0 0;
        width: 402px;
        text-align: right;
        margin: 0 150px 0 0;
        
        img {
            display: block;
        }
    }
    
}
.b-fabric-slider {
    padding-top: 78px;
    
    &__header {
        padding: 10px 0 0;
    }

    &__arrow-block {
        top: 15%;
        left: -13%;
    }

}
.b-feedback {
    max-width: none;
    display: flex;
    padding-top: 113px;
    margin-bottom: 121px;

    &__top-line {
        text-align: left;
        padding-right: 112px;
        margin: 0;
    }
}
.b-filter {

	&-wrapper{
		padding: 50px 66px 30px 111px;
	}

	&-head {
		padding: 0 0 60px;
	}
}
.b-footer {

	// &__inner {
	// 	flex-wrap: nowrap;
	// 	align-items: flex-start;
	// 	justify-content: space-between;
	// 	padding: 65px 0 65px;
	// }

	// &__contacts {
	// 	order: 3;
	// 	padding: 20px 0 0;
	// 	width: auto;
	// }

	&__copyright {
		height: 78px;
	}
	
	&__call {
		margin: 0 0 22px;
	}
}
.b-genesis-block {
    margin-top: 7px;
    align-items: center;
    background-size: cover;
    
    &__wrapper {
        padding-top: 144px;
        max-width: 1230px;
        margin: 0 auto;
    }

    &__title-box {
        width: 669px;
        margin-bottom: 20px;
        padding: 6px 53px 35px 56px;
        margin-right: -112px;
    }

    &__map {
        height: 533px;
        transform: none;
    }

    &__plane-right {
        bottom: 249px;
        right: -400px;
        overflow: hidden;
    }

    &__plane-left {
        display: block;
        position: absolute;
        bottom: 176px;
        left: -398px;
    }

}
.b-head-block {
	height: 348px;

	&__inner {
		padding: 192px 0 30px;
	}
}
.b-head-block-slider {

	.slick-dots {
		bottom: 5vh;
	}

	&__main {
		display: block;
		opacity: .8;
		font-size: 16px;
		line-height: 26px;
		color: @cl-white;
		margin: 0 0 56px;
	}

	&__text-wrapper {
		display: flex;
	    flex-direction: column;
	    justify-content: center;
	    flex: 1 0 380px;
	    padding: ~'calc(7vh + 40px)' 0 ~'calc(5vh + 40px)';
	}
}
/* 1280 + */
.b-history-block {
    display: flex;
    justify-content: space-between;
    padding: 25px 35px 0 49px;
    max-width: 1440px;
    margin: 0 auto;

    &__text-inner {
        width: 565px;
        margin-right: 145px;
        padding: 132px 0 0;
    }

    &__shell {
        padding: 0;
    }
    
}
/* 1280 + */
/* 1280 + */
.b-info-block {
	background: url("../images/inhtml/bg_info_desk.svg") bottom/cover no-repeat;
	margin-top: -40px;
	padding: 161px 0 250px;

	&__inner {
		width: auto;
		padding: 93px 116px 68px;
	}

	&__card {
		margin: 0;
		width: 227px;

		& + & {
			margin: 0;
		}
    }

	&--about {
        background: 
        url("../images/inhtml/mountains.png") bottom/100% no-repeat,
        linear-gradient(360deg, rgba(220, 217, 233, 0.5) 1.64%, rgba(242, 212, 215, 0.2) 51.33%, rgba(220, 217, 233, 0) 100%);
    }
}
/* 1170 + */
/* 1024 + */
.b-link {
    
    &--contact-link {
        margin: 8px 0 19px;
    }

}
/* 1280 + */
.b-manufacturer {
	padding: 18px 52px;
}
.b-market-block {
	padding: 122px 0 140px;

	&__inner {
		padding: 83px 0;
	}
}
.b-news-slider {
    // &__arrow {
    //     display: none;
    // }

    .slick-list {
        min-height: 680px;
    }
    
}
/* 1024 + */
.b-page-wrapper {

	.about & {
		background-position: 45% 38%;
	}
}
/* 1280 + */
/* 1024 + */
.b-popup {

	&--product & {

		&__content {
			max-width: 1440px;
			height: ~'calc(100% - 90px)';
			border-radius: 10px;
		}

		&__inner {
			padding: 24px 160px;
		}

		&__image-box {
			width: 500px;
		}

		&__lead-box {
			width: ~'calc(100% - 560px)';
		}

		&__image-wrapper {
			margin: 0 0 0 -112px;
		}

		&__slider-pagination {
			width: 88px;
			margin-right: 24px;
		}

		&__image-slider {
			width: ~'calc(100% - 112px)';
		}

		&__table {
			margin: 16px 0 0;
			padding: 22px 36px 29px;
		}

		&__popular {
			margin: 0;
		}
	}

	.os-host-resize-disabled.os-host-scrollbar-horizontal-hidden>.os-scrollbar-vertical {
		top: 100px;
		bottom: 60px;
	}
}

.b-product-card {
	max-width: 336px;

	&-wrapper {
		width: 25%;
	}
}

.b-range-block {
	padding: 67px 0 110px;
}
.b-social {

    .b-head-block-slider & {
    	bottom: 3vh;
    	padding: 0 40px;
    }
}
/* 1280 + */
.b-title {

    &--news-slider {
        margin-bottom: 12px;
    }

    &--address {
        margin-bottom: 16px;
    }

    .b-head-block-slider & {
		font-size: 64px;
		line-height: 72px;
		width: 100%;
	}
}
/* 1024 + */