/* 768 + */
.b-blog {
    padding: 100px 0 116px;
    &__inner {
        margin: 0 auto 82px;
        
        // width: calc(100% - 315px);
    }
   
}
.b-burger {
	margin: 0 43px 0 0;

	&__link,
	&__link-close {
		width: 64px;
		height: 64px;
		border-width: 3px;
		padding: 17px 0;
	}

	&__link-close {
		top: 31px;
    	right: 40px;
	}

	&__line,
    &__link:before,
    &__link:after,
    &__link-close:before,
    &__link-close:after {
        width: 31px;
        height: 4px;
    }

    &__menu {
    	padding: 162px 40px 34px;
    }

    &__item {
    	padding-left: 67px;

    	& + & {
    		margin-top: 40px;
    	}
    }

    &__menu-list {
    	width: 50%;
    	padding: 0 20px 0 0;
    }

    &__menu-lvl2 {
    	display: block;
    	position: absolute;
    	top: 0;
    	right: 0;
    	width: 100%;
    	height: 100%;
    	padding: 165px 40px 0 50%;
    	transform: translateY(-100%);
    	opacity: 0;
    	transition: opacity .3s, transform .5s;

    	&.is-expand {
    		transform: translateY(0);
    		opacity: 1;

    		.b-burger__img {
	    		transform: translateY(0);
    		}
    	}

    	&--catalog {
    		background: url('../images/inhtml/bg-catalog.png') top right/contain no-repeat;
    	}
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-right: 100px;
    }

    &__inner-lvl2 {
    	margin: 0 0 38px;
    }

	&__img {
    	position: absolute;
    	top: 0;
    	left: ~'calc(50% - 40px)';
    	transform: translateY(-100%);
    	transition: transform .7s;
    }

    &__text {
    	margin: 133px 0 40px;
    	.roboto-regular();
    	font-size: 21px;
		line-height: 31px;
    }

    .os-host-resize-disabled.os-host-scrollbar-horizontal-hidden>.os-scrollbar-vertical {
        bottom: 35px;
    }

    &__blog-link {
        display: flex;
        align-items: center;
        padding: 20px;
        height: 112px;
        width: 336px;
        color: @cl-very-dark-grayish-red;
        border-radius: 12px;
        transition: color .3s ease-out, box-shadow .3s ease-out;

        span {
            font-size: 23px;
            line-height: 32px;
            .roboto-bold();
            letter-spacing: 0.01em;
        }

        .no-touchevents &:hover,
        .touchevents &:active {
            box-shadow: 0px 12px 36px 2px rgba(50, 126, 150, 0.12);
            color: @cl-bright-red;
        }
    }

    &__blog-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 72px;
        height: 72px;
        border-radius: 8px;
        background: @cl-pure-or-mostly-pure-yellow;
        margin-right: 35px;

        span {
            font-size: 48px;
            line-height: 56px;
            font-style: normal;
            display: block;
            color: @cl-white;
            .roboto-bold();
        }
    }

    &__inner-blog,
    &__inner-market {
        margin: 0 auto 80px;
    }

    &__inner-contacts {
        margin: 0 auto;
    }

    &__link-wrap {

        & + & {
            margin-top: 12px;
        }
    }

    &__market-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 336px;
        height: 112px;
        line-height: 0;

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            transition: transform .4s ease-out;
        }

        & + & {
            margin-top: 10px;
        }

        .no-touchevents &:hover,
        .touchevents &:active {

            img {
                transform: scale3d(1.05,1.05,1.05);
            }
        }
    }

    &__inner-market {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
.b-breadcrumbs {
	margin: 0 0 0 -86px;

	&__item {
		.icon('arrow-right', 'after');

		&:not(:nth-last-child(2)) {
            display: block;
        }

        &:before {
        	content: none;
        	display: none;
        }

        &:after {
            font-size: 10px;
            line-height: 26px;
            color: @cl-bright-red;
            margin: 0 25px 0 21px;
        }

        &:last-child,
        &:only-child {

        	&:after {
        		content: none;
        		display: none;
        	}
        }
	}

    .b-head-block & {
        margin: 0 0 2vh;
    }
}
/* 768 + */
.b-button {

	.b-head-block-slider & {
		font-size: 16px;
		letter-spacing: 0.01em;
		border-width: 2px;
		padding: 16px 43px;
	}

	.b-catalog-menu & {
        width: 54px;
        height: 220px;
        top: 58vh;

        span {
        	font-size: 16px;
			line-height: 28px;
			width: 75px;
			left: -93px;
        }

        &:before {
            font-size: 42px;
        }

        &--catalog-close {
            top: 50%;
        }
    }

    &--popup-close,
	&--filter-close {
		width: 64px;
		height: 64px;
		border-width: 3px;
		top: 31px;
    	right: 40px;

	    &:before,
	    &:after {
	        width: 31px;
	        height: 4px;
	    }
	}

	&--popup-close {
        top: 25px;
    }

	.b-filter-buttons & {
		width: 194px;

		& + .b-button {
			margin-left: 30px;
		}
    }
    
    &--contact-button {
        font-size: 16px;
        line-height: 26px;
        height: 52px;
        padding: 13px 26px;
        border-width: 2px;
        margin: 0;
    }

    &--feedback {
        font-size: 16px;
        line-height: 26px;
        height: 52px;
        padding: 13px 43px;
    }

    .b-popup--form &--popup-close,
    .b-popup--send &--popup-close {
        width: 64px;
        height: 64px;
        top: 30px;
        right: 30px;
    }

    .b-not-found & {
        padding: 11px 42px;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.01em;
        border-width: 2px;
    }
}
.b-card {
    
    &__wrapper {
        width: 448px;
        height: 564px;
        padding: 36px 36px 0;
        border-radius: 16px;
        
    }

    &__image {
        border-radius: 12px;
        margin-bottom: 36px;
    }

    &__information {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 18px;
    }

    &__text {
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.01em;
    }

    &.slick-slide {
        opacity: 0;
        transition: all 0.3s ease-out;
    }
    &.slick-center {
        opacity: 1;
        transition: all 0.3s ease-out;
    }

    &--blog  {
        margin: 0 auto 30px;
        .b-card {
            &__image {
                height: 260px;
                margin: 0 auto 30px;
            }
        }
        
    }

}

.b-catalog {
	padding: 0 0 176px;
	
	&__button {
		font-size: 16px;
		line-height: 26px;
		letter-spacing: 0.01em;

		&--border {
			border-width: 2px;
			padding: 11px 42px;
		}
	}

	&__sorting {
		width: 323px;
		padding: 54px 0 0;
	}

	&__inner {
		justify-content: flex-start;
		margin: 0 -8px;
		width: ~'calc(100% + 16px)';
	}

	&__more {
		margin-top: 70px;
	}
}
.b-catalog-menu {

	&__inner {
        padding: 100px 88px 120px;
	}

	&__list {
		padding: 0 42px 0 56px;
	}
}
/* 768 + */
/* 768++  */
.b-contact {
    padding: 41px 0 23px;

    &__address-box {
        padding: 50px 0 0;
    }
    
}
.b-contact-card {
    margin: 0 0 49px;

    &__text-groupe {
        width: 336px;
        padding: 11px 0 0 2px;
        margin-right: auto;
    }

	&__phone {
		font-size: 28px;
        line-height: 38px;
        &--main {
            letter-spacing: 0.04em;
        }
    }

    &__proviso {
        line-height: 24px;
    }

    &--main {
        margin: 0 0 53px;
    }
    
    .b-burger__item & {
        margin: 0 0 60px;

        &__text-groupe {
            padding: 0;
            margin: 0;
        }

        &__phone {
            font-size: 16px;
            line-height: 26px;
            .open-regular();
            display: block;

            &--main {
                font-size: 30px;
                line-height: 36px;
                letter-spacing: normal;
                .roboto-bold();
            }
        }

        &__email {
            margin: 8px 0;
        }
    }
}
/* 768 + */
.b-container {
    padding: 0 40px;

    &--news-slider {
        max-width: 1030px;
    }  
}
/* 768++  */
.b-article {
    padding: 85px 0 110px;

    &__information {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 51px;
    }

    h1 {
        font-size: 48px;
        line-height: 56px;
        color: @cl-very-dark-mostly-black-red;
        margin-bottom: 25px;
    }

    ol, ul {
        padding-left: 53px;
    }
}
.b-decor {

	&__img {

		&--peanut_6 {
			display: none;
		}

		&--peanut5 {
			top: 121px;
    		left: 52px;
		}

		&--hazelnut {
			display: block;
			top: 253px;
    		right: -122px;
		}

		&--pistachio-big {
			bottom: 111px;
			right: 39%;
		}

		&--pistachio-small {
			bottom: 63px;
    		right: 50%;
		}

		&--pistachio-shadow {
			bottom: 44px;
			right: 36%;
		}

		&--peanut4 {
			display: block;
			top: 10px;
    		left: 42%;
		}

		&--almond-leaf1 {
			left: 30vw;
    		bottom: -85px;
		}

		&--almond1 {
			display: block;
		    right: 1vw;
		    bottom: 80px;
		}

		&--walnut3 {
			bottom: 34%;
			left: -67px;
		}

		&--peanut6 {
			display: block;
		    left: 10px;
		    bottom: 2%;
		}

		&--peanut7 {
			display: block;
    		right: 0;
    		top: 41%;
		}

		&--cashew2 {
			right: 27px;
    		bottom: 16%;
		}

		&--almond3 {
			top: 54px;
    		right: 0px;
		}

		&--almond-leaf2 {
			bottom: auto;
    		top: 105px;
		}

		&--spoon {
			display: block;
			bottom: -130px;
		    left: 0;
		    z-index: 2;
		}

		&--almond-plate1 {
			display: block;
			right: -235px;
			bottom: 0;
		}

		&--hazelnut_leaf {
			top: 20px;
		    left: 30px;
		    transform: scale(1.8);
		}

		&--peanut_2 {
			display: block;
			left: 200px;
    		top: 110px;
		}

		&--peanut_4 {
			top: 35px;
		    right: 185px;
		    transform: rotate(-75deg);
		}

		&--walnut_3 {
			display: block;
			right: -80px;
    		bottom: 28px;
        }
        
        &--almond_plate_2 {
            top: 77px;
            right: -160px;
        }

        &--almond-blur {
        	display: block;
			right: -134px;
    		bottom: -94px;
		}

		.content-page & {

			&--hazelnut_leaf_1 {
				bottom: auto;
    			top: 15vh;
    		}

    		&--peanut_2 {
    			left: 207px;
    			top: 13vh;
    			right: auto;
    		}

    		&--peanut_4 {
    			display: block;
    			top: 35px;
			    right: 185px;
			    transform: rotate(-75deg);
    		}

    		&--walnut_3 {
    			right: -52px;
			    bottom: auto;
			    top: 11vh;
    		}
    	}
	}
}
/* 768++  */
.b-fabric-card {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        // width: 768px;
    }

    &__img-wrapper {
        margin-bottom: 103px;
        overflow: hidden;
    }

    &__image {
        max-height: 510px;
        width: 100%;
    }
    
    &__information {
        margin-left: auto;
        width: 768px;
        padding: 0 40px 0 212px;
    }

    &__title {
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.01em;
    }

}
/* 768 + */
.b-fabric-slider {
    margin-bottom: 56px;
    max-width: 1463px;
    margin: 0 auto 56px;
    padding-top: 56px;
    
    &__header {
        padding: 10px 126px 0 42px;
    }

    &__text {
        font-size: 18px;
        line-height: 30px;
        max-width: 560px;
        margin-bottom: 40px;
    }

    &__arrow-block {
        top: calc(~"6vw + 508px");
        left: 1%;
    }

}
.b-feedback {
    padding-top: 93px;
    margin-bottom: 101px;

    &__top-line {
        width: 590px;
        margin-bottom: 56px;
        padding: 0;
    }

    &__description {
        font-size: 21px;
        line-height: 34px;
    }

    &__form-wrapper {
        padding: 49px 81px 53px 80px;
        border-radius: 20px;
    }

    &__notice {
        margin-bottom: 41px;
    }

    .b-popup & {

        &__notice {
            margin: 0 0 32px;
        }
    }
}
.b-filter {
	
	&-wrapper {
		padding: 100px 100px 70px;
	}

	&-main {
		height: 500px;

		.os-content {
			display: flex;
		    flex-wrap: wrap;
		    flex-direction: column;
		    max-height: 500px;
		}
	}

	&-buttons {
		margin-top: auto;
		justify-content: flex-start;
	}
}
.b-footer {

	&__inner {
		justify-content: flex-start;
		padding: 116px 0 60px;
	}

	&__menu {
		order: 2;
		width: auto;
		padding: 28px 0 0;
	}

	&__contacts {
		order: 4;
		position: relative;
		padding: 25px 0 0 261px;
		align-items: flex-start;
	}

	&__call {
		font-size: 48px;
		line-height: 56px;
	}

	&__copyright {
		height: 68px;
	}
}
.b-genesis-block {
    margin: -51px 0 102px;
    background-position-x: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__wrapper {
        padding-top: 181px;
    }

    &__title-box {
        background: @cl-white;
        box-shadow: 0px 12px 36px 2px rgba(50, 126, 150, 0.12);
        border-radius: 16px;
        width: 688px;
        padding: 6px 64px 35px;
        margin: 0 auto 66px;
    }

    &__text {
        font-size: 18px;
        line-height: 30px;
    }
    
    &__slider-box {
        display: none;
    }

    &__map-wrapper {
        text-align: center;
        position: relative;
    }

    &__map {
        display: block;
        height: 454px;
        margin: 0 auto;
        transform: translate(48px, -37px);

        svg {
            width: 954px;
        }
    }

    &__plane-right {
        bottom: -91px;
        right: 95px;
        transform: none;
    }

}
.b-head-block {
	height: 290px;

	&__inner {
		padding: 154px 0 30px;
	}

	&__lead-mobile {
		display: none;
	}

	&__lead {
		display: block;
		max-width: 450px;
		margin: 7vh 0 0;
	}

	&__information {
		font-size: 16px;
		line-height: 26px;
		margin: 3vh 0 0;
	}

	&__arrow-text {
		display: block;
	}

	.content-page & {

		&__inner {
			padding: 31vh 0 5vh;
		}
	}
}
.b-head-block-slider {

	.slick-dots {

		li {
			list-style: none;
			width: 64px;
			height: 64px;

			// &.slick-active {

			// 	.progress-bar {
			// 		stroke-width: 4;
			// 	}
			// }
		}

		a {
			font-size: 30px;
		}

		li + li {
			margin-left: 30px;
		}
	}

	.progress {
		width: 66px;
		height: 66px;
	}

	&__lead {
		font-size: 28px;
		line-height: 38px;
	}

	&__image-wrapper {
		width: 100%;
		margin-left: 17px;

		.slick-current & {
			transform: translateY(68px);
		} 
	}

	&__text-wrapper {
		padding: 80px 82px;
	}

	&__header {
		margin: 0 0 40px;
	}
}
.b-header {

	&__inner {
		padding: 32px 0;
		// justify-content: flex-start;
	}
}
/* 768 + */
.b-history-block {
    margin-bottom: 0;
    
    &__text-inner {
        padding: 97px 125px 0 40px;
    }

    &__text {
        font-size: 18px;
        line-height: 30px;
        margin: 0;
    }

    &__shell {
        margin: 0 -15px 0 0;
    }

    &__img-wrapper {
        width: 618px;
    }

    &__signature {
        bottom: 137px;
        right: 585px;
    }

    &__arrow {
        bottom: -48%;
        right: -37%;
        transform: rotate(0deg);
    }
    
}
/* 768 + */
/* 768 + */
.b-icon {

	.b-info-block & {
        margin: 0 -22px 45px -48px;
        font-size: 71px;
        height: 71px;
    }

    &--about {
        .b-info-block--about & {
            font-size: 70px;
            margin: 0 -24px 52px -55px;
        }
    }

    &--plus {
        display: block;
        font-size: 45px;
        color: @cl-light-grayish-cyan;
        position: absolute;
        bottom: 36px;
        left: 36px;
        
        .touchevents .b-card:active &,
        .no-touchevents .b-card:hover & {
            color: @cl-bright-red;
            transition: all 0.5s ease-out;
        }
        
    }

    &--fabric-slider {
        margin: 0 22px;
    }
}

.icon{

    &-arrow-down {
        font-size: 80px;
    }

    &-send {
        font-size: 142px;
        margin: 0 0 24px;
    }
}
.b-info-block {
	background: url("../images/inhtml/bg_info_tab.svg") bottom/cover no-repeat;
	padding: 99px 0 153px;

	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 91px 86px 16px;
		border-radius: 30px;
		width: 688px;
		margin: auto;
	}

	&__card {
		width: 227px;
		margin-bottom: 70px;

		& + & {
			margin: 0 0 70px;
		}
    }
    
    &--about {
        background: 
        url("../images/inhtml/mountains.png") bottom/100% no-repeat,
        linear-gradient(360deg, rgba(220, 217, 233, 0.5) 1.64%, rgba(242, 212, 215, 0.2) 51.33%, rgba(220, 217, 233, 0) 100%);
        padding: 121px 0 160px;
    }   
}
/* 768 + */
.b-input {
    &__input-field {
        padding: 7px 27px;

        &--feedback {
            height: 59px;
            width: 447px;

            .b-popup & {
                width: 100%;
                margin-bottom: 14px;
            }            
        }
    }

    &__textarea-field {
        width: 447px;
        height: 160px;
        padding: 13px 27px;

        .b-popup & {
            width: 100%;
            height: 100px;
            margin-bottom: 14px;
        } 
    }

    &__label {
        &--feedback {

            .b-popup & {
                margin-bottom: 8px;
            }
        }
    }
}
/* 768 + */
.b-link {

	&--bold {
		font-size: 18px;
		line-height: 20px;
		max-width: 130px;
	}

	&--left {
		margin-right: auto;
		margin-left: 107px;
	}

	&--right {
		margin-right: 28px;
    	margin-top: 16px;
	}

	&--burger {
		font-size: 30px;
		line-height: 36px;
		letter-spacing: normal;

		&.is-expand {
			color: @cl-bright-red;

			&:before {
				opacity: 1;
			}
		}
	}

	&--lvl2 {
		display: inline-block;
		font-size: 16px;
		line-height: 26px;
		color: @cl-very-dark-grayish-red;
    }
}
.b-logo {
	width: 115px;
	height: 115px;
	transform: translate(-50%, 20px);

	.b-footer & {
		order: 1;
		width: 155px;
		height: 155px;
		margin: 0 105px 0 0;
	}

	.b-burger__menu & {
		width: 64px;
		height: 64px;
		left: 40px;
		top: 31px;
	}
}
/* 768 + */
.b-manufacturer {
	width: auto;
	height: auto;
	background: transparent;
	padding: 40px;

	&__link {
		font-size: 16px;
		flex-direction: column-reverse;

		&:before {
			font-size: 100px;
    		height: 100px;
		}

		span {
			margin: 0 0 20px;
		}
	}

	.b-footer & {
		order: 3;
		position: static;
		align-self: flex-start;
		margin: 0 0 0 auto;

		&__link {

			&:before {
				font-size: 120px;
	    		height: 120px;
			}

			span {
				margin: 0 0 18px;
			}
		}
	}
}
.b-map {
	height: 700px;

	.ymaps-2-1-77-balloon,
	.ymaps-2-1-78-balloon,
	.ymaps-2-1-79-balloon {
		transform: scale(1);
	}
}
.b-market-block {
	padding: 79px 0 140px;

	&__inner {
		flex-direction: row;
		flex-wrap: wrap;
		padding: 37px 0;
        justify-content: space-around;
	}

    &__image {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

	&__item {
		padding: 20px;
        width: 344px;
        height: 240px;
        margin: 0;
	}
}
.b-nav {

	&__item {

		& + & {
			margin-left: 68px;
		}
	}

	&__link {
		font-size: 18px;
	}
}
/* 768 + */
.b-news-slider {
    &__header {
        padding: 20px 6px 0 0;
    }

    .slick-list {
        min-height: 660px;
    }
}
.b-not-found {
	background-size: 1946px 1298px;

	&__text {
		font-size: 21px;
		line-height: 34px;
		margin: 18px 0 35px;
	}

	&__img-wrap {
		height: 200px;
	}

	&__content {
		margin-bottom: 9vh;
	}
}
/* 768 + */
.b-page-wrapper {

	.about & {
		background-position: 50% 32%;
	}
}
/* 768 + */
.b-pagination {
    width: 24.3em;
    &__link {
        font-size: 30px;
        line-height: 36px;
        // margin-right: 60px;
        &:before {
            width: 64px;
            height: 64px;
        }
    }
}

/* 768 + */
.b-popup {

	&--product & {

		&__inner {
			padding: 24px 126px;
		}

		&__lead-box {
			margin: 38px 0 28px;
		}

		&__image-wrapper {
			margin: 0 0 0 -86px;
			display: flex;
			flex-direction: row-reverse;
		}

		&__image-slider {
			width: ~'calc(100% - 86px)';
		}

		&__slider-pagination {
			flex-direction: column;
			width: 70px;
			margin-right: 16px;
			flex-shrink: 0;
			justify-content: flex-start;
		}

		&__dots {
			width: 100%;
			margin-bottom: 16px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__table {
			margin: 7px 0 0;
			padding: 21px 44px 26px;
		}

		&__table-text {
			font-size: 16px;
			line-height: 26px;
		}

		&__kpfc {
			flex-wrap: nowrap;
			margin: 16px 0 20px;
			padding: 7px 16px;
		}

		&__kpfc-item {
			width: 18%;
			margin: 0;
		}

		&__composition {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__composition-item {
			width: 49%;

			& + .b-popup__composition-item {
				margin: 0;
			}
		}

		&__popular {
			margin: 60px -86px 0;
		}
	}

	.os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle,
    .os-host-resize-disabled.os-host-scrollbar-horizontal-hidden>.os-scrollbar-vertical {
        width: 12px;
    }

    &--send & {
        
        &__content {
            width: 672px;
            box-shadow: 0px 12px 36px 2px rgba(50, 126, 150, 0.12);
			border-radius: 20px;
            padding: 84px 136px 74px;
        }

        &__text {
        	font-size: 21px;
			line-height: 34px;
        }
    }

    &--form & {

    	&__content {
            width: 672px;
			border-radius: 20px;
            padding: 45px 114px 51px;
        }
    }
}

.b-product-card {
	max-width: 336px;
	height: 436px;
	padding: 37px 30px;

	&-wrapper {
		width: 50%;
	}
	
	&__description {
		width: 100%;
    	// max-height: 59px;
    	margin-bottom: 14px;
	}

	&__image-wrapper {
		height: 265px;
	}
}
.b-radio {
    &--square {
        width: 40px;
        height: 40px;
        margin-bottom: 7px;
        margin-right: 7px;
    }
}
.b-range-block {

	&__text {
		font-size: 21px;
		line-height: 34px;
		margin: 0 auto 72px;
	}

	&__link {
		margin: 42px auto 0;
	}
}
.b-social {
    margin: auto 0 0;

    .b-footer & {
    	position: absolute;
    	margin: 0;
    	left: 0;
    	top: 32px;
    }
}
/* 768 + */
.b-title {

	&--lvl2 {
		color: @cl-dark-red;
		font-size: 23px;
		line-height: 32px;
		letter-spacing: 0.01em;
		margin: 0 0 21px;
	}

	.b-range-block & {

        &--h3 {
        	font-size: 48px;
			line-height: 56px;
        }
    }

    .b-head-block-slider & {
    	font-size: 48px;
		line-height: 56px;
		width: 270px;
		margin: 0 0 12px;
    }

    &--news-slider {
        font-size: 30px;
        line-height: 36px;
        letter-spacing: normal;
        margin-bottom: 53px;
    }

    .b-market-block & {
    	font-size: 48px;
    	line-height: 56px;
    	width: 400px;
    }

    &--history,
    &--fabric,
    &--genesis {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 24px;
    }
    &--fabric,
    &--genesis {
        letter-spacing: normal;
    }
    
    .b-product-card & {
        font-size: 17px;
        line-height: 21px;
    }

    &--contact {
        font-size: 48px;
        line-height: 56px;
    }

    &--feedback {
        font-size: 48px;
        line-height: 56px;
    }

    &--address {
        margin-bottom: 28px;

        .b-burger__item & {
            color: @cl-very-dark-grayish-red;
            margin: 0 0 8px;
        }
    }

    &--blog,
    &--about {
        font-size: 48px;
        line-height: 56px;
    }

    .b-popup__popular &,
    .b-popup__lead-box & {
        font-size: 30px;
        line-height: 36px;
        letter-spacing: normal;
    }

    .content-page .b-head-block & {
        color: @cl-white;
        font-size: 48px;
        line-height: 56px;
    }

    .b-popup--form &,
    .b-popup--send & {
        font-size: 48px;
        line-height: 56px;
        margin: 0 0 18px;
    }

    .b-popup--form & {
        margin: 0 0 40px;
    }

    .b-not-found & {
        font-size: 48px;
        line-height: 56px;
        letter-spacing: normal;
    }
}
/* 768 + */
.hidden-xs {
	display: block;
}