.b-burger {

	&__menu-lvl2 {

		&--catalog {
			background: url(../images/inhtml/bg-catalog-desk.png) top right/cover no-repeat;
		}
	}

	&__link-close {
		top: 33px;
    	right: 35px;
	}

	&__menu {
		padding: 161px 56px 14px;
	}

	&__menu-lvl2 {
		padding: 160px 112px 0 400px;
	}

	&__menu-list {
		margin: 0;
	}

	&__text {
    	margin: 133px 0 40px;
    }

    &__inner-market,
    &__inner-blog {
        margin: 0 auto 80px;
    }

    &__inner-contacts {
        margin: 0 auto;
    }
}


/* 1920++  */



/* 1920++  */

.b-decor {

	&__img {

		&--hazelnut {
    		left: 7vw;
    		top: 260px;
		}

		&--walnut2 {
			left: 0;
			bottom: 55px;
		}

		&--hazelnut-leaf2 {
			top: 217px;
			left: 0;
		}

		&--pistachio-big {
			bottom: 115px;
    		right: 42.5vw;
		}

		&--pistachio-shadow {
			bottom: 50px;
    		right: 41vw;
		}

		&--pistachio-small {
			bottom: 70px;
    		right: 47vw;
		}

		&--cashew1 {
			top: 190px;
    		right: 8vw;
		}

		&--peanut1 {
			top: 75px;
    		left: 5vw;
		}

		&--peanut2 {
			bottom: 170px;
    		right: 6vw;
		}

		&--peanut3 {
			bottom: 285px;
		    right: 0;
		    top: auto;
		}

		&--peanut4 {
			left: 35vw;
			top: 33px;
		}

		&--peanut6 {
			display: block;
			left: 5%;
		    bottom: auto;
		    top: 107px;
		}

		&--walnut4 {
			left: -106px;
    		top: 21%;
		}

		&--cashew3 {
			top: auto;
			right: auto;
			bottom: 151px;
			left: 2%;
        }
        
        &--almond_plate_2 {
            bottom: 0;
            right: 0;
        }

        &--almond-plate1 {
			right: 0;
		}

		&--almond-leaf3 {
			right: 0;
		}

		&--walnut-pile1 {
			bottom: 187px;
			left: 0;
		}

		&--walnut3 {
			right: -49px;
    		top: 11%;
		}

		&--peanut5 {
			bottom: 25%;
    		right: 59px;
		}

		&--cashew2 {
			right: 12%;
    		bottom: -7px;
		}

		&--almond-blur {
			right: -96px;
    		bottom: -88px;
		}

		&--almond-leaf4 {
			left: 3%;
		}

		&--almond-leaf1 {
			left: 43%;
		}

		&--almond-leaf3 {
			top: 31%;
		}

		&--almond2 {
			right: 12%;
    		top: 60px;
		}

		&--cashew_1 {
			display: block;
			top: 110px;
		    left: 75px;
		    transform: scale(0.75);
		}

		&--hazelnut_leaf {
			top: auto;
		    left: 30px;
		    bottom: 16px;
		    transform: scale(1.8) rotate(-90deg);
		}

		&--walnut_3 {
			right: 40px;
		}
	}
}
/* 1920++  */


.b-filter {

	&-wrapper {
		padding: 162px 66px 115px 111px;
	}
}
.b-footer {

	&__inner {
		justify-content: flex-start;
		padding: 74px 82px 50px 46px;
	}

	&__menu {
		margin: 0 7.5% 0 0;
	}

	&__copyright {
		height: 94px;
	}
}

.b-head-block {
	
	.content-page & {

		&__inner {
			padding: 35vh 0 5vh;
		}
	}
}
.b-head-block-slider {

	&__inner {
		width: 100%;
	}

	&__image-wrapper {
		margin-left: 175px;
    	margin-right: -42px;

    	.slick-current & {
			transform: translateY(43px);
		} 
	}

	&__description-wrapper {
	    bottom: -49px;
	    right: 44px;
	}
}
.b-info-block {
	padding: 185px 0 174px;
    margin-top: -28px;
    
    &--about {
        padding: 160px 0 287px;
        margin-top: 0;
        background-position: 50% 18vh, center;
        background-size: 100%;
    }
}
.b-link {

	&--right {
		margin-right: 127px;
	}
}
.b-logo {
	
	.b-footer & {
		width: 160px;
		height: 160px;
		margin: 14px 7.5% 0 0;
	}

	.b-burger__menu & {
		top: 33px;
    	left: 60px;
    	width: 80px;
    	height: 80px;
    }
}
.b-manufacturer {

	.b-footer & {
		margin: 0 0 0 auto;
	}
}
.b-map {
	height: 945px;
}
.b-page-wrapper {
    
	.about & {
		background-position: 50% 36%;
		background-size: 100%;
	}
}
