.b-feedback {
    max-width: none;
    display: flex;
    padding-top: 113px;
    margin-bottom: 121px;

    &__top-line {
        text-align: left;
        padding-right: 112px;
        margin: 0;
    }
}