.b-feedback {
    max-width: 608px;
    padding-top: 45px;

    &__top-line {
        padding: 0 16px;
        text-align: center;
        margin-bottom: 38px;
    }

    &__description {
        margin: 0;
        line-height: 26px;
    }

    &__form-wrapper {
        background: @cl-light-grayish-cyan;
        padding: 46px 16px 47px;
    }

    &__form {
        max-width: 447px;
        margin: 0 auto;
    }

    &__notice {
        font-size: 12px;
        line-height: 16px;
        margin: 0 0 38px;
    }

    .b-popup & {
        padding: 0;
        margin: 0;

        &__top-line {
            display: none;
        }

        &__form-wrapper {
            padding: 0;
        }

        &__notice {
            margin: 0 0 22px;
        }
    }
}