.b-feedback {
    padding-top: 93px;
    margin-bottom: 101px;

    &__top-line {
        width: 590px;
        margin-bottom: 56px;
        padding: 0;
    }

    &__description {
        font-size: 21px;
        line-height: 34px;
    }

    &__form-wrapper {
        padding: 49px 81px 53px 80px;
        border-radius: 20px;
    }

    &__notice {
        margin-bottom: 41px;
    }

    .b-popup & {

        &__notice {
            margin: 0 0 32px;
        }
    }
}