.b-info-block {
	position: relative;
	width: 100%;
	background: url("../images/inhtml/bg_info_mob.svg") bottom/cover no-repeat;
	padding: 55px 0 53vw;

	&__inner {
		overflow: hidden;
		background: @cl-white;
		box-shadow: 0px 20px 80px rgba(215, 122, 14, 0.2);
		border-radius: 20px;
		padding: 60px 22px 50px 48px;
	}

	&__card {

		& + & {
			margin-top: 70px;
		}
    }
    
    &--about {
        background: 
        url("../images/inhtml/mountains.png") bottom/185% no-repeat,
        linear-gradient(360deg, rgba(220, 217, 233, 0.5) 1.64%, rgba(242, 212, 215, 0.2) 51.33%, rgba(220, 217, 233, 0) 100%);
        padding: 85px 0 163px;
        margin-bottom: -2px;

        .b-info-block {
        	
            &__inner {
                background: transparent;
                box-shadow: none;
                border-radius: 0;
                padding: 10px 29px 0 64px;
            }
        }
    }
}
