.b-info-block {
	padding: 161px 0 180px;
    
    &--about {
        padding: 55px 0 287px;
        .b-info-block {
            &__inner {
                padding: 10px;
			    max-width: 1132px;
			    margin: auto;
            }
        }
    }

}