.b-info-block {
	background: url("../images/inhtml/bg_info_desk.svg") bottom/cover no-repeat;
	margin-top: -40px;
	padding: 161px 0 250px;

	&__inner {
		width: auto;
		padding: 93px 116px 68px;
	}

	&__card {
		margin: 0;
		width: 227px;

		& + & {
			margin: 0;
		}
    }

	&--about {
        background: 
        url("../images/inhtml/mountains.png") bottom/100% no-repeat,
        linear-gradient(360deg, rgba(220, 217, 233, 0.5) 1.64%, rgba(242, 212, 215, 0.2) 51.33%, rgba(220, 217, 233, 0) 100%);
    }
}