.b-info-block {
	padding: 185px 0 174px;
    margin-top: -28px;
    
    &--about {
        padding: 160px 0 287px;
        margin-top: 0;
        background-position: 50% 18vh, center;
        background-size: 100%;
    }
}