.b-info-block {
	background: url("../images/inhtml/bg_info_tab.svg") bottom/cover no-repeat;
	padding: 99px 0 153px;

	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 91px 86px 16px;
		border-radius: 30px;
		width: 688px;
		margin: auto;
	}

	&__card {
		width: 227px;
		margin-bottom: 70px;

		& + & {
			margin: 0 0 70px;
		}
    }
    
    &--about {
        background: 
        url("../images/inhtml/mountains.png") bottom/100% no-repeat,
        linear-gradient(360deg, rgba(220, 217, 233, 0.5) 1.64%, rgba(242, 212, 215, 0.2) 51.33%, rgba(220, 217, 233, 0) 100%);
        padding: 121px 0 160px;
    }   
}