/* 1280 + */
.b-title {

    &--news-slider {
        margin-bottom: 12px;
    }

    &--address {
        margin-bottom: 16px;
    }

    .b-head-block-slider & {
		font-size: 64px;
		line-height: 72px;
		width: 100%;
	}
}