/* 320 + */
.b-title {
    display: block;
    font-size: 30px;
    line-height: normal;
    letter-spacing: normal;
    color: @cl-font-main;
    margin: 0;
    .roboto-bold();

    &--block {
        display: block;
        margin-right: 0;
    }

    &__new-line {
        display: block;
        margin: 0;
    }

    .b-info-block & {
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: @cl-very-dark-mostly-black-red;
        margin: 0 0 14px;
    }

    .b-range-block & {
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: @cl-very-dark-grayish-red;
        margin: 0 0 4px;
        transition: color .3s ease;

        &--h3 {
            font-size: 30px;
            line-height: 36px;
            letter-spacing: normal;
            color: @cl-very-dark-mostly-black-red;
            margin: 0 0 18px;
        }
    }

    .b-head-block-slider & {
        font-size: 30px;
        line-height: 36px;
        color: @cl-pure-or-mostly-pure-yellow;
        width: 185px;
        margin: 0 0 4px;
    }

    &--news-slider {
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.01em;
        margin-bottom: 39px;
    }

    .b-market-block & {
        font-size: 30px;
        line-height: 36px;
        color: @cl-very-dark-mostly-black-red;
        text-align: center;
        width: 185px;
        margin: 0 auto;
    }

    .b-filter-head & {
        font-size: 30px;
        line-height: 36px;
        color: @cl-dark-red;
        margin: 0 0 10px;
    }

    .b-filter-main & {
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: @cl-dark-red;
        margin: 0 0 10px;
    }

    .b-product-card & {
        font-size: 15px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.02em;
        color: @cl-very-dark-mostly-black-red;
        transition: color .3s ease;

        .b-popular & {
            font-size: 15px;
            line-height: 19px;
            letter-spacing: 0.02em;
            margin-bottom: 0;
        } 
    }

    &--contact {
        line-height: 36px;
    }

    &--feedback {
        line-height: 36px;
        color: @cl-very-dark-mostly-black-red;
        margin-bottom: 18px;
    }

    &--address,
    &--history,
    &--fabric,
    &--genesis {
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: @cl-dark-red;
        margin-bottom: 18px;
    }
    
    &--genesis {
        padding-top: 30px;
        padding-right: 30px;
    }

    &--fabric {
        // letter-spacing: -0.001em;
        letter-spacing: 0.015em;
    }
    
    &--blog,
    &--about {
        color: @cl-white;
        line-height: 36px;
    }

    .b-popup__lead-box & {
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: @cl-very-dark-mostly-black-red;
        margin: 0 0 16px;
    }

    &--h6 {
        .open-bold();
        font-size: 16px;
        line-height: 26px;
        margin: 0 0 12px;
    }
    
    .b-popup__popular & {
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.01em;
        margin-bottom: 30px;
    }

    .content-page .b-head-block & {
        color: @cl-white;
        line-height: 36px;
    } 

    .b-popup--send & {
        color: @cl-very-dark-mostly-black-red;
        margin: 0 0 10px;
    }

    .b-popup--form & {
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: @cl-very-dark-mostly-black-red;
        margin: 0 0 16px;
    }

    .b-not-found & {
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.01em;

        &.hidden {
            font-size: 0;
            line-height: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            visibility: hidden;
            opacity: 0;
        }
    }
}