/* 768 + */
.b-title {

	&--lvl2 {
		color: @cl-dark-red;
		font-size: 23px;
		line-height: 32px;
		letter-spacing: 0.01em;
		margin: 0 0 21px;
	}

	.b-range-block & {

        &--h3 {
        	font-size: 48px;
			line-height: 56px;
        }
    }

    .b-head-block-slider & {
    	font-size: 48px;
		line-height: 56px;
		width: 270px;
		margin: 0 0 12px;
    }

    &--news-slider {
        font-size: 30px;
        line-height: 36px;
        letter-spacing: normal;
        margin-bottom: 53px;
    }

    .b-market-block & {
    	font-size: 48px;
    	line-height: 56px;
    	width: 400px;
    }

    &--history,
    &--fabric,
    &--genesis {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 24px;
    }
    &--fabric,
    &--genesis {
        letter-spacing: normal;
    }
    
    .b-product-card & {
        font-size: 17px;
        line-height: 21px;
    }

    &--contact {
        font-size: 48px;
        line-height: 56px;
    }

    &--feedback {
        font-size: 48px;
        line-height: 56px;
    }

    &--address {
        margin-bottom: 28px;

        .b-burger__item & {
            color: @cl-very-dark-grayish-red;
            margin: 0 0 8px;
        }
    }

    &--blog,
    &--about {
        font-size: 48px;
        line-height: 56px;
    }

    .b-popup__popular &,
    .b-popup__lead-box & {
        font-size: 30px;
        line-height: 36px;
        letter-spacing: normal;
    }

    .content-page .b-head-block & {
        color: @cl-white;
        font-size: 48px;
        line-height: 56px;
    }

    .b-popup--form &,
    .b-popup--send & {
        font-size: 48px;
        line-height: 56px;
        margin: 0 0 18px;
    }

    .b-popup--form & {
        margin: 0 0 40px;
    }

    .b-not-found & {
        font-size: 48px;
        line-height: 56px;
        letter-spacing: normal;
    }
}