.b-decor {

	&__img {

		&--hazelnut {
    		left: 7vw;
    		top: 260px;
		}

		&--walnut2 {
			left: 0;
			bottom: 55px;
		}

		&--hazelnut-leaf2 {
			top: 217px;
			left: 0;
		}

		&--pistachio-big {
			bottom: 115px;
    		right: 42.5vw;
		}

		&--pistachio-shadow {
			bottom: 50px;
    		right: 41vw;
		}

		&--pistachio-small {
			bottom: 70px;
    		right: 47vw;
		}

		&--cashew1 {
			top: 190px;
    		right: 8vw;
		}

		&--peanut1 {
			top: 75px;
    		left: 5vw;
		}

		&--peanut2 {
			bottom: 170px;
    		right: 6vw;
		}

		&--peanut3 {
			bottom: 285px;
		    right: 0;
		    top: auto;
		}

		&--peanut4 {
			left: 35vw;
			top: 33px;
		}

		&--peanut6 {
			display: block;
			left: 5%;
		    bottom: auto;
		    top: 107px;
		}

		&--walnut4 {
			left: -106px;
    		top: 21%;
		}

		&--cashew3 {
			top: auto;
			right: auto;
			bottom: 151px;
			left: 2%;
        }
        
        &--almond_plate_2 {
            bottom: 0;
            right: 0;
        }

        &--almond-plate1 {
			right: 0;
		}

		&--almond-leaf3 {
			right: 0;
		}

		&--walnut-pile1 {
			bottom: 187px;
			left: 0;
		}

		&--walnut3 {
			right: -49px;
    		top: 11%;
		}

		&--peanut5 {
			bottom: 25%;
    		right: 59px;
		}

		&--cashew2 {
			right: 12%;
    		bottom: -7px;
		}

		&--almond-blur {
			right: -96px;
    		bottom: -88px;
		}

		&--almond-leaf4 {
			left: 3%;
		}

		&--almond-leaf1 {
			left: 43%;
		}

		&--almond-leaf3 {
			top: 31%;
		}

		&--almond2 {
			right: 12%;
    		top: 60px;
		}

		&--cashew_1 {
			display: block;
			top: 110px;
		    left: 75px;
		    transform: scale(0.75);
		}

		&--hazelnut_leaf {
			top: auto;
		    left: 30px;
		    bottom: 16px;
		    transform: scale(1.8) rotate(-90deg);
		}

		&--walnut_3 {
			right: 40px;
		}
	}
}