.b-decor {

	&__img {

		&--peanut_6 {
			display: none;
		}

		&--peanut5 {
			top: 121px;
    		left: 52px;
		}

		&--hazelnut {
			display: block;
			top: 253px;
    		right: -122px;
		}

		&--pistachio-big {
			bottom: 111px;
			right: 39%;
		}

		&--pistachio-small {
			bottom: 63px;
    		right: 50%;
		}

		&--pistachio-shadow {
			bottom: 44px;
			right: 36%;
		}

		&--peanut4 {
			display: block;
			top: 10px;
    		left: 42%;
		}

		&--almond-leaf1 {
			left: 30vw;
    		bottom: -85px;
		}

		&--almond1 {
			display: block;
		    right: 1vw;
		    bottom: 80px;
		}

		&--walnut3 {
			bottom: 34%;
			left: -67px;
		}

		&--peanut6 {
			display: block;
		    left: 10px;
		    bottom: 2%;
		}

		&--peanut7 {
			display: block;
    		right: 0;
    		top: 41%;
		}

		&--cashew2 {
			right: 27px;
    		bottom: 16%;
		}

		&--almond3 {
			top: 54px;
    		right: 0px;
		}

		&--almond-leaf2 {
			bottom: auto;
    		top: 105px;
		}

		&--spoon {
			display: block;
			bottom: -130px;
		    left: 0;
		    z-index: 2;
		}

		&--almond-plate1 {
			display: block;
			right: -235px;
			bottom: 0;
		}

		&--hazelnut_leaf {
			top: 20px;
		    left: 30px;
		    transform: scale(1.8);
		}

		&--peanut_2 {
			display: block;
			left: 200px;
    		top: 110px;
		}

		&--peanut_4 {
			top: 35px;
		    right: 185px;
		    transform: rotate(-75deg);
		}

		&--walnut_3 {
			display: block;
			right: -80px;
    		bottom: 28px;
        }
        
        &--almond_plate_2 {
            top: 77px;
            right: -160px;
        }

        &--almond-blur {
        	display: block;
			right: -134px;
    		bottom: -94px;
		}

		.content-page & {

			&--hazelnut_leaf_1 {
				bottom: auto;
    			top: 15vh;
    		}

    		&--peanut_2 {
    			left: 207px;
    			top: 13vh;
    			right: auto;
    		}

    		&--peanut_4 {
    			display: block;
    			top: 35px;
			    right: 185px;
			    transform: rotate(-75deg);
    		}

    		&--walnut_3 {
    			right: -52px;
			    bottom: auto;
			    top: 11vh;
    		}
    	}
	}
}