.b-decor {

	&__img {

		&--almond-leaf2,
		&--almond3 {
			display: none;
		}

		&--peanut1 {
			display: block;
			top: 0;
			left: 0;
		}

		&--peanut2 {
			display: block;
			bottom: 75px;
			right: 0;
		}

		&--peanut3 {
			display: block;
			bottom: 200px;
			right: 0;
		}

		&--peanut4 {
			left: 40%;
		}

		&--cashew2 {
			display: block;
			right: 19%;
    		bottom: 7px;
		}

		&--spoon {
			bottom: 30px;
    		left: -3%;
    		z-index: 1;
		}

		&--almond-blur {
			right: -125px;
    		bottom: -150px;
		}

		&--almond2 {
			display: block;
			right: 15%;
			top: 50px;
		}

		&--almond-leaf3 {
			display: block;
			top: 38%;
			right: -4%;
		}

		&--almond-leaf4 {
			display: block;
			top: 75px;
    		left: 8%;
		}

		&--almond-leaf5 {
			display: block;
			bottom: 0;
    		left: 26%;
		}

		&--almonds1 {
			display: block;
			right: 0;
			top: 85px;
		}

		&--almond-plate1 {
			right: -9%;
		}

		&--walnut-pile1 {
			display: block;
			bottom: 340px;
			left: -6%;
		}

		&--pistacchi-plate1 {
			left: 48%;
		}
	}
}