.b-decor {
	
	&__img {
		position: absolute;
		z-index: 1;

		&--walnut3 {
			bottom: -161px;
    		left: -79px;
		}

		&--pistachio-big {
			bottom: 35vw;
			right: 35px;
		}

		&--pistachio-small {
			bottom: 21vw;
    		right: 120px;
		}

		&--peanut_2,
		&--cashew_1,
		&--walnut_3,
		&--almond2,
        &--almond-leaf3,
        &--almond-leaf4,
        &--almond-leaf5,
        &--almonds1,
        &--almond-plate1,
        &--pistacchi-plate1,
        &--walnut-pile1,
        &--spoon,
		&--almond1,
		&--almond-blur,
		&--cashew1,
		&--cashew3,
		&--walnut2,
		&--walnut4,
		&--peanut1,
		&--peanut2,
		&--peanut3,
		&--peanut4,
		&--peanut6,
		&--peanut7,
		&--hazelnut,
		&--hazelnut-leaf2 {
			display: none;
		}

		&--pistachio-shadow {
			bottom: 16vw;
			right: 20px;
		}

		&--almond-leaf1 {
			left: 5vw;
    		bottom: -80px;
		}

		&--peanut5 {
			top: -40px;
    		left: 54px;
		}

		&--cashew2 {
			right: -15px;
    		bottom: 37px;
		}

		&--almond3 {
			top: 30%;
			right: -75px;
		}

        &--almond-leaf2{
        	left: 0;
		    bottom: 8%;
		    z-index: 0;
        }

        &--hazelnut_leaf {
        	top: 0;
        	left: 0;
        }

        &--peanut_4 {
        	top: -56px;
		    right: 22px;
		    transform: scale(.7) rotate(130deg);
        }

        &--peanut_6 {
        	top: 36px;
		    right: -55px;
		    transform: scale(.75);
        }

        .content-page & {

        	&--peanut_4 {
        		display: none;
        	}

        	&--peanut_2 {
        		display: block;
			    top: 9vh;
			    right: 13px;
        	}

        	&--hazelnut_leaf_1 {
        		left: -38px;
    			bottom: -10vh;
        	}
        }
	}
}