.b-decor {

	&__img {

		&--pistachio-big {
			bottom: 135px;
			right: 35%;
		}

		&--pistachio-small {
			bottom: 100px;
    		right: 40%;
		}

		&--pistachio-shadow {
			bottom: 69px;
			right: 33%;
		}

		&--peanut6 {
			top: 6%;
    		left: 30%;
		}

		&--peanut1 {
			top: 40px;
		}

		&--peanut3 {
			top: 125px;
		}

		&--cashew1 {
			right: -3%;
    		bottom: 265px;
		}

		&--hazelnut-leaf2 {
			top: 150px;
		}

		&--hazelnut {
			left: -6%;
		}

		&--walnut-pile1 {
			display: block;
			bottom: 60px;
    		left: -60px;
		}

		&--pistacchi-plate1 {
			display: block;
			bottom: 0;
			left: 62%;
			transform: translateX(-50%);
		}

		&--peanut5 {
			display: block;
			top: auto;
			left: auto;
			bottom: 23%;
			right: 27px;
		}

		.content-page & {

        	&--cashew_1 {
        		display: block;
        		top: 21vh;
    			left: 57px;
        	}

        	&--walnut_3 {
        		right: 0;
    			top: 18vh;
        	}

        	&--peanut_4 {
        		top: 13vh;
    			right: 21vw;
        	}

        	&--peanut_2 {
        		left: 37vw;
    			top: 5vh;
        	}

        	&--hazelnut_leaf_1 {
        		top: 50vh;
    			left: 0;
        	}
        }
	}
}