/* 320 + */
.b-link {
    display: inline;
    text-decoration: none;
    transition: color @animation-time;
    cursor: pointer;

    // Общие
    &--block {
        display: block;
    }

    &--bold {
    	display: block;
    	.open-bold;
    	text-transform: uppercase;
    	font-size: 12px;
    	line-height: 1;
    	color: @cl-white;
    	margin: 10px 0 0;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 0;
            height: 1px;
            background: @cl-white;
            transition: width .5s ease;
        }

        .no-touchevents &:hover,
        .touchevents &:active {
            color: @cl-white;

            &:before {
                width: 100%;
            }
        }
    }

    &--right {
        margin-left: auto;
    }

    &--color {
    	color: @cl-pure-or-mostly-pure-yellow;

        &:before {
            background: @cl-pure-or-mostly-pure-yellow;
        }

        .no-touchevents &:hover,
        .touchevents &:active {
            color: @cl-pure-or-mostly-pure-yellow;
        }
    }

    &--burger {
    	display: inline-block;
    	.roboto-bold;
    	font-size: 23px;
		line-height: 32px;
		letter-spacing: 0.01em;
		color: @cl-dark-red;
		z-index: 1;
		.icon('hover-menu');
		position: relative;

		&:before {
			position: absolute;
			left: -52px;
			bottom: 6px;
			opacity: 0;
			transition: opacity @animation-time;
			font-size: 57px;
		}

		.no-touchevents &:hover,
		.touchevents &:active {
			color: @cl-bright-red;

			&:before {
				opacity: 1;
			}
		}
    }

    &--footer-menu {
    	.roboto-regular();
    	display: inline-block;
    	color: @cl-white;
    	margin: 0 0 18px;
    	font-size: 21px;
		line-height: 31px;
    }

    &--contact-link {
        line-height: 26px;
        text-decoration: underline;
        color: @cl-very-dark-grayish-red;
        display: inline-block;
        margin: 8px 0 0;
        .no-touchevents &:hover,
		.touchevents &:active {
			color: @cl-dark-red;
		}
    }

}