/* 768 + */
.b-link {

	&--bold {
		font-size: 18px;
		line-height: 20px;
		max-width: 130px;
	}

	&--left {
		margin-right: auto;
		margin-left: 107px;
	}

	&--right {
		margin-right: 28px;
    	margin-top: 16px;
	}

	&--burger {
		font-size: 30px;
		line-height: 36px;
		letter-spacing: normal;

		&.is-expand {
			color: @cl-bright-red;

			&:before {
				opacity: 1;
			}
		}
	}

	&--lvl2 {
		display: inline-block;
		font-size: 16px;
		line-height: 26px;
		color: @cl-very-dark-grayish-red;
    }
}