/* 768 + */
.b-button {

	.b-head-block-slider & {
		font-size: 16px;
		letter-spacing: 0.01em;
		border-width: 2px;
		padding: 16px 43px;
	}

	.b-catalog-menu & {
        width: 54px;
        height: 220px;
        top: 58vh;

        span {
        	font-size: 16px;
			line-height: 28px;
			width: 75px;
			left: -93px;
        }

        &:before {
            font-size: 42px;
        }

        &--catalog-close {
            top: 50%;
        }
    }

    &--popup-close,
	&--filter-close {
		width: 64px;
		height: 64px;
		border-width: 3px;
		top: 31px;
    	right: 40px;

	    &:before,
	    &:after {
	        width: 31px;
	        height: 4px;
	    }
	}

	&--popup-close {
        top: 25px;
    }

	.b-filter-buttons & {
		width: 194px;

		& + .b-button {
			margin-left: 30px;
		}
    }
    
    &--contact-button {
        font-size: 16px;
        line-height: 26px;
        height: 52px;
        padding: 13px 26px;
        border-width: 2px;
        margin: 0;
    }

    &--feedback {
        font-size: 16px;
        line-height: 26px;
        height: 52px;
        padding: 13px 43px;
    }

    .b-popup--form &--popup-close,
    .b-popup--send &--popup-close {
        width: 64px;
        height: 64px;
        top: 30px;
        right: 30px;
    }

    .b-not-found & {
        padding: 11px 42px;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.01em;
        border-width: 2px;
    }
}