/* 320 + */
.b-button {
    .open-bold();
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 1;
    padding: 16px 37px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid @cl-bright-red;
    color: @cl-bright-red;
    cursor: pointer;
    position: relative;
    transition: color .3s ease;

    &--block {
        display: block;
    }

    &.disabled {
        pointer-events: none;
        border-color: transparent;
        color: @cl-grayish-red;
    }

    &--more {
        align-self: flex-start;
        
        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            top: -1px;
            left: -1px;
            width: 0;
            height: ~'calc(100% + 2px)';
            border-radius: 4px;
            background: @cl-bright-red;
            transition: width .3s ease;

            .no-object-fit & {
                left: 0;
            }
        }

        .no-touchevents &:hover,
        .touchevents &:active {
            color: @cl-white;

            &:before {
                width: ~'calc(100% + 2px)';
            }
        }

        .no-object-fit.no-touchevents &:hover,
        .no-object-fit.touchevents &:active {

            &:before {
                width: 100%;
            }
        }
    }

    .b-head-block-slider & {
        border-color: @cl-pure-or-mostly-pure-yellow;
        color: @cl-pure-or-mostly-pure-yellow;
        font-size: 12px;
        border-width: 1px;
        padding: 12px 31px;
        transition: color .3s ease;

        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            top: -1px;
            left: -1px;
            width: 0;
            height: ~'calc(100% + 2px)';
            border-radius: 4px;
            background: @cl-pure-or-mostly-pure-yellow;
            transition: width .3s ease;

            .no-object-fit & {
                left: 0;
            }
        }

        .no-touchevents &:hover,
        .touchevents &:active {
            color: @cl-white;

            &:before {
                width: ~'calc(100% + 2px)';
            }
        }

        .no-object-fit.no-touchevents &:hover,
        .no-object-fit.touchevents &:active {

            &:before {
                width: 100%;
            }
        }
    }

    .b-catalog-menu & {
        position: absolute;
        top: 56vh;
        transform: translateY(-50%);
        right: 0;
        width: 31px;
        height: 130px;
        padding: 0;
        border: none;
        background: url("../images/inhtml/menu-bg.svg") right/contain no-repeat;
        .icon('menu-dots');
        color: @cl-white;
        z-index: 1;

        &:before {
            font-size: 26px;
            position: absolute;
            top: 50%;
            left: 70%;
            transform: translate(-50%, -50%);
        }

        span {
            .roboto-bold();
            text-transform: uppercase;
            font-size: 12px;
            line-height: 18px;
            text-align: right;
            letter-spacing: 0.03em;
            width: 60px;
            position: absolute;
            top: 50%;
            left: -77px;
            transform: translateY(-50%);
        }

        &--catalog-close {
            top: 50%;
            left: 0;
            transform: translateY(-50%) scale(-1, 1);
            .icon('menu-arrow');
        }

        .no-touchevents &:hover,
        .touchevents &:active {
            color: @cl-white;

            span {
                text-decoration: underline;
            }
        }
    }

    &--popup-close,
    &--filter-close {
        display: flex;
        width: 41px;
        height: 41px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        border-radius: 50%;
        border: 2px solid @cl-grayish-red;
        position: absolute;
        top: 15px;
        right: 15px;
        padding: 0;

        &:before,
        &:after {
            content: '';
            display: block;
            width: 21px;
            height: 3px;
            background: @cl-grayish-red;
            position: absolute;
            top: 50%;
            left: 50%;
        }

        &:before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &:after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }

    &--popup-close {
        top: 9px;
        border: 2px solid @cl-light-grayish-cyan;

        &:before,
        &:after {
            background: @cl-light-grayish-cyan;
        }
    }

    &--feedback,
    .b-filter-buttons & {
        padding: 0;
        flex-shrink: 0;
        width: ~'calc(50% - 10px)';
        height: 48px;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            top: -1px;
            left: -1px;
            width: 0;
            height: ~'calc(100% + 2px)';
            border-radius: 4px;
            background: @cl-bright-red;
            transition: width .3s ease;

            .no-object-fit & {
                left: 0;
            }
        }

        &--clear {
            border-color: @cl-grayish-red;
            color: @cl-grayish-red;

            &.disabled {
                border-color: transparent;
            }

            &:before {
                background: @cl-grayish-red;
            }
        }

        .no-touchevents &:hover,
        .touchevents &:active {
            color: @cl-white;

            &:before {
                width: ~'calc(100% + 2px)';
            }
        }

        .no-object-fit.no-touchevents &:hover,
        .no-object-fit.touchevents &:active {

            &:before {
                width: 100%;
            }
        }
    }

    &--contact-button {
        font-size: 12px;
        line-height: 21px;
        color: @cl-very-dark-mostly-black-red;
        background: transparent;
        height: 37px;
        border: 1px solid @cl-very-dark-mostly-black-red;
        padding: 13px 30px;
        
        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            top: -1px;
            left: -1px;
            width: 0;
            height: ~'calc(100% + 2px)';
            border-radius: 4px;
            background: @cl-opium;
            transition: width .3s ease;

            .no-object-fit & {
                left: 0;
            }
        }

        .no-touchevents &:hover,
        .touchevents &:active {
            color: @cl-white;
            border-color: @cl-opium;
            &:before {
                width: ~'calc(100% + 2px)';
            }
        }

        .no-object-fit.no-touchevents &:hover,
        .no-object-fit.touchevents &:active {

            &:before {
                width: 100%;
            }
        }
    }

    &--feedback {
        font-size: 12px;
        line-height: 21px;
        height: 37px;
        width: auto;
        padding: 8px 31px;
        .no-touchevents &:hover,
        .touchevents &:active {
            z-index: 1;
        }
    }
    
    .b-popup--form &--popup-close,
    .b-popup--send &--popup-close {
        width: 43px;
        height: 43px;
        top: 20px;
        right: 20px;
    }

    .b-popup--form &--popup-close {
        border-color: @cl-grayish-red;

        &:before,
        &:after {
            background: @cl-grayish-red;
        }
    }

    .b-not-found & {
        padding: 8px 30px;
        font-size: 12px;
        line-height: 21px;
        border-width: 1px;

        span {
            position: relative;
            z-index: 1;
        }

        &:before {
            z-index: 0;
        }
    }
}