.b-map {
	width: 100%;
	height: 400px;

	.body {
		padding: 26px 31px;
	}

	h4 {
		.roboto-bold();
		font-size: 23px;
		line-height: 32px;
		letter-spacing: 0.01em;
	}

	.name {
		.open-regular();
		font-size: 16px;
		line-height: 26px;
		margin: 16px 0 0;
		color: @cl-grayish-red;
	}

	.value {
		.roboto-bold();
		font-size: 17px;
		line-height: 21px;
		letter-spacing: 0.02em;
		margin: 0;
	}

	.route {
		.open-regular();
		padding: 16px 30px;
		position: relative;
		.icon('route');
		font-size: 16px;
		line-height: 23px;
		color: @cl-opium;
		display: block;

		&:before {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			font-size: 15px;
			color: @cl-bright-red;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background: @cl-light-grayish-cyan;
		}
	}

	.ymaps-2-1-77-balloon,
	.ymaps-2-1-78-balloon,
	.ymaps-2-1-79-balloon {
		box-shadow: none;
		transform: scale(.65);
	}

	.ymaps-2-1-77-balloon__close+.ymaps-2-1-77-balloon__content,
	.ymaps-2-1-78-balloon__close+.ymaps-2-1-78-balloon__content,
	.ymaps-2-1-79-balloon__close+.ymaps-2-1-79-balloon__content {
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	.ymaps-2-1-77-balloon-content__header,
	.ymaps-2-1-78-balloon-content__header,
	.ymaps-2-1-79-balloon-content__header {
		margin: 0;
		line-height: 1;
	}

	.ymaps-2-1-77-balloon__layout,
	.ymaps-2-1-78-balloon__layout,
	.ymaps-2-1-79-balloon__layout {
		width: 366px;
		background: @cl-white;
		box-shadow: 0px 12px 36px 2px rgba(50, 126, 150, 0.12);
		border-radius: 12px;
	}

	.ymaps-2-1-77-balloon__close+.ymaps-2-1-77-balloon__content>ymaps,
	.ymaps-2-1-78-balloon__close+.ymaps-2-1-78-balloon__content>ymaps,
	.ymaps-2-1-79-balloon__close+.ymaps-2-1-79-balloon__content>ymaps {
		width: auto!important;
		height: auto!important;
	}

	.ymaps-2-1-77-balloon__tail,
	.ymaps-2-1-78-balloon__tail,
	.ymaps-2-1-79-balloon__tail {
		display: none;
	}

	.ymaps-2-1-77-balloon__close-button,
	.ymaps-2-1-78-balloon__close-button,
	.ymaps-2-1-79-balloon__close-button {
		background: transparent;
		opacity: 1;
		
		&:before,
    	&:after {
	        content: '';
	        display: block;
	        width: 21px;
	        height: 3px;
	        background: @cl-opium;
	        position: absolute;
	        top: 50%;
	        left: 50%;
	    }

	    &:before {
	        transform: translate(-50%, -50%) rotate(45deg);
	    }

	    &:after {
	        transform: translate(-50%, -50%) rotate(-45deg);
	    }

	    .no-touchevents &:hover,
	    .touchevents &:active {
	    	opacity: .5;
	    }
	}

	.ymaps-2-1-77-balloon-content__footer,
	.ymaps-2-1-78-balloon-content__footer,
	.ymaps-2-1-79-balloon-content__footer {
		padding: 0 31px;
		margin: 0;
	}
}