.b-card {
    
    &__link {
        display: flex;
        justify-content: center;
    }

    &__wrapper {
        width: 288px;
        height: 346px;
        padding: 20px 18px 0 20px;
        border-radius: 12px;
        background: @cl-white;
        box-shadow: 0px 12px 36px 2px rgba(50, 126, 150, 0.12);
        position: relative;
    }

    &__image {
        border-radius: 6px;
        // margin-bottom: 25px;
        border-radius: 12px;
        max-height: 260px;
        margin: 0 auto 25px;
        width: 100%;
        object-fit: cover;
    }

    &__information {
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        color: @cl-grayish-red;
        display: flex;
        justify-content: space-between;
        margin-bottom: 14px;
    }

    &__text {
        .roboto-bold;
        font-size: 17px;
        line-height: 21px;
        letter-spacing: 0.02em;
        display: block;
        overflow: hidden;
        max-height: 94px;

        .touchevents .b-card__wrapper:active &,
        .no-touchevents .b-card:hover & {
            color: @cl-very-dark-mostly-black-red;
            transition: all 0.5s ease-out;
        }
    }

    &.slick-slide {
        opacity: 0;
        transition: all 0.3s ease-out;
    }
    &.slick-center {
        opacity: 1;
        transition: all 0.3s ease-out;
    }

    &--blog  {
        margin: 0 auto 24px;
        .b-card {
            &__image {
                height: 172px;
                margin: 0 auto 13px;
            }
        }  
    }
}