.b-card {
    
    &__wrapper {
        width: 448px;
        height: 564px;
        padding: 36px 36px 0;
        border-radius: 16px;
        
    }

    &__image {
        border-radius: 12px;
        margin-bottom: 36px;
    }

    &__information {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 18px;
    }

    &__text {
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.01em;
    }

    &.slick-slide {
        opacity: 0;
        transition: all 0.3s ease-out;
    }
    &.slick-center {
        opacity: 1;
        transition: all 0.3s ease-out;
    }

    &--blog  {
        margin: 0 auto 30px;
        .b-card {
            &__image {
                height: 260px;
                margin: 0 auto 30px;
            }
        }
        
    }

}