.b-card {
    
    &__wrapper {
        padding: 36px 36px 0;
        // box-shadow: none;
        // .no-touchevents .b-card:hover.slick-active & {
        //     box-shadow: 0px 12px 36px 2px rgba(50, 126, 150, 0.12);
        //     position: relative;
        //     z-index: 1;
        //     transition: all 0.5s ease-out;
        // }

        &--blog {
            width: 100%;
        }
    }
    &.draggable {
        padding: 0 20px 0 25px!important;
    }
    &.slick-slide {
        opacity: 1;
        transition: all 0.3s ease-out;
    }
    &.slick-center {
        opacity: 1;
        transition: all 0.3s ease-out;
    }


    &--blog {
        width: ~'calc(100% / 3)';
    }
}