.b-filter {
	
	&-wrapper {
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		max-width: 959px;
		height: 100%;
		transform: translateX(100%);
		background: @cl-white;
		z-index: 10;
		transition: transform .5s ease;
		padding: 32px;
		display: flex;
		flex-direction: column;

		&:before {
			content: '';
			position: fixed;
			width: 200vw;
			height: 100%;
			top: 0;
			right: 100%;
			opacity: 0;
			transition: opacity .5s ease;
			background: rgba(40, 0, 0, .4);
			display: none;
		}

		&.is-expand {
			position: fixed;
	        transform: translateX(0);
	        z-index: 10;

	        &:before {
				display: block;
				opacity: 1;
			}
	    }
	}

	&-head {
		padding: 0 0 30px;
	}

	&-main {
		height: ~'calc(100% - 170px)';
	}

	&__link {
		display: block;
		padding-right: 26px;
		position: relative;
		.icon('ok', 'after');
		transition: color .3s ease;
		cursor: pointer;

		&:before,
		&:after {
			position: absolute;
			right: 0;
			top: 4px;
			opacity: 0;
			transition: opacity .3s ease;
			width: 18px;
			height: 18px;
		}

		&:before {
			content: '';
			border-radius: 50%;
			background: @cl-bright-red;
		}

		&:after {
			color: @cl-white;
			font-size: 9px;
			line-height: 19px;
			text-align: center;
		}

		.no-touchevents &:hover {
			color: @cl-bright-red;
		}

		&:active {
			.open-bold();
			color: @cl-very-dark-mostly-black-red;
		}

		&.is-select {
			.open-bold();
			color: @cl-very-dark-mostly-black-red;

			&:before,
			&:after {
				opacity: 1;
			}
		}
	}

	&__item {
		
		& + & {
			margin-top: 12px;
		}
	}

	&-container {
		width: 230px;

		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}

	&__input {
		border: none;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}

	&-container--name & {

		&__link {
			padding-left: 36px;
		}
	}

	&-buttons {
		display: flex;
		justify-content: space-between;
		padding: 20px 0;
	}
}