.b-filter {
	
	&-wrapper {
		padding: 100px 100px 70px;
	}

	&-main {
		height: 500px;

		.os-content {
			display: flex;
		    flex-wrap: wrap;
		    flex-direction: column;
		    max-height: 500px;
		}
	}

	&-buttons {
		margin-top: auto;
		justify-content: flex-start;
	}
}