.b-catalog-menu {
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
	height: 100%;
	z-index: 2;

	&:before {
		content: '';
		position: fixed;
		width: 200vw;
		height: 100%;
		top: 0;
		right: 0;
		opacity: 0;
		transition: opacity .5s ease;
		background: rgba(40, 0, 0, .4);
		display: none;
	}

	&.is-expand {
		z-index: 10;
		// position: fixed;
		
        &:before {
			display: block;
			opacity: 1;
		}
    }

	&__inner {
		transition: transform .5s ease;
		transform: translateX(100%);
		background: @cl-white;
		width: 100%;
        padding: 86px 15px;
        position: fixed;
        z-index: 1;
        right: 0;
        top: 0;
        height: 100%;
		max-width: 714px;
		display: none;

        .is-expand & {
	        transform: translateX(0);   
        }
	}

	&__list {
		height: 100%;
		padding: 0 30px;
	}

	&__link {
		display: block;
		.roboto-regular();
		font-size: 21px;
		line-height: 31px;

		& + & {
			margin: 21px 0 0;
		}

		&--color {
			.roboto-bold();
			color: @cl-bright-red;
		}
	}
}