.b-product-card {
	max-width: 336px;
	height: 436px;
	padding: 37px 30px;

	&-wrapper {
		width: 50%;
	}
	
	&__description {
		width: 100%;
    	// max-height: 59px;
    	margin-bottom: 14px;
	}

	&__image-wrapper {
		height: 265px;
	}
}