.b-product-card {
	position: relative;
	display: block;
	max-width: 248px;
	width: 100%;
	height: 346px;
	border-radius: 12px;
	padding: 14px;
	justify-content: flex-end;
	background: @cl-white;
	transition: background .3s ease;
	cursor: pointer;
	margin: auto;

	&-wrapper {
		width: 100%;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 12px;
		background: @cl-hover-default-before;
		opacity: 0;
		transition: background .3s ease, opacity .3s ease;
	}

	.no-touchevents &:hover,
	.touchevents &:active {

		&:before {
			opacity: .4;
		}

		img {
			transform: scale3d(1.05, 1.05, 1.05);
		}

		.b-product-card__quantity {
			color: @cl-white;
		}
	}

	.cashew & {

		.no-touchevents &:hover,
		.touchevents &:active {
			background: @cl-hover-cashew;
		}
	}

	.peanut & {

		.no-touchevents &:hover,
		.touchevents &:active {
			background: @cl-hover-peanut;
		}
	}

	.hazelnut & {

		.no-touchevents &:hover,
		.touchevents &:active {
			background: @cl-hover-hazelnut;

			.b-product-card__quantity {
				color: @cl-opium;
			}
		}
	}

	.pistachio & {

		.no-touchevents &:hover,
		.touchevents &:active {
			background: @cl-hover-pistachio;
		}
	}

	.almond & {

		.no-touchevents &:hover,
		.touchevents &:active {
			background: @cl-hover-almond;

			.b-product-card__quantity {
				color: @cl-opium;
			}
		}
	}

	.walnut & {

		.no-touchevents &:hover,
		.touchevents &:active {
			background: @cl-hover-walnut;

			&:before {
				background: @cl-hover-walnut-before;
			}
		}
	}

	.pine-nut & {

		.no-touchevents &:hover,
		.touchevents &:active {
			background: @cl-hover-pine;
		}
	}

	.cashew-dark & {

		.no-touchevents &:hover,
		.touchevents &:active {
			background: @cl-hover-cashew-dark;
		}
	}

	.peanut-dark & {

		.no-touchevents &:hover,
		.touchevents &:active {
			background: @cl-hover-peanut-dark;

			.b-title {
				color: @cl-white;
			}
		}
	}

	.hazelnut-dark & {

		.no-touchevents &:hover,
		.touchevents &:active {
			background: @cl-hover-hazelnut-dark;

			.b-product-card__quantity {
				color: @cl-opium;
			}
		}
	}

	.pistachio-dark & {

		.no-touchevents &:hover,
		.touchevents &:active {
			background: @cl-hover-pistachio-dark;
		}
	}

	.walnut-dark & {

		.no-touchevents &:hover,
		.touchevents &:active {
			background: @cl-hover-walnut-dark;

			&:before {
				background: @cl-hover-walnut-before;
				opacity: .5;
			}

			.b-title {
				color: @cl-white;
			}
		}
	}

	.pine-nut-dark & {

		.no-touchevents &:hover,
		.touchevents &:active {
			background: @cl-hover-pine-dark;

			.b-title {
				color: @cl-white;
			}
		}
	}

	&__inner {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__quantity {
		font-size: 12px;
		line-height: 16px;
		color: @cl-opium;
		transition: color .3s ease;

		span {
			margin-left: 6px;
		}
	}

	&__description {
		width: 190px;
    	margin-bottom: 8px;
    	max-height: 76px;
    	overflow: hidden;
	}

	&__image-wrapper {
		height: 218px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-grow: 0;

		img {
			max-height: 100%;
			transition: transform .3s ease;
		}
	}

	.b-popular & {
		height: 300px;
		padding: 14px;
		margin: 0;
		width: 100%;
		max-width: none;

		&__image-wrapper {
			height: 200px;
		}
	}
}