//- ====================
//- kontora: input
//- 00-00-2020: author
//- --------------------
//- карточка на карту
//- ====================

mixin card-genesis(data)
    //- include ui-kit/button.pug
    include icon.pug
    include link.pug
    include title.pug

    +b.card-genesis(class!=attributes.class)
        each item in data.items
            +e('div').wrapper(class!=attributes.class id != attributes.id)
                +e('img').image(src=`${item.src}`, alt=`${item.alt}`)
                +e.information
                    +e('span').name !{item.name}
                    +e('span').text !{item.text}