//- ====================
//- kontora: input
//- 00-00-2020: author
//- --------------------
//- новость
//- ====================

mixin card(data)
    //- include ui-kit/button.pug
    include icon.pug
    include link.pug
    include title.pug

    +b.card(class!=attributes.class id != attributes.id)
        each item in data.items
            +e('a').link(href="javascript:void(0);")
                +e('div').wrapper(class!=attributes.class id != attributes.id)
                    +e('img').image(src=`${item.src}`, alt=`${item.alt}`)
                    +e.information
                        date.date !{item.date}
                        +e.signature !{item.signature}
                    +e.text !{item.text}
                    +icon('plus').--plus
