//- ====================
//- kontora: card
//- 00-00-2020: author
//- --------------------
//- слайд для виртуальноного тура на производство 
//- ====================

mixin fabric-card(data)
    //- include ui-kit/button.pug
    include icon.pug
    include link.pug
    include title.pug

    +b.fabric-card(class!=attributes.class id != attributes.id)
        each item in data.items
            +e('div').wrapper(class!=attributes.class id != attributes.id)
                +e('div').img-wrapper
                    +e('img').image(src=`${item.src}`, alt=`${item.title}`)
                +e.information
                    +e.title !{item.title}
                    +e.text !{item.text}
                    if item.text_second
                        +e.text !{item.text_second}
                    +e('img').arrow(src='images/inhtml/arrow_fabric.svg', alt=' ')
