mixin filter(filters)

    include icon.pug

    +b('form').filter(class!=attributes.class)
        each filter in filters
            //- if !filter.weight
            //-     +e('a').link.-js-filter-link(data-filter-name = filter.icon) !{filter.name}
            //-         +icon(filter.icon)
            //- else
            //-     +e('a').link.-js-filter-link(data-filter-weight = filter.weight) !{filter.name}
            if !filter.weight
                +e.item
                    +e('label').link.-js-filter-link(for=filter.icon)
                        +e('input')(type='checkbox', name=filter.icon, id=filter.icon).input
                        | !{filter.name}
                        +icon(filter.icon)
            else
                +e.item
                    +e('label').link.-js-filter-link(for=filter.weight)
                        +e('input')(type='checkbox', name=filter.weight, id=filter.weight).input
                        | !{filter.name}