//- ====================
//- kontora: input
//- 00-00-2020: author
//- --------------------
//- картинки
//- ====================

mixin image(data)
    +b.image(class!=attributes.class)
        each item in data.items
                +e('picture').picture(class!=attributes.class)
                    +e('source')(media='(min-width: 1440px)', srcset=`${item.src_desc}`)
                    +e('source')(media='(min-width: 768px)', srcset=`${item.src_tablet}`)
                    +e('img').image(src=`${item.src_mobile}` alt=`${item.alt}`)