//- ====================
//- kontora: input
//- 00-00-2020: author
//- --------------------
//- инпут
//- ====================

mixin input(id, type, placeholder, name, value)
    +b.input(class!=attributes.class)
        +e('input').input-field&attributes( attributes )(id=id, type=type, placeholder=placeholder, name=name, value=value )


mixin input-feedback(label, input, id, name, type)
    +b.input(class!=attributes.class)
        if input == true
            +e('label').label&attributes( attributes )(for=id) !{label}
            +e('input').input-field&attributes( attributes )(id=id, type=type, name=name )
        else
            +e('label').label&attributes( attributes )(for=id) !{label}
            +e('textarea').textarea-field&attributes( attributes )(id=id, type=type, name=name )
