mixin nav(data)

    if data.form
        +b('form').nav
            +e('ul').list
                each item, index in data.items
                    +e('li').item
                        if item.active
                            +e('label').link.-js-nav-check.-active(for=item.id) 
                                +e('input')(type='radio', name='nav', id=item.id, checked).input
                                +e('span').name !{item.name}
                                if item.sum
                                    +e('span').sum  (!{item.sum})
                        else
                            +e('label').link.-js-nav-check(for=item.id) 
                                +e('input')(type='radio', name='nav', id=item.id).input
                                +e('span').name !{item.name}
                                if item.sum
                                    +e('span').sum  (!{item.sum})
    else
        +b('nav').nav
            +e('ul').list
                each item, index in data.items
                    +e('li').item
                        if item.active
                            +e('a').link.-js-nav.-active(href=item.link, title=item.name) 
                                +e('span').name !{item.name}
                        else
                            +e('a').link.-js-nav(href=item.link, title=item.name) 
                                +e('span').name !{item.name}