mixin popup-product()

    include breadcrumbs.pug
    include title.pug
    include button.pug
    include popular.pug
    
    +b.popup.--product&attributes( attributes )
        +e.content.-js-scroll-block

            +e.inner

                +breadcrumbs(['Главная', 'Каталог', 'Сухофрукты', 'Чернослив отборный'])
                +button('', true).--popup-close.-js-close-popup

                +e.clearfix
                    +e.box
                        +e.lead-box

                            +title('h3', 'Кешью жареный в&nbsp;блестящей оболочке с&nbsp;розмарином')
                            +e('p').lead Попробовав хоть раз чернослив &laquo;SevenNuts&raquo;, вы&nbsp;уже не&nbsp;согласитесь на&nbsp;меньшее! А&nbsp;удобная упаковка сохранит его полезные свойства надолго.

                            +e.description
                                +e.row
                                    +e.name Вес в&nbsp;упаковке:
                                    +e.value 200&nbsp;г
                                +e.row
                                    +e.name Состав:
                                    +e.value Сливы сушеные черные
                                +e.row
                                    +e.name Страна происхождения:
                                    +e.value Армения

                        +e.image-box
                            
                            +e.image-wrapper
                                +e.image-slider.js-image-slider
                                    +e.slide
                                        +e.slide-box
                                            img(src='/images/catalog/shadow_cashew-rosemary_pot.png', alt='')
                                    +e.slide
                                        +e.slide-box
                                            img(src='/images/catalog/cashew_100.png', alt='')
                                    +e.slide
                                        +e.slide-box
                                            img(src='/images/catalog/cashew_200.png', alt='')
                                    +e.slide
                                        +e.slide-box
                                            img(src='/images/catalog/cashew-becon_500_packet.png', alt='')
                                    +e.slide
                                        +e.slide-box
                                            img(src='/images/catalog/cashew-drazhe-gloss_3kg.png', alt='')
                                +e.slider-pagination
                                    +e.dots.-js-image-dot(data-item='1')
                                        +e.slide-box
                                            img(src='/images/catalog/cashew-rosemary_pot.png', alt='')
                                    +e.dots.-js-image-dot(data-item='2')
                                        +e.slide-box
                                            img(src='/images/catalog/cashew_100.png', alt='')
                                    +e.dots.-js-image-dot(data-item='3')
                                        +e.slide-box
                                            img(src='/images/catalog/cashew_200.png', alt='')
                                    +e.dots.-js-image-dot(data-item='4')
                                        +e.slide-box
                                            img(src='/images/catalog/cashew-becon_500_packet.png', alt='')
                                    +e.dots.-js-image-dot(data-item='5')
                                        +e.slide-box
                                            img(src='/images/catalog/cashew-drazhe-gloss_3kg.png', alt='')

                            +e.table
                                +e.table-text Пищевая и&nbsp;энергетическая ценность в&nbsp;100&nbsp;г продукта:
                                +e.kpfc
                                    +e.kpfc-item
                                        +e.kpfc-name Белки
                                        +e.kpfc-value 2,5&nbsp;г
                                    +e.kpfc-item
                                        +e.kpfc-name Жиры
                                        +e.kpfc-value 0,5&nbsp;г
                                    +e.kpfc-item
                                        +e.kpfc-name Углеводы
                                        +e.kpfc-value 58&nbsp;г
                                    +e.kpfc-item
                                        +e.kpfc-name кКал
                                        +e.kpfc-value 250
                                    +e.kpfc-item
                                        +e.kpfc-name кДж
                                        +e.kpfc-value 1050
                                +e.composition
                                    +e.composition-item
                                        +e.composition-image
                                            img(src='/images/content/vitamin.svg', alt='')
                                        +e.composition-description
                                            span Витамины
                                            | С, Е, РР, B1, В2, A, бета-каротин
                                    +e.composition-item
                                        +e.composition-image
                                            img(src='/images/content/mineral.svg', alt='')
                                        +e.composition-description Калий, магний, фосфор, кальций, натрий, железо, цинк, медь, селен
                        
                        +e.text-box

                            +e.text-row
                                +title('h6', 'Описание').--h6
                                +e('p') Армянский чернослив&nbsp;&mdash; это великолепный традиционный вкус, любимый нами с&nbsp;детства. Для изготовления этого полезного лакомства используют самые крупные и&nbsp;спелые сливы, которые бережно засушивались до&nbsp;определённого состояния, чтобы вы&nbsp;могли насладиться его кисло-сладкой мякотью и&nbsp;ароматом. Удобная упаковка содержит 200 грамм отборных плодов, которые станут прекрасным компонентом ваших кулинарных шедевров. Всего несколько штучек чернослива принесут витаминный заряд и&nbsp;бодрость, поэтому он&nbsp;отлично подойдет в&nbsp;качестве утреннего десерта или здорового перекуса на&nbsp;протяжении дня.

                            +e.text-row
                                +title('h6', 'Хранение').--h6
                                +e('p') Срок годности 6&nbsp;месяцев. Хранить при температуре от&nbsp;+5&nbsp;до&nbsp;+21&nbsp;градусов и&nbsp;относительной влажности воздуха не&nbsp;более&nbsp;70%.

                    +e.text-row
                    +title('h6', 'Чем полезен чернослив?').--h6
                    +e('p') Чернослив&nbsp;&mdash; это один из&nbsp;наиболее популярных сухофруктов. Он&nbsp;представляет собой обычную высушенную сливу и&nbsp;имеет превосходные питательные и&nbsp;вкусовые качества. Чернослив содержит большое количество витаминов (Е, бета-каротин, РР, С&nbsp;и&nbsp;витамины группы&nbsp;В), микроэлементов (железо, калий, кальций, натрий, магний, фосфор, кобальт, йод, цинк, фтор, марганец, медь) и&nbsp;других полезных веществ (сахар, клетчатка, пектины, органические кислоты, крахмал, углеводы, белки).
                    +e('p') Хозяйки и&nbsp;повара любят этот сухофрукт за&nbsp;его кулинарную универсальность. Казалось&nbsp;бы, сладкий ингредиент превосходно сочетается с&nbsp;птицей, говядиной, бараночной, кроликом, потрохами, рыбой и&nbsp;всевозможными овощами. Вы&nbsp;можете приготовить безумно вкусное мясо к&nbsp;ужину для всей семьи.

                +e.popular
                    +title('h3', 'Популярное')
                    +popular([
                        {
                            image: 'cashew-rosemary_pot',
                            title: 'Кешью жареный в&nbsp;блестящей оболочке с&nbsp;розмарином, 200&nbsp;г',
                            type: 'cashew'
                        },{
                            image: 'pine_nut_200',
                            title: 'Кедровый орех очищенный, 200&nbsp;г',
                            type: 'pine-nut'
                        },{
                            image: 'walnut_50',
                            title: 'Грецкий орех очищенный, 50&nbsp;г',
                            type: 'walnut'
                        },{
                            image: 'almond_50',
                            title: 'Миндаль жареный соленый, 100&nbsp;г',
                            type: 'almond'
                        },{
                            image: 'peanut_50',
                            title: 'Арахис жареный соленый, 50&nbsp;г',
                            type: 'peanut'
                        },{
                            image: 'tarelka-assorti_250-4',
                            title: 'Арахисовое ассорти (паприка, сметана и&nbsp;зелень, холодец с&nbsp;хреном), 250&nbsp;г',
                            type: 'peanut'
                        },{
                            image: 'peanut_pot',
                            title: 'Арахис жареный с&nbsp;морской солью, 200&nbsp;г',
                            type: 'peanut'
                        },{
                            image: 'pistachios_200',
                            title: 'Фисташки жареные соленые, 200&nbsp;г',
                            type: 'pistachio'
                        },{
                            image: 'peanut-drazhe-gloss_500_packet',
                            title: 'Арахис в&nbsp;блестящей глазури, 500&nbsp;г',
                            type: 'peanut'
                        },{
                            image: 'peanut-drazhe-gloss_3kg',
                            title: 'Арахис в&nbsp;шоколадной глазури (золото, серебро, бронза), 3&nbsp;кг',
                            type: 'peanut'
                        },{
                            image: 'hazelnut-drazhe_50_flowpack',
                            title: 'Фундук в&nbsp;шоколадной глазури, 50&nbsp;г',
                            type: 'hazelnut'
                        },{
                            image: 'almond-drazhe-gloss_500_packet',
                            title: 'Миндаль жареный в&nbsp;блестящей оболочке со&nbsp;вкусом копчения, 500&nbsp;г',
                            type: 'almond'
                        },{
                            image: 'peanut_500_packet',
                            title: 'Кешью жареный, 500&nbsp;г',
                            type: 'cashew'
                        },{
                            image: 'peanut-drazhe-choco_500_packet',
                            title: 'Арахис в&nbsp;шоколадной глазури, 500&nbsp;г',
                            type: 'peanut'
                        },{
                            image: 'almond-drazhe-choco-white_50_flowpack',
                            title: 'Миндаль в&nbsp;белой шоколадной глазури, 50&nbsp;г',
                            type: 'almond'
                        },{
                            image: 'cashew-drazhe-gloss_3kg',
                            title: 'Кешью в&nbsp;шоколадной глазури (золото, серебро, бронза), 3&nbsp;кг',
                            type: 'cashew'
                        }
                    ])