mixin popup-form()
    include title.pug
    include button.pug
    include ../feedback.pug

    +b.popup.--form&attributes( attributes )
        +e.content
            +button('', true).--popup-close.-js-close-popup
            +title('h3', 'Задать вопрос')
            +feedback()