//- ====================
//- kontora: card
//- 00-00-2020: author
//- --------------------
//- попап на карте
//- ====================

mixin popup-map(data)
    include icon.pug
    include popup.pug

    +b.popup&attributes( attributes )
        +e.content( class=data.contentClass )
            +b.popup-map(class!=attributes.class id != attributes.id)
                each item in data.items
                    +e.wrapper(class!=attributes.class id != attributes.id)
                        +e('a').close( href='javascript:void(0);', class!=attributes.class ).js-close-popup
                        +e('img').image(src=`${item.src}`, alt=`${item.alt}`)
                        +e.text
                            +e.title !{item.title}
                            p Телефон
                            +e('a').phone( href= `tel:${item.href_phone}` title=`${item.phone_number}`)&attributes( attributes ) !{item.phone_number}
                            p Адрес
                            +e('address').address !{item.address}
                            +e('a')(href='javascript:void(0);').link
                                +icon('map').--map
                                p Проложить маршрут
            block