mixin product-card(card)
    
    include title.pug
    
    if card.weight === '3000' || card.weight === '25000'
        .b-product-card-wrapper(class=`${card.type} ${card.weight} ${card.category} weight`, data-sorting-weight=card.weight)
            +b('a').product-card(href='javascript:void(0);' data-popup=card.image).-js-open-popup
                +e.inner
                    +e.image-wrapper
                        +e('img')(src='images/catalog/' + card.image + '.png', alt=card.title)
                    +e.description
                        +title('h6', card.title)
                    if card.sum
                        +e.quantity В упаковке:
                            span  !{card.sum}
    else 
        .b-product-card-wrapper(class=`${card.type} ${card.weight} ${card.category} packed`, data-sorting-weight=card.weight)
            +b('a').product-card(href='javascript:void(0);' data-popup=card.image).-js-open-popup
                +e.inner
                    +e.image-wrapper
                        +e('img')(src='images/catalog/' + card.image + '.png', alt=card.title)
                    +e.description
                        +title('h6', card.title)
                    if card.sum
                        +e.quantity В упаковке:
                            span  !{card.sum}
