mixin social()

    include icon.pug

    +b.social
        +e('a').link(href='https://www.facebook.com/' title='') 
            +icon('fb').--social.--fb
        +e('a').link(href='https://www.instagram.com/' title='') 
            +icon('inst').--social.--inst
        +e('a').link(href='https://www.vk.com/' title='') 
            +icon('vk').--social.--vk