mixin catalog-menu(items)

    include ui-kit/button.pug
    
    +b.catalog-menu
        +button('', true).-js-catalog-burger
            span Выбери вкус

        +e.inner
            +button('', true).--catalog-close.-js-catalog-burger-close
            +e.list.-js-scroll-block
                +e('a')(href='/catalog.html').link.--color Все вкусы
                each item in items
                    +e('a')(href=item.link).link !{item.name}
