mixin catalog(cards)

    include ui-kit/product-card.pug
    include ui-kit/icon.pug
    include ui-kit/filter.pug
    include ui-kit/text-block.pug
    include ui-kit/title.pug
    include ui-kit/button.pug

    +b('section').catalog
        .b-container
            +e.wrapper
                +e.sorting
                    +e.sort
                        +e('a').button.-js-sort
                            span сортировать
                            +icon('sorting')
                        +e.wrap
                            +e('form').wrap-box
                                +e('label').sort-link.-js-sort-link(data-sort-value='name' data-sort-direction='asc' for='asc') 
                                    +e('input')(type='radio', name='sort', id='asc').input
                                    | А&mdash;Я
                                +e('label').sort-link.-js-sort-link(data-sort-value='name' data-sort-direction='desc' for='desc') 
                                    +e('input')(type='radio', name='sort', id='desc').input
                                    | Я&mdash;А
                                +e('label').sort-link.-js-sort-link(data-sort-value='weight' data-sort-direction='asc' for='weight')
                                    +e('input')(type='radio', name='sort', id='weight').input
                                    | По&nbsp;весу
                    +e.filter
                        +e('a').button.-js-filter
                            +icon('filter')
                            span фильтры
                        +b.filter-wrapper

                            +button('', true).--filter-close.-js-filter-close

                            +b.filter-head
                                +title('h3', 'Фильтры')
                                +text-block() Выберите одну или несколько опций

                            +b.filter-main.-js-scroll-block

                                +b.filter-container.--name
                                    +title('h4', 'Название')
                                    +filter([
                                        {
                                            name: 'Арахис',
                                            icon: 'peanut'
                                        },{
                                            name: 'Грецкий орех',
                                            icon: 'walnut'
                                        },{
                                            name: 'Кедровый орех',
                                            icon: 'pine-nut'
                                        },{
                                            name: 'Кешью',
                                            icon: 'cashew'
                                        },{
                                            name: 'Курага',
                                            icon: 'dried-apricot'
                                        },{
                                            name: 'Миндаль',
                                            icon: 'almond'
                                        },{
                                            name: 'Фисташки',
                                            icon: 'pistachio'
                                        },{
                                            name: 'Фундук',
                                            icon: 'hazelnut'
                                        },{
                                            name: 'Чернослив',
                                            icon: 'prunes'
                                        }
                                    ])

                                +b.filter-container.--weight
                                    +title('h4', 'Вес')
                                    +filter([
                                        {   
                                            name: '25 кг',
                                            weight: '25000'
                                        },{
                                            name: '3&nbsp;кг (3000&nbsp;г)',
                                            weight: '3000'
                                        },{
                                            name: '0,5&nbsp;кг (500&nbsp;г)',
                                            weight: '500'
                                        },{
                                            name: '250&nbsp;г (тарелка-ассорти)',
                                            weight: '250'
                                        },{
                                            name: '175-200&nbsp;г (ПЭТ-банка)',
                                            weight: '200pot'
                                        },{
                                            name: '150-200&nbsp;г (пакет&nbsp;M)',
                                            weight: '200'
                                        },{
                                            name: '100-150&nbsp;г (пакет&nbsp;S)',
                                            weight: '100'
                                        },{
                                            name: '50&nbsp;г (флоупак)',
                                            weight: '50'
                                        }
                                    ])

                                +b.filter-container.--line
                                    +title('h4', 'Линейка')
                                    +filter([
                                        {
                                            name: 'Фасованная продукция',
                                            weight: 'packed'
                                        },{
                                            name: 'Весовая продукция',
                                            weight: 'weight'
                                        }
                                    ])

                            +b.filter-buttons
                                +button('Применить', true).-js-filter-apply
                                +button('Очистить', true).--clear.-js-filter-clear.-disabled
                +e.inner
                    each card in cards
                        +product-card(card)

                +e.more
                    +e('a').button.--border
                        +icon('more')
                        span показать ещё