//- ====================
//- kontora: fabric-slider
//- 00-00-2020: author
//- --------------------
//- Виртуальный тур на производство
//- ====================

mixin fabric-slider(data)
    //- include ui-kit/button.pug
    include ui-kit/icon.pug
    include ui-kit/link.pug
    include ui-kit/title.pug
    include ui-kit/fabric-card.pug

    +b.fabric-slider(class!=attributes.class id != attributes.id)
            +e.header
                +title('h2', 'Виртуальный тур на производство').--fabric
                +e.text После того, как орех попадает в Россию, все самое интересное только начинается:
                
            +e.slider-wrapper
                +e.slider.-js-fabric
                    +fabric-card({
                            'items':[
                            {
                                'src': 'images/content/fabric.jpg',
                                'title': 'Сушка и обжарка орехов',
                                'text': 'На фото: В конвекционной печи SOZ STAR 2635&#8209;008 потоками горячего воздуха обжариваются орехи кешью.',
                                'text_second': 'В ходе обжарки машина осуществляет электронный контроль параметров обработки. Благодаря этому на выходе получается чистый, равномерно прожаренный продукт без каких&#8209;либо нагоревших частиц.'
                            }
                        ]})
                    +fabric-card({
                            'items':[
                            {
                                'src': 'images/content/fabric.jpg',
                                'title': 'Сушка и обжарка орехов-2',
                                'text': 'На фото: В конвекционной печи SOZ STAR 2635&#8209;008 потоками горячего воздуха обжариваются орехи кешью.',
                                'text_second': 'В ходе обжарки машина осуществляет электронный контроль параметров обработки. Благодаря этому на выходе получается чистый, равномерно прожаренный продукт без каких&#8209;либо нагоревших частиц.'
                            }
                        ]})
                    +fabric-card({
                            'items':[
                            {
                                'src': 'images/content/fabric.jpg',
                                'title': 'Сушка и обжарка орехов-3',
                                'text': 'На фото: В конвекционной печи SOZ STAR 2635&#8209;008 потоками горячего воздуха обжариваются орехи кешью.',
                                'text_second': 'В ходе обжарки машина осуществляет электронный контроль параметров обработки. Благодаря этому на выходе получается чистый, равномерно прожаренный продукт без каких&#8209;либо нагоревших частиц.'
                            }
                        ]})
                    +fabric-card({
                            'items':[
                            {
                                'src': 'images/content/fabric.jpg',
                                'title': 'Сушка и обжарка орехов-4',
                                'text': 'На фото: В конвекционной печи SOZ STAR 2635&#8209;008 потоками горячего воздуха обжариваются орехи кешью.',
                                'text_second': 'В ходе обжарки машина осуществляет электронный контроль параметров обработки. Благодаря этому на выходе получается чистый, равномерно прожаренный продукт без каких&#8209;либо нагоревших частиц.'
                            }
                        ]})
                    +fabric-card({
                            'items':[
                            {
                                'src': 'images/content/fabric.jpg',
                                'title': 'Сушка и обжарка орехов-5',
                                'text': 'На фото: В конвекционной печи SOZ STAR 2635&#8209;008 потоками горячего воздуха обжариваются орехи кешью.',
                                'text_second': 'В ходе обжарки машина осуществляет электронный контроль параметров обработки. Благодаря этому на выходе получается чистый, равномерно прожаренный продукт без каких&#8209;либо нагоревших частиц.'
                            }
                        ]})
                +e.arrow-block
                    +link('', true).js-prev
                        +icon('arrow-left').--fabric-slider
                    +e.-slides-numbers
                        span.active 1
                        span /
                        span.total 5
                    +link('', true).js-next
                        +icon('arrow-right').--fabric-slider