mixin feedback(data)
    
    include ui-kit/icon.pug
    include ui-kit/title.pug
    include ui-kit/input.pug
    include ui-kit/button.pug

    +b.feedback
        +e.top-line
            +title('h3', 'Напишите нам').--feedback
            +e('p').description Заполните поля формы обратной связи, и мы с радостью ответим на ваши вопросы и предложения.
        +e.form-wrapper
            +e('form').form.js-form-validate(action="/json/form.json" name="contacts")
                +input-feedback('Ваше имя*', true, 'feed-name', 'feed-name', 'text')(required).--feedback
                +input-feedback('Телефон*', true, 'feed-tel', 'feed-tel', 'tel')(required).--feedback
                +input-feedback('Сообщение', false, 'feed-message', 'feed-message', 'tel')(required).--feedback
                +e('p').notice Нажимая на кнопку “Отправить”, вы даете согласие на обработку персональных данных.
                +button('Отправить', false)(data-popup='popup-send').--feedback.-js-check-form.-js-custom-popup
        block


