mixin head-block(data)
    
    include ui-kit/title.pug
    include ui-kit/nav.pug
    include ui-kit/breadcrumbs.pug
    include ui-kit/link.pug
    include ui-kit/icon.pug

    if data.full
        +b('section').head-block(class!=attributes.class).js-head.js-full

            if data.image
                +e.image-wrapper
                    +e.img(src=data.image alt='')

            .b-container
                +e.inner
                    if data.breadcrumbs
                        +breadcrumbs(data.breadcrumbs)

                    if data.title
                        +title('h1', data.title)(class!=attributes.class)

                    +e.information
                        +e.information-source
                            span Источник:
                            +link('Ссылка', true)
                        time 20 августа 2020

                    +e.lead !{data.lead}

                    +e.arrow
                        +icon('arrow-down')
                        +e.arrow-text Интересно? Листайте вниз

            +b.decor
                each decor in data.decors
                    +e('img')(src='images/inhtml/' + `${decor}` + '.png', class='img--' + decor)

    else
        +b('section').head-block(class!=attributes.class).js-head
            .b-container
                +e.inner
                    if data.title
                        +title('h1', data.title)(class!=attributes.class)

                    if data.nav
                        +nav(data.nav)

            +b.decor
                each decor in data.decors
                    +e('img')(src='images/inhtml/' + `${decor}` + '.png', class='img--' + decor)