mixin head-block-slider(slides)

    include ui-kit/title.pug
    include ui-kit/button.pug
    include ui-kit/social.pug

    +b('section').head-block-slider.js-move.js-head.js-full
        .slick-slider.js-head-slider
            each slide in slides
                +e.slide(data-color=slide)
                    .b-container
                        +e.inner
                            +e.image-wrapper
                                +e('img')(src='images/content/slide1.png', alt='Орехи Seven Nuts').image
                                +e.description-wrapper
                                    +e('img').arrow(src='images/inhtml/arrow.svg', alt='')
                                    +e.description Строгое соблюдение технологии на&nbsp;всех этапах производства
                            +e.text-wrapper
                                +e.header
                                    +title('h1', 'Орехи Seven Nuts')
                                    +e.lead Свежие, разные, вкусные
                                +e.main
                                    +e.text В&nbsp;нашем ассортименте:
                                    +e('ul').list
                                        +e.list-item арахис
                                        +e.list-item грецкий орех
                                        +e.list-item кедровый орех
                                        +e.list-item кешью
                                        +e.list-item миндаль
                                        +e.list-item фундук
                                        +e.list-item фисташки
                                +e.footer
                                    +button('все орехи', true)

        +b.decor.-js-move
            +e('img')(src='images/inhtml/peanut_5.png').img.--peanut5.-js-move-image.-mid
            +e('img')(src='images/inhtml/peanut_6.png').img.--peanut6.-js-move-image.-back
            +e('img')(src='images/inhtml/peanut_7.png').img.--peanut7.-js-move-image.-back
            +e('img')(src='images/inhtml/walnut_3.png').img.--walnut3.-js-move-image.-mid
            +e('img')(src='images/inhtml/walnut_4.png').img.--walnut4.-js-move-image.-front
            +e('img')(src='images/inhtml/cashew_2.png').img.--cashew2.-js-move-image.-back
            +e('img')(src='images/inhtml/cashew_3.png').img.--cashew3.-js-move-image.-mid
            //- +e('img')(src='images/inhtml/pistachio_3.png').img.--cashew3.-js-move-image.-mid
            +e('img')(src='images/inhtml/almond_blur.png').img.--almond-blur.-js-move-image.-front

        +social()