mixin history-block(data)
    
    include ui-kit/icon.pug
    include ui-kit/title.pug

    +b('section').history-block(class!=attributes.class id!=attributes.id)
                each item in data.items
                    +e.text-inner
                        +title('h2', item.title)(class!=attributes.class)
                        +e.text !{item.text}
                    +e.shell
                        +e.img-wrapper
                            +e('img').image(src='images/inhtml/history_groupe.png', alt='Арахис')
                            +e.signature
                                +e.year !{item.year}
                                +e.detail !{item.detail}
                                    +e('img').arrow(src='images/inhtml/arrow_history.svg', alt=' ')