mixin info-block(cards)
    
    include ui-kit/icon.pug
    include ui-kit/title.pug

    +b('section').info-block(class!=attributes.class)
        .b-container
            +e.inner
                each card in cards
                    +e.card
                        +icon(card.icon)
                        +title('h4', card.title)
                        +e.text !{card.text}

        +b.decor
            +e('img')(src='images/inhtml/pistachio_shadow.png', data-rellax-speed='0.7').img.--pistachio-shadow.-rellax
            +e('img')(src='images/inhtml/pistachio_big.png', data-rellax-speed='0.7').img.--pistachio-big.-rellax
            +e('img')(src='images/inhtml/pistachio_small.png', data-rellax-speed='0.7').img.--pistachio-small.-rellax
            +e('img')(src='images/inhtml/hazelnut.png', data-rellax-speed='1.1').img.--hazelnut.-rellax
            +e('img')(src='images/inhtml/hazelnut_leaf_2.png', data-rellax-speed='0.8').img.--hazelnut-leaf2.-rellax
            +e('img')(src='images/inhtml/walnut_2.png', data-rellax-speed='0.8').img.--walnut2.-rellax
            +e('img')(src='images/inhtml/peanut_1.png', data-rellax-speed='1').img.--peanut1.-rellax
            +e('img')(src='images/inhtml/peanut_2.png', data-rellax-speed='0.5').img.--peanut2.-rellax
            +e('img')(src='images/inhtml/peanut_3.png', data-rellax-speed='0.5').img.--peanut3.-rellax
            +e('img')(src='images/inhtml/peanut_4.png', data-rellax-speed='1').img.--peanut4.-rellax
            +e('img')(src='images/inhtml/cashew_1.png', data-rellax-speed='0.9').img.--cashew1.-rellax


mixin info-block--about(cards)
    +b('section').info-block(class!=attributes.class id != attributes.id)
            +e.inner
                each card in cards
                    +e.card
                        +icon(card.icon)(class!=attributes.class)
                        +title('h4', card.title)
                        +e.text !{card.text}