mixin market-block(items)
    
    include ui-kit/icon.pug
    include ui-kit/title.pug

    +b('section').market-block
        .b-container
            +title('h2', 'Где купить Seven Nuts')
            +e.inner
                each item in items
                    +e.item
                        +e('a').link(href=item.link)
                            +e('img').image(src='images/markets/' + `${item.image}` + '.png', alt=item.title)

        +b.decor
            +e('img')(src='images/inhtml/almond_2.png').img.--almond2
            +e('img')(src='images/inhtml/almond_3.png').img.--almond3
            +e('img')(src='images/inhtml/almond_leaf_2.png').img.--almond-leaf2
            +e('img')(src='images/inhtml/almond_leaf_3.png').img.--almond-leaf3
            +e('img')(src='images/inhtml/almond_leaf_4.png').img.--almond-leaf4
            //- +e('img')(src='images/inhtml/almond_leaf_5.png').img.--almond-leaf5
            +e('img')(src='images/inhtml/almonds_1.png').img.--almonds1
            +e('img')(src='images/inhtml/almond_plate_1.png').img.--almond-plate1
            +e('img')(src='images/inhtml/pistacchi_plate_1.png').img.--pistacchi-plate1
            +e('img')(src='images/inhtml/walnut_pile_1.png').img.--walnut-pile1
            +e('img')(src='images/inhtml/spoon.png').img.--spoon