//- ====================
//- kontora: input
//- 00-00-2020: author
//- --------------------
//- Читайте также
//- ====================

mixin news-slider(data)
    //- include ui-kit/button.pug
    include ui-kit/icon.pug
    include ui-kit/link.pug
    include ui-kit/title.pug
    include ui-kit/card.pug

    +b.news-slider(class!=attributes.class id != attributes.id)
            +e.header
                +title('h3', 'Читайте также').--news-slider
                +e.arrow
                    +link('', true).js-prev
                        +icon('arrow-left').--news-slider.--slider-left
                    +link('', true).js-next
                        +icon('arrow-right').--news-slider
            +e.slider.-js-news
                +card({
                        'items':[
                        {
                            'src': 'images/content/nuts_news.jpg',
                            'alt' : '',
                            'date': '20.07.2020',
                            'signature': 'Новости',
                            'text': 'Новинка: Полюбившиеся драже в новой упаковке!'
                        }
                    ]})
                +card({
                        'items':[
                        {
                            'src': 'images/content/nuts_news.jpg',
                            'alt' : '',
                            'date': '20.07.2020',
                            'signature': 'Новости',
                            'text': '«Продэкспо-2017» - итог работы и взгляд в будущее отрасли'
                        }
                    ]})
                +card({
                        'items':[
                        {
                            'src': 'images/content/nuts_news.jpg',
                            'alt' : '',
                            'date': '20.07.2020',
                            'signature': 'Новости',
                            'text': '«Как это сделано: Орехи в шоколадной глазури'
                        }
                    ]})
                +card({
                        'items':[
                        {
                            'src': 'images/content/nuts_news.jpg',
                            'alt' : '',
                            'date': '20.07.2020',
                            'signature': 'Новости',
                            'text': '«Как это сделано: Орехи в шоколадной глазури'
                        }
                    ]})