mixin range-block(items)
    
    include ui-kit/icon.pug
    include ui-kit/title.pug

    +b('section').range-block
        .b-container
            +title('h3', 'Ассортимент').--h3
            +e.text Мы&nbsp;разработали такую линейку продукции Seven Nuts, чтобы каждый нашел себе вкус по&nbsp;душе.
            +e.inner
                each item in items
                    +e('a').item(href=item.link)
                        +e.item-inner
                            +title('h4', item.title)
                            +e.text-sum !{item.sum}
                            +e('img').image(src=item.image, alt=item.title)
            +e.link(href='/catalog')
                +icon('catalog')
                span Каталог Seven Nuts

        +b.decor
            +e('img')(src='images/inhtml/almond_leaf_1.png').img.--almond-leaf1
            //- +e('img')(src='images/inhtml/almond_1.png', data-rellax-speed='-2').img.--almond1.-rellax

