/* 768 + */
.b-icon {

	.b-info-block & {
        margin: 0 -22px 45px -48px;
        font-size: 71px;
        height: 71px;
    }

    &--about {
        .b-info-block--about & {
            font-size: 70px;
            margin: 0 -24px 52px -55px;
        }
    }

    &--plus {
        display: block;
        font-size: 45px;
        color: @cl-light-grayish-cyan;
        position: absolute;
        bottom: 36px;
        left: 36px;
        
        .touchevents .b-card:active &,
        .no-touchevents .b-card:hover & {
            color: @cl-bright-red;
            transition: all 0.5s ease-out;
        }
        
    }

    &--fabric-slider {
        margin: 0 22px;
    }
}

.icon{

    &-arrow-down {
        font-size: 80px;
    }

    &-send {
        font-size: 142px;
        margin: 0 0 24px;
    }
}