/* 1440 + */
.b-icon {

	.b-info-block & {
		margin: 0 0 49px -19px;
    	width: ~'calc(100% + 19px)';
    }
    
    &--about {
        .b-info-block--about & {
            margin: 0 -24px 47px -28px;
        }
    }

}

.icon {
    &-tech {
        .b-info-block & {
            margin: 0 -24px 47px -48px;
        }
    }
    &-certificate {
        .b-info-block & {
            margin: 0 -24px 47px -40px;
        }
    }
}