/* 320 + */
.b-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;

	.b-info-block & {
		margin: 0 -22px 34px -48px;
		width: ~'calc(100% + 70px)';
    }
    
    &--news-slider {
        font-size: 21px;
        color: @cl-flamenco;
    }

    &--plus {
        display: none;
    }
    
    .b-filter__link & {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 24px;
    	height: 26px;
    	font-size: 21px;
    	color: @cl-bright-red;
    } 

    &--slider-left {
        margin-right: 25px;
    }

    &--pagination {
        font-size: 21px;
        
        .no-touchevents &:hover {
            color: @cl-bright-red;
        }
    }

    &--map {
        color: @cl-bright-red;
        margin-right: 15px;
    }

    &--close-popup {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    &--fabric-slider {
        font-size: 23px;
        color: @cl-vivid-green;
        margin: 0 21px;
    }

    .b-social & {
        transition: transform .3s ease;
    }
}

.icon {

	&-nuts {
		font-size: 63px;
		height: 63px;
		color: @cl-fire-engine-red;
	}

	&-tech {
		font-size: 64px;
		height: 64px;
		color: @cl-dark-purple;
	}

	&-certificate {
		font-size: 65px;
		height: 65px;
		color: @cl-flamenco;
	}

	&-eco {
		font-size: 65px;
		height: 65px;
		color: @cl-dark-yellow;
	}

	&-catalog {
		font-size: 40px;
		height: 40px;
    }

    &-sorting,
    &-filter {
    	width: 20px;
    	height: 20px;
    }

    &-sorting {
    	font-size: 6px;
    	margin-left: 4px;
    }

    &-filter {
    	font-size: 16px;
    	margin-right: 10px;
    }

    &-more {
        margin-right: 10px;
        font-size: 20px;
    }

    &-arrow-down {
        font-size: 48px;
    }

    &-send {
        font-size: 93px;
        color: @cl-bright-red;
        margin: 0 0 21px;
    }
}