.b-market-block {
	padding: 79px 0 140px;

	&__inner {
		flex-direction: row;
		flex-wrap: wrap;
		padding: 37px 0;
        justify-content: space-around;
	}

    &__image {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

	&__item {
		padding: 20px;
        width: 344px;
        height: 240px;
        margin: 0;
	}
}