.b-market-block {
	position: relative;
	padding: 73px 0;
	background: @cl-light-gray url('../images/inhtml/bg-market.jpg') center/cover no-repeat;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, #443C3C 1.19%, rgba(68, 60, 60, 0) 53.6%);
		opacity: .07;
	}

	&__image {
    	transition: transform .3s ease-out;
        max-width: 235px;
        max-height: 109px;
	}

    &__item {
        margin-top: 27px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

	&__link {
		display: block;
		position: relative;
		z-index: 3;

		.no-touchevents &:hover,
    	.touchevents &:active {

    		.b-market-block__image {
    			transform: scale3d(1.05, 1.05, 1.05);
    		}
    	}
	}

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 22px 0;
	}
}