.b-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	background: transparent;
	z-index: 10;

	&__inner {
		padding: 15px 0;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
}