.b-catalog {
	padding: 0 0 120px;
	
	&__button,
	&__sorting {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.open-bold();
		text-transform: uppercase;
		font-size: 12px;
		line-height: 21px;
		color: @cl-very-dark-mostly-black-red;
		transition: color .3s ease;
		cursor: pointer;
		position: relative;

		.no-touchevents &:hover,
		.touchevents &:active {
			color: @cl-opium;
		}

		&--border {
			border-radius: 4px;
			border: 1px solid @cl-very-dark-mostly-black-red;
			padding: 7px 31px;
			transition: color .3s ease, border-color .3s ease;

			&:before {
	            content: '';
	            position: absolute;
	            z-index: -1;
	            top: -1px;
	            left: -1px;
	            width: 0;
	            height: ~'calc(100% + 2px)';
	            border-radius: 4px;
	            background: @cl-opium;
	            transition: width .3s ease;
			}

			.no-touchevents &:hover,
			.touchevents &:active {
				color: @cl-white;
				border-color: @cl-opium;

				&:before {
					width: ~'calc(100% + 2px)';
				}
			}
		}
	}

	&__sorting {
		padding: 22px 0 0;
	}

	&__sort {
		position: relative;
	}

	&__sort-link {
		display: block;
		font-size: 16px;
		line-height: 26px;
		color: @cl-very-dark-mostly-black-red;
		transition: color .3s ease;
		cursor: pointer;
		text-align: center;
		width: auto;

		& + & {
			margin-top: 14px;
		}

		&.active {
			.open-bold();
			color: @cl-bright-red;
			pointer-events: none;
		}
	}

	&__wrap {
		display: none;
		position: absolute;
		width: 144px;
		top: 100%;
		left: 0;	
		padding: 23px 18px;
		background: @cl-white;
		box-shadow: 0px 12px 36px 2px rgba(50, 126, 150, 0.12);
		border-radius: 10px;
		z-index: 2;
	}

	&__wrap-box {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__inner {
		display: flex;
		flex-wrap: wrap;
		padding: 4px 0;
		margin: 0 -4px;
		width: ~'calc(100% + 8px)';
	}

	&__more {
		margin-top: 32px;
		width: 100%;
	    display: flex;
	    justify-content: center;
	}

	&__input {
		border: none;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}
}