.b-catalog {
	padding: 0 0 176px;
	
	&__button {
		font-size: 16px;
		line-height: 26px;
		letter-spacing: 0.01em;

		&--border {
			border-width: 2px;
			padding: 11px 42px;
		}
	}

	&__sorting {
		width: 323px;
		padding: 54px 0 0;
	}

	&__inner {
		justify-content: flex-start;
		margin: 0 -8px;
		width: ~'calc(100% + 16px)';
	}

	&__more {
		margin-top: 70px;
	}
}