.b-card-genesis {
    margin: 0 5px;
    &__wrapper {
        width: 288px;
        height: 367px;
        background: #FFFFFF;
        box-shadow: 0px 12px 36px 2px rgba(50, 126, 150, 0.12);
        border-radius: 12px;
    }

    &__image {
        border-radius: 12px 12px 0 0;
        height: 164px;
        object-fit: contain;
        width: 100%;
    }

    &__information {
        padding: 23px 17px 24px 24px;
        font-size: 16px;
        line-height: 26px;
    }

    &__name {
        font-weight: bold;
        letter-spacing: 0.04em;
    }

}