/* 768 + */
.b-history-block {
    margin-bottom: 0;
    
    &__text-inner {
        padding: 97px 125px 0 40px;
    }

    &__text {
        font-size: 18px;
        line-height: 30px;
        margin: 0;
    }

    &__shell {
        margin: 0 -15px 0 0;
    }

    &__img-wrapper {
        width: 618px;
    }

    &__signature {
        bottom: 137px;
        right: 585px;
    }

    &__arrow {
        bottom: -48%;
        right: -37%;
        transform: rotate(0deg);
    }
    
}