/* 1280 + */
.b-history-block {
    display: flex;
    justify-content: space-between;
    padding: 25px 35px 0 49px;
    max-width: 1440px;
    margin: 0 auto;

    &__text-inner {
        width: 565px;
        margin-right: 145px;
        padding: 132px 0 0;
    }

    &__shell {
        padding: 0;
    }
    
}