/* 320 + */
.b-history-block {
    margin-bottom: 59px;

    &__text-inner {
        padding: 41px 15px 0 16px;
        
    }

    &__text {
        line-height: 26px;
        margin: 0 0 21px;
    }

    &__shell {
        position: relative;
        margin-left: -35px;
        display: flex;
        justify-content: flex-end;
    }

    &__img-wrapper {
        width: 359px;
        position: relative;
    }

    &__signature {
        position: absolute;
        bottom: -70px;
        right: 145px;
    }

    &__year {
        .roboto-bold;
        font-size: 30px;
        line-height: 36px;
        color: @cl-vivid-green;
        margin-bottom: 12px;
        flex-shrink: 0;
    }

    &__detail {
        .caveat;
        font-size: 18px;
        line-height: 20px;
        font-weight: bold;
        letter-spacing: 0.02em;
        color: @cl-opium;
        width: 159px;
        position: relative;
        flex-shrink: 0;
    }

    &__arrow {
        position: absolute;
        bottom: -14%;
        right: -51%;
        transform: rotate(-27deg);
    }
}