.b-not-found {
	padding: 110px 0;
	overflow: hidden;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 4.31%, rgba(255, 255, 255, 0) 83.47%),
				url('../images/inhtml/bg-market.jpg') center/cover no-repeat;
	background-size: 1430px 954px;

	.b-container {
		height: 100%;
	}

	&__text {
		margin: 18px 0 28px;
		font-size: 16px;
		line-height: 26px;
		color: @cl-opium;
	}

	&__img {
		width: 100%;
	    height: auto;
	    min-height: 100%;
	    object-fit: cover;
	}

	&__content {
		margin-bottom: 5vh;
		max-width: 560px;
	}

	&__img-wrap {
		height: 100px;
		width: 100%;
		max-width: 484px;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		align-items: center;
	}
}