.b-not-found {
	background-size: 1946px 1298px;

	&__text {
		font-size: 21px;
		line-height: 34px;
		margin: 18px 0 35px;
	}

	&__img-wrap {
		height: 200px;
	}

	&__content {
		margin-bottom: 9vh;
	}
}