.b-range-block {
	position: relative;
	text-align: center;
	background: @cl-white;
	padding: 45px 0 100px;

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__item-inner {
		position: relative;
		z-index: 1;
		padding: 24px 0 0;
    	width: 288px;
    	height: 200px;
    	display: flex;
    	flex-direction: column;
	}

	&__item {
		overflow: hidden;
		border-radius: 16px;
		// box-shadow: 0px 12px 36px 2px rgba(50, 126, 150, 0.12);
    	margin: 0 0 18px;
    	background: rgba(237, 243, 243, 0.5);
    	transition: background .3s ease, box-shadow .3s ease;
    	position: relative;

    	// &:before {
    	// 	content: '';
    	// 	position: absolute;
    	// 	top: 0;
    	// 	left: 0;
    	// 	width: 100%;
    	// 	height: 100%;
    	// 	background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    	// 	opacity: 0;
    	// 	transition: opacity .3s ease;
    	// }

    	.no-touchevents &:hover,
    	.touchevents &:active {
    		background: @cl-white;
    		box-shadow: 0px 12px 36px 2px rgba(50, 126, 150, 0.12);

    		// &:before {
    		// 	opacity: .3;
    		// }

    		// .b-title {
    		// 	color: @cl-white;
    		// }

    		// .b-range-block__text-sum {
    		// 	color: rgba(255, 255, 255, .9);
    		// }

    		.b-range-block__image {
    			transform: scale(1.1);
    		}
    	}
	}

	&__image {
		position: absolute;
		left: 0;
		top: -30px;
		width: 100%;
		transition: transform .3s ease;
		line-height: 0;
	}

	&__text {
		color: @cl-opium;
		margin: 0 auto 48px;
		max-width: 600px;
	}

	&__text-sum {
		color: @cl-dusty-gray;
		margin: 0 auto;
		transition: color .3s ease;
	}

	&__link {
    	.roboto-bold();
    	color: @cl-dark-red;
    	font-size: 23px;
		line-height: 32px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		letter-spacing: 0.01em;
		margin: 45px auto 0;
		width: 288px;
		transition: color .3s ease;

		span {
			position: relative;
			display: block;

			&:before {
				content: '';
				position: absolute;
				bottom: -3px;
				left: 0;
				width: 100%;
				height: 1px;
				background: @cl-dark-red;
				transition: background .3s ease;
			}
		}

		.no-touchevents &:hover,
        .touchevents &:active {
        	color: @cl-bright-red;

        	span:before {
				background: @cl-bright-red;
			}
		}
    }
}