.b-footer {

	// &__inner {
	// 	flex-wrap: nowrap;
	// 	align-items: flex-start;
	// 	justify-content: space-between;
	// 	padding: 65px 0 65px;
	// }

	// &__contacts {
	// 	order: 3;
	// 	padding: 20px 0 0;
	// 	width: auto;
	// }

	&__copyright {
		height: 78px;
	}
	
	&__call {
		margin: 0 0 22px;
	}
}