.b-footer {

	&__inner {
		justify-content: flex-start;
		padding: 116px 0 60px;
	}

	&__menu {
		order: 2;
		width: auto;
		padding: 28px 0 0;
	}

	&__contacts {
		order: 4;
		position: relative;
		padding: 25px 0 0 261px;
		align-items: flex-start;
	}

	&__call {
		font-size: 48px;
		line-height: 56px;
	}

	&__copyright {
		height: 68px;
	}
}