.b-footer {
	position: relative;
	background: @cl-dark-purple;
	z-index: 1;

	&__inner {
		position: relative;
		padding: 25px 0 29px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__menu {
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 20px 0 0;
	}

	&__menu-item {
		list-style: none;

		&--hidden {
			display: none;
		}
	}

	&__contacts {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 43px 0 0;
	}

	&__call {
		.roboto-bold();
		display: block;
		font-size: 30px;
		line-height: 36px;
		color: @cl-white;
		margin: 0 0 13px;
	}

	&__email {
		display: block;
		font-size: 16px;
		line-height: 26px;
		color: @cl-white;
		margin: 0 0 3px;
	}

	&__question {
		display: block;
		font-size: 16px;
		line-height: 26px;
		color: @cl-white;
		text-decoration: underline;
	}

	&__copyright {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 64px;
		width: 100%;
		font-size: 13px;
		color: rgba(255, 255, 255, .8);
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background: rgba(255, 255, 255, .3);
		}
	}
}