.b-manufacturer {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 82px;
	padding: 6px 45px 6px 75px;
	background: rgba(166, 217, 29, .12);
	z-index: 1;
	display: flex;
	align-items: center;

	&__link {
		.roboto-regular;
		color: @cl-charcoal;
		font-size: 12px;
		line-height: 16px;
		display: flex;
		align-items: center;
		.icon('logo-gl');

		&:before {
			font-size: 56px;
			height: 56px;
			color: @cl-apple;
			display: flex;
		    align-items: center;
		    justify-content: center;
		    transition: transform .3s ease;
		}

		span {
			margin-left: 23px;
			text-decoration: underline;
		}

		.no-touchevents &:hover,
        .touchevents &:active {
        	color: @cl-charcoal;

        	&:before {
        		transform: scale(1.2);
        	}
        }
	}

	.b-footer & {
		left: 0;
		right: auto;
		top: 186px;
		bottom: auto;
		width: auto;
		height: auto;
		padding: 0 4px;
		background: transparent;

		&__link {
			flex-direction: column-reverse;
			color: @cl-white;

			&:before {
				font-size: 88px;
				height: 88px;
			}

			span {
				margin: 0 0 10px;
			}

			.no-touchevents &:hover,
	        .touchevents &:active {
	        	color: @cl-white;
	        }
		}
	}
}