.b-manufacturer {
	width: auto;
	height: auto;
	background: transparent;
	padding: 40px;

	&__link {
		font-size: 16px;
		flex-direction: column-reverse;

		&:before {
			font-size: 100px;
    		height: 100px;
		}

		span {
			margin: 0 0 20px;
		}
	}

	.b-footer & {
		order: 3;
		position: static;
		align-self: flex-start;
		margin: 0 0 0 auto;

		&__link {

			&:before {
				font-size: 120px;
	    		height: 120px;
			}

			span {
				margin: 0 0 18px;
			}
		}
	}
}