/* 320 + */
.b-page-wrapper {
    position: relative;
    z-index: 5;
    display: flex;
    width: 100vw;
    min-width: 320px;
    flex-direction: column;
    justify-content: space-between;
    -webkit-overflow-scrolling: touch;
    // overflow-x: hidden;
    // overflow-y: auto;
    height: auto;
    overflow: hidden;

    &.no-scroll {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
    }

    &.no-touch {
        pointer-events: none;
        touch-action: none;
    }

    // fix scroll block when open popup
    // need only for windows
    // and only desktop
    // and have scroll
    &.no-scroll&.windows {
        padding-right: 17px;
    }

    .about & {
        background-image: url("../images/inhtml/cloud.png");
        background-repeat: no-repeat;
        background-size: 1920px;
        background-position: 48% 24.5%;
    }
}