/* 320 + */
.b-container {
    width: 100%;
    padding: 0 16px;

    .b-head-block & {
    	height: 100%;
    }

    &--news-slider,
    &--feedback {
        padding: 0;
        display: flex;
        justify-content: center;
    }
}