/* 320 + */
.b-input {
    width: 100%;
    
    &__input-field {
        height: 38px;
        border-radius: 2px;
        background-color: @form-back;
        padding: 7px 18px;
        border: 1px solid @form-border;
        transition: border .3s;
        font-size: 16px;
        line-height: 1.5;
        padding: 0 15px 0 7px;

        -webkit-appearance: none;
        -moz-appearance:    none;
        appearance:         none;


        &:focus {
            // border: 1px solid @cl-4l-background-point-menu;
        }

        &[disabled] {
            // background-color: @cl-4l-light-gray;
        }

        &[placeholder]{
            text-overflow:ellipsis;
        }

        &::-webkit-input-placeholder {
            color: @cl-font-light;
            opacity: 1;
            text-overflow:ellipsis;
        }
        &:-moz-placeholder {
            color: @cl-font-light;
            opacity: 1;
            text-overflow:ellipsis;
        }
        &::-moz-placeholder {
            color: @cl-font-light;
            opacity: 1;
            text-overflow:ellipsis;
        }
        &:-ms-input-placeholder {
            color: @cl-font-light;
            opacity: 1;
            text-overflow:ellipsis;
        }

        &.error {
            border: 1px solid @cl-bright-red;

            &::-webkit-input-placeholder {
                color: @cl-bright-red;
            }
            &:-moz-placeholder {
                color: @cl-bright-red;
            }
            &::-moz-placeholder {
                color: @cl-bright-red;
            }
            &:-ms-input-placeholder {
                color: @cl-bright-red;
            }
        }

        &.ok {
            // border: 2px solid @cl-font-light;
        }

        &--feedback {
            border: 1px solid #D6D6D6;
            border-radius: 4px; 
            margin-bottom: 18px;
            height: 48px;
            max-width: 447px; 

            .b-popup & {
                margin-bottom: 10px;
            }
        }
    }

    &__label {
        &--feedback {
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 8px;

            .b-popup & {
                margin-bottom: 6px;
            }
        }
    }

    &__textarea-field {
        border: 1px solid #D6D6D6;
        border-radius: 4px; 
        margin-bottom: 19px;
        max-width: 447px;
        height: 100px;
        padding: 13px 18px;

        &.error {
            border: 1px solid @cl-bright-red;

            &::-webkit-input-placeholder {
                color: @cl-bright-red;
            }
            &:-moz-placeholder {
                color: @cl-bright-red;
            }
            &::-moz-placeholder {
                color: @cl-bright-red;
            }
            &:-ms-input-placeholder {
                color: @cl-bright-red;
            }
        }

        &.ok {
            // border: 2px solid @cl-font-light;
        }

        .b-popup & {
            margin-bottom: 10px;
            height: 72px;
        }
    }
}