/* 768 + */
.b-input {
    &__input-field {
        padding: 7px 27px;

        &--feedback {
            height: 59px;
            width: 447px;

            .b-popup & {
                width: 100%;
                margin-bottom: 14px;
            }            
        }
    }

    &__textarea-field {
        width: 447px;
        height: 160px;
        padding: 13px 27px;

        .b-popup & {
            width: 100%;
            height: 100px;
            margin-bottom: 14px;
        } 
    }

    &__label {
        &--feedback {

            .b-popup & {
                margin-bottom: 8px;
            }
        }
    }
}