.b-social {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: auto 0 30px;
	z-index: 1;

	&__link {
		color: @cl-dark-red;
		font-size: 44px;
		width: 44px;
		height: 44px;
		line-height: 1;
		position: relative;
		// transition: transform .3s linear;

		& + & {
			margin-left: 20px;
		}

		.no-touchevents &:hover,
		.touchevents &:active {
			color: @cl-dark-red;

			.b-icon {			
				transform: scale(1.25);
			}
		}
	}

	.b-footer & {
		margin: 28px 0 0;

		&__link {
			color: @cl-white;

			.no-touchevents &:hover,
			.touchevents &:active {
				color: @cl-white;
			}

			& + .b-social__link {
				margin-left: 12px;
			}
		}
	}

	.b-head-block-slider & {
		display: none;
	}
}