.b-head-block-slider {

	.slick-dots {
		bottom: 5vh;
	}

	&__main {
		display: block;
		opacity: .8;
		font-size: 16px;
		line-height: 26px;
		color: @cl-white;
		margin: 0 0 56px;
	}

	&__text-wrapper {
		display: flex;
	    flex-direction: column;
	    justify-content: center;
	    flex: 1 0 380px;
	    padding: ~'calc(7vh + 40px)' 0 ~'calc(5vh + 40px)';
	}
}