.b-head-block-slider {
	width: 100vw;
	height: 100vh;
	background: @cl-bright-red;
	box-shadow: 0px 12px 70px rgba(244, 0, 2, 0.3);
	position: relative;
	z-index: 1;
	transition: background 1s ease-out;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: @cl-hover-default-before;
		opacity: .4;
		transition: background 1s ease-out;
	}

	&[data-color='peanut'] {
		background: @cl-bright-red;

		&:before {
			background: radial-gradient(61.56% 47.94% at 58.91% 51.07%, #F33939 0%, rgba(243, 57, 57, 0.5) 48.96%, rgba(165, 26, 27, 0.8) 100%);
		}
	}

	&[data-color='cashew'] {
		background: @cl-hover-cashew;
	}

	&[data-color='peanut'] {
		background: @cl-hover-peanut;
	}

	&[data-color='hazelnut'] {
		background: @cl-hover-hazelnut;
	}

	&[data-color='pistachio'] {
		background: @cl-hover-pistachio;
	}

	&[data-color='almond'] {
		background: @cl-hover-almond;
	}

	&[data-color='walnut'] {
		background: @cl-hover-walnut;

		&:before {
			background: @cl-hover-walnut-before;
		}
	}

	&[data-color='pine-nut'] {
		background: @cl-hover-pine;
	}

	&[data-color='cashew-dark'] {
		background: @cl-hover-cashew-dark;
	}

	&[data-color='peanut-dark'] {
		background: @cl-hover-peanut-dark;
	}

	&[data-color='hazelnut-dark'] {
		background: @cl-hover-hazelnut-dark;
	}

	&[data-color='pistachio-dark'] {
		background: @cl-hover-pistachio-dark;
	}

	&[data-color='walnut-dark'] {
		background: @cl-hover-walnut-dark;

		&:before {
			background: @cl-hover-walnut-before;
			opacity: .5;
		}
	}

	&[data-color='pine-nut-dark'] {
		background: @cl-hover-pine-dark;
	}

	.slick-slider,
	.slick-list,
	.slick-track,
	.slick-slide,
	.b-container {
		height: 100%;
	}

	// .slick-slider {
	// 	z-index: 2;
	// }

	.slick-dots {
		position: absolute;
		left: 50%;
		bottom: 2vh;
		transform: translateX(-50%);
		z-index: 2;
		margin: 0;
		padding: 0;
		display: flex;

		li {
			list-style: none;
			width: 41px;
			height: 41px;
			border-radius: 50%;
			border: 1px solid transparent;
			transition: border-color .2s ease;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			cursor: pointer;

			&.slick-active {
				border-color: @cl-white;

				a {
					color: @cl-white;
				}

				.progress-bar {
					stroke-width: 3;
				}
			}

			.no-touchevents &:hover,
			.touchevents &:active {

				a {
					color: @cl-white;
				}
			}
		}

		li + li {
			margin-left: 20px;
		}

		a {
			.roboto-bold();
			display: block;
			border-radius: 50%;
			font-size: 18px;
			text-align: center;
			letter-spacing: 0.01em;
			color: rgba(255, 255, 255, .7);
			transition: color .2s ease;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.progress {
		fill: transparent;
		width: 43px;
		height: 43px;
		flex-shrink: 0;
		transform: rotate(-90deg);
	}

	.progress-bar {
		stroke: @cl-white;
  		stroke-width: 0;
  		transition: stroke-width .2s ease;
	}

	&__description-wrapper,
	&__main {
		display: none;
	}

	&__inner {
		height: 100%;
	}

	&__lead {
		.roboto-regular();
		font-size: 18px;
		line-height: 31px;
		color: @cl-white;
	}

	&__image-wrapper {
		height: 50%;
		display: flex;
		align-items: flex-end;
		transform: translateY(-100vh);
		transition: transform .5s ease;
		width: 116%;
    	margin-left: -15px;

		.slick-current & {
			transform: translateY(15px);
		} 
	}

	// &__image-content {
	// 	position: relative;
	// 	width: 100%;
	// 	height: 100%;
	// }

	// &__image {
	// 	position: absolute;
	// 	bottom: 0;

	// 	&--left {
	// 		width: 190px;
	// 		left: 0;
	// 		transform: translate(-17px, 15px);
	// 	}

	// 	&--center {
	// 		width: 210px;
	// 		left: 50%;
	// 		transform: translate(-114px, 13px);
	// 	}

	// 	&--right {
	// 		width: 156px;
	// 		right: 0;
	// 		transform: translate(32px, 10px);
	// 	}
	// }

	&__text-wrapper {
		padding: 18px 0;
	}

	&__header {
		margin: 0 0 18px;
	}
}