.b-head-block-slider {

	&__inner {
		width: 84%;
	}

	&__image-wrapper {
		margin-left: 79px;
    	margin-right: 14px;

    	.slick-current & {
			transform: translateY(0);
		} 
	}

	&__description-wrapper {
		top: auto;
	    left: auto;
	    bottom: -71px;
    	right: 0;
	}
}