.b-head-block-slider {

	.slick-dots {

		li {
			list-style: none;
			width: 64px;
			height: 64px;

			// &.slick-active {

			// 	.progress-bar {
			// 		stroke-width: 4;
			// 	}
			// }
		}

		a {
			font-size: 30px;
		}

		li + li {
			margin-left: 30px;
		}
	}

	.progress {
		width: 66px;
		height: 66px;
	}

	&__lead {
		font-size: 28px;
		line-height: 38px;
	}

	&__image-wrapper {
		width: 100%;
		margin-left: 17px;

		.slick-current & {
			transform: translateY(68px);
		} 
	}

	&__text-wrapper {
		padding: 80px 82px;
	}

	&__header {
		margin: 0 0 40px;
	}
}