.b-head-block-slider {

	&__inner {
		width: 100%;
	}

	&__image-wrapper {
		margin-left: 175px;
    	margin-right: -42px;

    	.slick-current & {
			transform: translateY(43px);
		} 
	}

	&__description-wrapper {
	    bottom: -49px;
	    right: 44px;
	}
}