.b-genesis-block {
    margin: -51px 0 102px;
    background-position-x: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__wrapper {
        padding-top: 181px;
    }

    &__title-box {
        background: @cl-white;
        box-shadow: 0px 12px 36px 2px rgba(50, 126, 150, 0.12);
        border-radius: 16px;
        width: 688px;
        padding: 6px 64px 35px;
        margin: 0 auto 66px;
    }

    &__text {
        font-size: 18px;
        line-height: 30px;
    }
    
    &__slider-box {
        display: none;
    }

    &__map-wrapper {
        text-align: center;
        position: relative;
    }

    &__map {
        display: block;
        height: 454px;
        margin: 0 auto;
        transform: translate(48px, -37px);

        svg {
            width: 954px;
        }
    }

    &__plane-right {
        bottom: -91px;
        right: 95px;
        transform: none;
    }

}