.b-genesis-block {
    margin-top: 7px;
    align-items: center;
    background-size: cover;
    
    &__wrapper {
        padding-top: 144px;
        max-width: 1230px;
        margin: 0 auto;
    }

    &__title-box {
        width: 669px;
        margin-bottom: 20px;
        padding: 6px 53px 35px 56px;
        margin-right: -112px;
    }

    &__map {
        height: 533px;
        transform: none;
    }

    &__plane-right {
        bottom: 249px;
        right: -400px;
        overflow: hidden;
    }

    &__plane-left {
        display: block;
        position: absolute;
        bottom: 176px;
        left: -398px;
    }

}