.b-genesis-block {
    // background: url("../images/inhtml/cloud.png") top no-repeat;
    // background-position-x: 46%;
    margin-bottom: 115px;

    &__title-box {
        padding: 160px 16px 35px;
    }

    &__slider {

        .slick-list {
            min-height: 410px;
            .slick-slide {
                opacity: 0;
            }
            .slick-active {
                opacity: 1;
            }
        }
    }
    
    &__arrow-block {
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        
        span {
            .roboto-bold;
            font-size: 30px;
            line-height: 36px;
            color: @cl-grayish-red;
            &:not(:last-child){
                margin-right: 8px;
            }
            &.active {
                color: @cl-very-dark-grayish-red;
            }
        }
    }

    &__map-wrapper {
        position: relative;
    }

    &__map {
        display: none;
    }

    &__plane-right {
        position: absolute;
        bottom: -115px;
        right: -81px;
        transform: scale(1.5);
        overflow: hidden;
    }

    &__plane-left {
        display: none;
    }

    &__slider-box {
        position: relative;
        z-index: 1;
    }

}