.b-logo {
	width: 115px;
	height: 115px;
	transform: translate(-50%, 20px);

	.b-footer & {
		order: 1;
		width: 155px;
		height: 155px;
		margin: 0 105px 0 0;
	}

	.b-burger__menu & {
		width: 64px;
		height: 64px;
		left: 40px;
		top: 31px;
	}
}