.b-logo {
	display: block;
	width: 68px;
	height: 68px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 10px);

	// .no-touchevents &:hover &,
 //    .touchevents &:active &{

 //    	&__image {
 //    		transform: scale(1.2);
 //    	}
 //    }

 //    &__image {
 //    	transition: transform .3s ease;
 //    }

	.b-footer & {
		position: static;
		transform: none;
		width: 110px;
		height: 110px;
	}

	.b-burger__menu & {
		width: 41px;
		height: 41px;
		top: 15px;
		left: 15px;
		transform: none;
		z-index: 1;
	}
}