.b-popup-map {
    
    &__wrapper {
        width: 366px;
        height: 471px;
        background: #FFFFFF;
        box-shadow: 0px 12px 36px 2px rgba(50, 126, 150, 0.12);
        border-radius: 12px;
        position: relative;
    }

    &__image {
        height: 186px;
        border-radius: 12px 12px 0 0;
    }

    &__text {
        padding: 20px 31px 0;
    }

    &__title {
        .roboto-bold;
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.01em;
        margin-bottom: 16px;
    }

    p {
        font-size: 16px;
        line-height: 26px;
        color: #C2BBBB;
        margin: 0;
    }

    &__phone,
    &__address {
        .roboto-bold;
        font-size: 17px;
        line-height: 21px;
        letter-spacing: 0.02em;
    }

    &__phone {
        display: block;
        margin-bottom: 16px;
        .no-touchevents &:hover,
		.touchevents &:active {
            color: @cl-dark-red;
        }
    }

    &__address {
        font-style: normal;
        margin-bottom: 21px;
    }

    &__link {
        display: flex;
        flex-direction: row;
        padding: 17px 0 0 4px;
        border-top: 1px solid #EDF3F3;
    }

    &__close {
        position: absolute;
        z-index: 99;
        top: 20px;
        right: 0px;
        width: 41px;
        height: 41px;
        &:before {
            content: '';
            width: 21px;
            height: 3px;
            transform: rotate(45deg);
            background: #8D8383;
            position: absolute;
        }
        &:after {
            content: '';
            width: 21px;
            height: 3px;
            transform: rotate(-45deg);
            background: #8D8383;
            position: absolute;
        }
    }
    
}