.b-nav {
	margin: auto 0 0;

	&__list {
		display: flex;
		white-space: nowrap;
		padding: 0;
		overflow-y: hidden;
		overflow-x: auto;
	}

	&__item {
		list-style: none;

		& + & {
			margin-left: 24px;
		}
	}

	&__link {
		.open-bold();
		color: rgba(255, 255, 255, .7);
		font-size: 12px;
		line-height: 21px;
		text-transform: uppercase;

		.no-touchevents &:active,
		.touchevents &:active {
			color: @cl-white;
		}
		
		&.active {
			color: @cl-white;
			pointer-events: none;
		}
	}

	&__input {
		border: none;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}
}