@font-face {
	font-family: "icons";
	src: url('../fonts/icons.eot');
	src: url('../fonts/icons.eot?#iefix') format('eot'),
		url('../fonts/icons.woff2') format('woff2'),
		url('../fonts/icons.woff') format('woff'),
		url('../fonts/icons.ttf') format('truetype'),
		url('../fonts/icons.svg#icons') format('svg');
}

.icon-base-pseudo {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

.icon-char(@filename) {
	@almond: "\E001";
	@arrow-down: "\E002";
	@arrow-left: "\E003";
	@arrow-right: "\E004";
	@cashew: "\E005";
	@catalog: "\E006";
	@certificate: "\E007";
	@close-popup: "\E008";
	@close: "\E009";
	@dried-apricot: "\E00A";
	@eco: "\E00B";
	@fb: "\E00C";
	@filter: "\E00D";
	@hazelnut: "\E00E";
	@hover-menu: "\E00F";
	@inst: "\E010";
	@logo-gl: "\E011";
	@map: "\E012";
	@menu-arrow: "\E013";
	@menu-dots: "\E014";
	@more: "\E015";
	@nuts: "\E016";
	@ok: "\E017";
	@peanut: "\E018";
	@pine-nut: "\E019";
	@pistachio: "\E01A";
	@plus: "\E01B";
	@prunes: "\E01C";
	@route: "\E01D";
	@send: "\E01E";
	@sort: "\E01F";
	@sorting: "\E020";
	@tech: "\E021";
	@vk: "\E022";
	@walnut: "\E023";
	
	content: @@filename;
}

.icon(@filename, @insert: before) {
	@pseudo-selector: ~":@{insert}";

	&@{pseudo-selector} {
		&:extend(.icon-base-pseudo);
		.icon-char(@filename);
	}
}

.icon-almond {
	.icon(almond);
}
.icon-arrow-down {
	.icon(arrow-down);
}
.icon-arrow-left {
	.icon(arrow-left);
}
.icon-arrow-right {
	.icon(arrow-right);
}
.icon-cashew {
	.icon(cashew);
}
.icon-catalog {
	.icon(catalog);
}
.icon-certificate {
	.icon(certificate);
}
.icon-close-popup {
	.icon(close-popup);
}
.icon-close {
	.icon(close);
}
.icon-dried-apricot {
	.icon(dried-apricot);
}
.icon-eco {
	.icon(eco);
}
.icon-fb {
	.icon(fb);
}
.icon-filter {
	.icon(filter);
}
.icon-hazelnut {
	.icon(hazelnut);
}
.icon-hover-menu {
	.icon(hover-menu);
}
.icon-inst {
	.icon(inst);
}
.icon-logo-gl {
	.icon(logo-gl);
}
.icon-map {
	.icon(map);
}
.icon-menu-arrow {
	.icon(menu-arrow);
}
.icon-menu-dots {
	.icon(menu-dots);
}
.icon-more {
	.icon(more);
}
.icon-nuts {
	.icon(nuts);
}
.icon-ok {
	.icon(ok);
}
.icon-peanut {
	.icon(peanut);
}
.icon-pine-nut {
	.icon(pine-nut);
}
.icon-pistachio {
	.icon(pistachio);
}
.icon-plus {
	.icon(plus);
}
.icon-prunes {
	.icon(prunes);
}
.icon-route {
	.icon(route);
}
.icon-send {
	.icon(send);
}
.icon-sort {
	.icon(sort);
}
.icon-sorting {
	.icon(sorting);
}
.icon-tech {
	.icon(tech);
}
.icon-vk {
	.icon(vk);
}
.icon-walnut {
	.icon(walnut);
}
