// Fonts
@font-base: "Open Sans Regular";

// Animation
@animation-time: 0.3s;
@double-animation: 0.6s;

// MediaQ - теперо подключаются в layout
// @desktop: ~"(max-width: 1439px)";
// @desktop-min: ~"(max-width: 1169px)";
// @tablet: ~"(max-width: 1023px)";
// @mobile: ~"(max-width: 767px)";

// Colors
// Цвета theme. Не трогать!!!
@cl-theme-global: @cl-font-main;
@cl-theme-link: @cl-font-main;
@cl-theme-link-hover: @cl-font-light;
@cl-theme-grey: @cl-gray;

// Цвета текста
@cl-font-main: @cl-very-dark-grayish-red;
@cl-font-light: @cl-gray;

/* Добавлять по категориям cl-элемент
/* @cl-button-bg: @Var */

// Общий док
@background: @cl-white;

// разделитель между секция
@hr-main: @cl-gray;

// элементы формы (input, textarea, select, etc)
@form-back: @cl-white;
@form-border: @cl-gray;

// Checkbox
@checkbox-back: @cl-gray;
@checkbox-back-hover: @cl-gray;
@checkbox-back-checked: @cl-font-main;
@check-mark: @cl-white;

// Radiobutton
@radio-back: @cl-white;

// кнопки с бэком без бордера
@button-main-back: @cl-black;
@button-main-hover: @cl-gray;
@button-main-active: @cl-gray;

// кнопки прозрачные
@button-transparent-back: @cl-transparent;
@button-transparent-hover: @cl-gray;
@button-transparent-active: @cl-gray;



// bow-shadow
@cl-box-shadow: 0px -2px 36px rgba(50, 126, 150, 0.18);


// Ховеры продуктовых карточек
@cl-hover-default-before: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
@cl-hover-cashew: #F98442;
@cl-hover-peanut: #F33939;
@cl-hover-hazelnut: #FDDF3F;
@cl-hover-pistachio: #A6D91D;
@cl-hover-almond: #77DEF4;
@cl-hover-walnut: #2E95E0;
@cl-hover-walnut-before: radial-gradient(50% 50% at 50% 50%, #C8F5FF 0%, rgba(200, 245, 255, 0) 100%);
@cl-hover-pine: #DF49B5;
@cl-hover-peanut-dark: #A51A1B;
@cl-hover-cashew-dark: #EA671D;
@cl-hover-hazelnut-dark: #FFC800;
@cl-hover-pistachio-dark: #998E24;
@cl-hover-walnut-dark: #1668A4;
@cl-hover-pine-dark: #80326F;



// ------
// ЦВЕТА 
// ------

// // Alpha colors
// // @cl-alpha: rgba(255, 255, 255, .2); // цвет + описание

// Основные цвета
@cl-transparent: transparent;
@cl-white: #ffffff;
@cl-black: #000000;
@cl-gray: #dddddd;
@cl-apple: #6DBF54;
@cl-charcoal: #4A4A4A;
@cl-dark-purple: #80326F;
@cl-fire-engine-red: #C11B1D;
@cl-flamenco: #F98442;
@cl-opium: #8D8383;
@cl-dusty-gray: #A99898;
@cl-gorse: #FDDF3F;
@cl-azure: #EDF3F3;

// Генерируемые цвета - ниже не пишем ничего сами )
@cl-very-dark-grayish-red: #443c3c;
@cl-very-dark-mostly-black-red: #280000;
@cl-dark-grayish-red: #857777;
@cl-pure-or-mostly-pure-yellow: #ffc800;
@cl-vivid-yellow: #ffd80d;
@cl-bright-red: #f33939;
@cl-dark-red: #a51a1b;
@cl-dark-moderate-pink: #7d265e;
@cl-dark-pink: #970061;
@cl-vivid-red: #ff5827;
@cl-dark-yellow: #998e24;
@cl-light-gray: #c4c4c4;
@cl-light-grayish-cyan: #edf3f3;
@cl-grayish-red: #c2bbbb;
@cl-moderate-yellow: #afc559;
@cl-vivid-green: #a6d91d;
@cl-light-grayish-blue: #fcfdfe;