.b-news-slider {
    border-top: 1px solid rgba(74, 74, 74, 0.3);
    margin-bottom: 5px;
    width: 100%;

    &__header {
        display: flex;
        align-items: flex-start;
        padding: 20px 23px 0 16px;
    }

    &__arrow {
        margin-left: auto;
        display: flex;
    }

    .slick-list {
        min-height: 415px;
        padding-top: 15px;
    }

}