/* 320 + */

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    font-family: @font-base;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;

    &.no-scroll {
        // position: fixed;
        // top: 0;
        // left: 0;
        // right: 0;
        // bottom: 0;
        overflow: hidden;
    }

    &.no-touch {
        pointer-events: none;
        touch-action: none;
    }

    // fix scroll block when open popup
    // need only for windows
    // and only desktop
    // and have scroll
    // &.no-scroll.windows {
    //     padding-right: 17px;
    // }
}

* {
    outline: none;
}

input[type='submit'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.hidden-xs {
	display: none;
}