//- ====================
//- kontora: footer_main
//- 00-00-2017: Author
//- --------------------
//- Футер страниц
//- ===================
mixin footer()

    include ../../section/ui-kit/link.pug
    include ../../section/ui-kit/logo.pug
    include ../../section/ui-kit/icon.pug
    include ../../section/ui-kit/social.pug
    include ../../section/ui-kit/manufacturer.pug

    +b.footer
        .b-container.b-container--wide
            +e.inner
                +logo({
                    image: 'images/inhtml/logo.svg',
                    stubPage: stubPage
                })

                +e('ul').menu
                    +e('li').menu-item
                        +link('Главная', true).--footer-menu
                    +e('li').menu-item
                        +link('О компании', true).--footer-menu
                    +e('li').menu-item
                        +link('Контакты', true).--footer-menu
                    +e('li').menu-item
                        +link('Каталог', true).--footer-menu
                    +e('li').menu-item.--hidden
                        +link('Где купить', true).--footer-menu
                    +e('li').menu-item
                        +link('Блог', true).--footer-menu

                +e.contacts
                    +e('a').call(href='tel:88005507444') 8 (800) 550-74-44
                    +e('a').email(href='mailto:info@sevennuts.ru') info@sevennuts.ru
                    +e('a').question.-js-open-popup(href='javascript:void(0);' title='Задать вопрос' data-popup='popup-form') Задать вопрос
                    +social()

                +manufacturer()

        +e.copyright
            span Все права защищены &copy;&nbsp;2020