//- ====================
//- kontora: Шапка сайта
//- 00-00-2017: Author
//- --------------------
//- Шапка
//- ====================
mixin header()

    include ../../section/ui-kit/link.pug
    include ../../section/ui-kit/logo.pug
    include ../../section/ui-kit/icon.pug
    include ../../section/ui-kit/social.pug
    include ../../section/ui-kit/manufacturer.pug
    include ../../section/ui-kit/title.pug
    include ../../section/ui-kit/button.pug
    include ../../section/ui-kit/contact-card.pug

    +b('header').header
        .b-container.b-container--wide
            +e.inner
                +b.burger
                    +e('a').link.js-burger(href='javascript:void(0);')
                        +e.line
                    +e.menu.js-burger-menu
                        +logo({
                            image: 'images/inhtml/logo.svg'
                        })
                        +e('a').link-close.js-burger-close(href='javascript:void(0);' title='Закрыть')
                        +e('ul').menu-list
                            +e.item 
                                +link('Каталог', true, '/catalog').--burger.-js-burger-link.-is-expand
                                +e.menu-lvl2.--catalog.-is-expand
                                    +e.wrap.-js-scroll-block
                                        +e.inner-lvl2
                                            +title('h4', 'По категории').--lvl2
                                            +e.link-wrap
                                                +link('Орехи', true).--lvl2
                                            +e.link-wrap
                                                +link('Сухофрукты', true).--lvl2
                                            +e.link-wrap
                                                +link('Драже', true).--lvl2
                                            +e.link-wrap
                                                +link('Смеси', true).--lvl2
                                        +e.inner-lvl2
                                            +title('h4', 'По названию').--lvl2
                                            +e.link-wrap
                                                +link('Кедровый орех', true).--lvl2
                                            +e.link-wrap
                                                +link('Грецкий орех', true).--lvl2
                                            +e.link-wrap
                                                +link('Миндаль', true).--lvl2
                                            +e.link-wrap
                                                +link('Фундук', true).--lvl2
                                            +e.link-wrap
                                                +link('Фисташки', true).--lvl2
                                            +e.link-wrap
                                                +link('Кешью', true).--lvl2
                                            +e.link-wrap
                                                +link('Арахис', true).--lvl2
                                            +e.link-wrap
                                                +link('Курага', true).--lvl2
                                            +e.link-wrap
                                                +link('Чернослив', true).--lvl2
                            +e.item 
                                +link('О компании', true).--burger.-js-burger-link
                                +e.menu-lvl2
                                    +e('img').img(src='images/inhtml/about-company.png')
                                    +e.text
                                        p Продукция Seven Nuts производится с&nbsp;2012 года на&nbsp;заводах GreenLine по&nbsp;собственным рецептам и&nbsp;на&nbsp;современном оборудовании.
                                    +button('Подробнее', true).--more
                            +e.item 
                                +link('Блог', true).--burger.-js-burger-link
                                +e.menu-lvl2
                                    +e.inner-blog
                                        +e('a')(href='javascript:void(0);').blog-link
                                            +e('i').blog-icon
                                                +e('img')(src='images/inhtml/percent.svg')
                                            +e Акции
                                        +e('a')(href='javascript:void(0);').blog-link
                                            +e('i').blog-icon
                                                +e('img')(src='images/inhtml/b2.png')
                                            +e Статьи
                                        +e('a')(href='javascript:void(0);').blog-link
                                            +e('i').blog-icon
                                                +e('img')(src='images/inhtml/b3.png')
                                            +e Новости
                                    +button('ПЕРЕЙТИ В БЛОГ', true).--more

                            +e.item.-hidden-xs
                                +link('Где купить', true).--burger.-js-burger-link
                                +e.menu-lvl2
                                    +e.inner-market
                                        +e('a')(href='javascript:void(0);').market-link
                                            +e('img')(src='images/markets/wildberries.png')
                                        +e('a')(href='javascript:void(0);').market-link
                                            +e('img')(src='images/markets/azbuka-vkusa.png')
                                        +e('a')(href='javascript:void(0);').market-link
                                            +e('img')(src='images/markets/yandex.png')
                                    //- +button('Подробнее', true).--more
                            +e.item
                                +link('Контакты', true).--burger.-js-burger-link
                                +e.menu-lvl2
                                    +e.inner-contacts
                                        +contact-card({
                                            title: 'Горячая линия',
                                            href_phone: '+74952121102',
                                            phone_number: '+7 (495) 21-21-102',
                                            property: 'Единый многоканальный номер',
                                            proviso: 'Звонок по России бесплатный'
                                        }).--main
                                        +contact-card({
                                            title: 'Главный офис',
                                            href_phone: '+74952121102',
                                            phone_number: '+7 (495) 21-21-102',
                                            email: 'info@greenline77.ru',
                                            address: 'РФ, 127411, Москва, Дмитровское шоссе, 157, стр. 9, офис 9308 а,б,в.',
                                        })
                                    +button('Подробнее', true).--more
                        +social()
                        +manufacturer()
          
                +link('Каталог продукции', true).--left.--bold.-hidden-xs
                
                +logo({
                    image: 'images/inhtml/logo.svg'
                })

                +link('Акции', true).--right.--bold.--color