/* 768 + */
.b-pagination {
    width: 24.3em;
    &__link {
        font-size: 30px;
        line-height: 36px;
        // margin-right: 60px;
        &:before {
            width: 64px;
            height: 64px;
        }
    }
}
