/* 320 + */
.b-pagination {
    margin-left: auto;
    margin-right: auto;
    width: 16em;
    &__list {
        margin-left: 0;
        padding-left: 0;
        // max-width: 290px;
        display: flex;
        align-items: center;
        // flex-direction: row;
        justify-content: space-between;
        
    }
    
    &__item {
        list-style-type: none;
        // margin-right: 40px; 

        // &:not(:last-child) {
        //     margin-right: 40px;
        // }
    }

    &__link {
        .roboto-regular;
        font-size: 18px;
        line-height: 26px;
        font-weight: bold;
        
        transition: all 300ms ease-out;
        position: relative;
        
        

        &:before {
            content: '';
            display: none;
            width: 41px;
            height: 41px;
            border: 1px solid @cl-bright-red;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
        }
        &.current {
            color: @cl-bright-red;
            &:before {
                display: block;
            }
        }

        .no-touchevents &:hover,
        .touchevents &:active {
            color: @cl-bright-red;
        }
    }

    .disabled {
        display: none;
    }

}