.b-burger {

	&__menu-lvl2 {

		&--catalog {
			background: url(../images/inhtml/bg-catalog-desk.png) top right/cover no-repeat;
		}
	}

	&__link-close {
		top: 33px;
    	right: 35px;
	}

	&__menu {
		padding: 161px 56px 14px;
	}

	&__menu-lvl2 {
		padding: 160px 112px 0 400px;
	}

	&__menu-list {
		margin: 0;
	}

	&__text {
    	margin: 133px 0 40px;
    }

    &__inner-market,
    &__inner-blog {
        margin: 0 auto 80px;
    }

    &__inner-contacts {
        margin: 0 auto;
    }
}