.b-burger {
	margin: 0 43px 0 0;

	&__link,
	&__link-close {
		width: 64px;
		height: 64px;
		border-width: 3px;
		padding: 17px 0;
	}

	&__link-close {
		top: 31px;
    	right: 40px;
	}

	&__line,
    &__link:before,
    &__link:after,
    &__link-close:before,
    &__link-close:after {
        width: 31px;
        height: 4px;
    }

    &__menu {
    	padding: 162px 40px 34px;
    }

    &__item {
    	padding-left: 67px;

    	& + & {
    		margin-top: 40px;
    	}
    }

    &__menu-list {
    	width: 50%;
    	padding: 0 20px 0 0;
    }

    &__menu-lvl2 {
    	display: block;
    	position: absolute;
    	top: 0;
    	right: 0;
    	width: 100%;
    	height: 100%;
    	padding: 165px 40px 0 50%;
    	transform: translateY(-100%);
    	opacity: 0;
    	transition: opacity .3s, transform .5s;

    	&.is-expand {
    		transform: translateY(0);
    		opacity: 1;

    		.b-burger__img {
	    		transform: translateY(0);
    		}
    	}

    	&--catalog {
    		background: url('../images/inhtml/bg-catalog.png') top right/contain no-repeat;
    	}
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-right: 100px;
    }

    &__inner-lvl2 {
    	margin: 0 0 38px;
    }

	&__img {
    	position: absolute;
    	top: 0;
    	left: ~'calc(50% - 40px)';
    	transform: translateY(-100%);
    	transition: transform .7s;
    }

    &__text {
    	margin: 133px 0 40px;
    	.roboto-regular();
    	font-size: 21px;
		line-height: 31px;
    }

    .os-host-resize-disabled.os-host-scrollbar-horizontal-hidden>.os-scrollbar-vertical {
        bottom: 35px;
    }

    &__blog-link {
        display: flex;
        align-items: center;
        padding: 20px;
        height: 112px;
        width: 336px;
        color: @cl-very-dark-grayish-red;
        border-radius: 12px;
        transition: color .3s ease-out, box-shadow .3s ease-out;

        span {
            font-size: 23px;
            line-height: 32px;
            .roboto-bold();
            letter-spacing: 0.01em;
        }

        .no-touchevents &:hover,
        .touchevents &:active {
            box-shadow: 0px 12px 36px 2px rgba(50, 126, 150, 0.12);
            color: @cl-bright-red;
        }
    }

    &__blog-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 72px;
        height: 72px;
        border-radius: 8px;
        background: @cl-pure-or-mostly-pure-yellow;
        margin-right: 35px;

        span {
            font-size: 48px;
            line-height: 56px;
            font-style: normal;
            display: block;
            color: @cl-white;
            .roboto-bold();
        }
    }

    &__inner-blog,
    &__inner-market {
        margin: 0 auto 80px;
    }

    &__inner-contacts {
        margin: 0 auto;
    }

    &__link-wrap {

        & + & {
            margin-top: 12px;
        }
    }

    &__market-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 336px;
        height: 112px;
        line-height: 0;

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            transition: transform .4s ease-out;
        }

        & + & {
            margin-top: 10px;
        }

        .no-touchevents &:hover,
        .touchevents &:active {

            img {
                transform: scale3d(1.05,1.05,1.05);
            }
        }
    }

    &__inner-market {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}