.b-burger {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: fixed;

    &__menu {
        display: none;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: @cl-white;
        z-index: 69;
        transform: translateX(-100vw);
        transition: transform .5s ease;
        padding: 86px 45px 86px 75px;

        &.is-expand {
            transform: translateX(0);
        }
    }

    &__menu-list {
        padding: 0;
    }

    &__link {
        display: flex;
        width: 41px;
        height: 41px;
        padding: 10px 0;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 50%;
        border: 2px solid @cl-white;
        transition: background .3s cubic-bezier(0.43, 1.36, 0.75, 0.99), border-color .3s cubic-bezier(0.43, 1.36, 0.75, 0.99);
    }

    &__line,
    &__link:before,
    &__link:after {
        content: '';
        display: block;
        width: 21px;
        height: 3px;
        border-radius: 1px;
        background: @cl-white;
        position: relative;
        transform-origin: center;
        transition: background .3s cubic-bezier(0.43, 1.36, 0.75, 0.99);
    }

    &__link-close {
        display: flex;
        width: 41px;
        height: 41px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        border-radius: 50%;
        border: 2px solid @cl-dark-red;
        position: absolute;
        top: 15px;
        right: 15px;

        &:before,
        &:after {
            content: '';
            display: block;
            width: 21px;
            height: 3px;
            background: @cl-dark-red;
            position: absolute;
            top: 50%;
            left: 50%;
            transition: transform .3s cubic-bezier(0.43, 1.36, 0.75, 0.99);
        }

        &:before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &:after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        // .no-touchevents &:hover,
        // .touchevents &:active {
            
        //     &:before {
        //         transform: translate(-50%, -50%) rotate(-45deg);
        //     }

        //     &:after {
        //         transform: translate(-50%, -50%) rotate(45deg);
        //     }
        // }
    }

    &__item {
        list-style: none;

        & + & {
            margin-top: 26px;
        }
    }

    &__menu-lvl2 {
        display: none;
    }

    .dark & {
        .b-burger__link {
            background: @cl-white;
            border-color: @cl-light-grayish-cyan;
            
            &:after,
            &:before,
            .b-burger__line {
                background: @cl-very-dark-grayish-red;
            }   
        }

        &~.b-link {
            &--left {
                color: @cl-very-dark-grayish-red;
                .no-touchevents &:hover,
                .touchevents &:active {
                    color: @cl-very-dark-grayish-red;
                    &:before {
                        background: @cl-very-dark-grayish-red;
                    }
                }
            }
        }
    }

    &.fill & {

        &__link {
            background: @cl-white;
            border-color: @cl-light-grayish-cyan;

            .no-touchevents &:hover,
            .touchevents &:active {
                background: @cl-bright-red;
                border-color: @cl-bright-red;

                .b-burger__line,
                &:before,
                &:after {
                    background: @cl-white;
                }
            }
        }

        &__line,
        &__link:before,
        &__link:after {
            background: @cl-very-dark-grayish-red;
        }

        .content-page & {

            &__link {
                border-color: @cl-azure;
            }
        }
    }
}