.b-burger {

	&__menu {
		width: 960px;

		&:before {
			content: '';
			position: fixed;
			width: 200vw;
			height: 100%;
			top: 0;
			left: 100%;
			opacity: 0;
			transition: opacity .5s ease;
			background: rgba(40, 0, 0, .4);
			display: none;
		}

		&.is-expand {

			&:before {
				display: block;
				opacity: 1;
			}
		}
	}

	&__menu-list {
		width: 345px;
	}

	&__menu-lvl2 {
    	padding: 65px 112px 0 400px;
    }

    &__img {
    	left: 360px;
    }
}