.b-fabric-card {

    &__img-wrapper {
        margin-bottom: 100px;
        overflow: hidden;
    }

    &__image {
        min-height: 240px;
        max-height: 510px;
        width: auto;
    }
    
    &__information {
        padding: 0 16px 0 17px;
        position: relative;
        img {
            position: absolute;
            top: 147px;
            right: -135px;
            display: none;
        }
    }

    &__title {
        .roboto-bold;
        font-size: 17px;
        line-height: 21px;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
    }

    &__text {
        font-size: 16px;
        line-height: 26px;
        color: @cl-opium;
        margin-bottom: 16px;
    }

}