.b-fabric-card {
    &__wrapper {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
        // max-width: 1340px;
        // margin: 0 auto;
    }

    &__img-wrapper {
        margin-bottom: 0;
        border-radius: 16px;
        padding: 0;
    }

    // &__image {
    //     width: 784px;
    // }

    &__information {
        padding: 135px 0 0;
        width: 402px;
        text-align: right;
        margin: 0 150px 0 0;
        
        img {
            display: block;
        }
    }
    
}