.b-fabric-card {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        // width: 768px;
    }

    &__img-wrapper {
        margin-bottom: 103px;
        overflow: hidden;
    }

    &__image {
        max-height: 510px;
        width: 100%;
    }
    
    &__information {
        margin-left: auto;
        width: 768px;
        padding: 0 40px 0 212px;
    }

    &__title {
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.01em;
    }

}