//- ====================
//- kontora: 404
//- 00-00-2017: 
//- --------------------
//- 404 страница.
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

block variables
    - var file_name = '404'
    - var not_found = true
    - var bodyClass = 'dark'

//- Модифицируем head
block head
    - var pageTitle = 'Страница не найдена';

//- Выводим content
block content

    include section/ui-kit/title.pug
    include section/ui-kit/button.pug

    +b('section').not-found.-js-full
        +title('h1', '404. Страница не найдена').-hidden
        .b-container
            +e.inner
                +e.content
                    +title('h2', 'Что-то пошло не&nbsp;так')
                    +e('p').text Страница, которую вы&nbsp;искали, не&nbsp;найдена. Но&nbsp;вы&nbsp;обязательно найдете что-нибудь в&nbsp;нашем каталоге.
                    +button('', true, '/catalog.html').--more
                        span в каталог
                +e.img-wrap
                    +e('img').img(src='/images/inhtml/404.png')

    