//- ====================
//- kontora: about
//- 00-00-2017:
//- --------------------
//- О компании
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

block variables
    - var file_name = 'about'
    - var bodyClass = 'about'

//- Модифицируем head
block head
    - var pageTitle = 'О компании';

//- Выводим попапы
block popup

//- Выводим content
block content

    include section/head-block.pug
    include section/info-block.pug
    include section/history-block.pug
    include section/genesis-block.pug
    include section/fabric-slider.pug

    +head-block({
        decors: [
            'hazelnut_leaf', 
            'peanut_2',
            'peanut_4',
            'peanut_6',
            'cashew_1',
            'walnut_3'
        ],
        nav: {
            items: [
            {
                name: 'Наша история',
                link: '#history',
                active: true
            },{
                name: 'География',
                link: '#geography'
            },{
                name: 'Тур на производство',
                link: '#production-tour'
            },{
                name: '4 причины купить',
                link: '#four-reasons-to-buy'
            }
        ]},
        title: 'О компании'
    }).--about

    +history-block({
        'items':[
        {
            'title': 'Наша история',
            'text' : 'С 2012 года производственная компания GreenLine готовила орехи - привозила из разных стран, обжаривала, упаковывала и развозила на прилавки известных магазинов. А в 2018 году основатели решили сделать свою торговую марку с качественными орехами и необычными вкусовыми сочетаниями. И назвать ее в честь 7 самых полезных в мире орехов. Так появился бренд SevenNuts.',
            'year': '2016',
            'detail': 'Первым под брендом SevenNuts был выпущен жареный арахис с солью'
            }
    ]}).--history#history

    +genesis-block()

    +fabric-slider()#production-tour

    

    +info-block--about([
        {
            icon: 'nuts',
            title: 'Только свежее сырье',
            text: 'Мы привозим орехи из разных стран мира и тщательно отбираем сырье,&nbsp;из которого изготавливаются продукты Seven Nuts.'
        },{
            icon: 'tech',
            title: 'Собственные технологии',
            text: 'Весь процесс производства уже много лет мы делаем самостоятельно, и на каждом этапе отобрали лучший рецепт для самого вкусного результата.'
        },{
            icon: 'certificate',
            title: 'Вся продукция сертифицирована',
            text: 'Мы не только оформляем обязательные процедуры декларирования качества товара, но и самостоятельно проводим экспертизы.'
        },{
            icon: 'eco',
            title: 'Экологичное производство',
            text: 'Наше производство не вредит окружающей среде, а упаковка безопасна для человека.'
        }
    ]).--about#four-reasons-to-buy

            