//- ====================
//- kontora: blog
//- 00-00-2017:
//- --------------------
//- Блог
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

block variables
    - var file_name = 'blog'

//- Модифицируем head
block head
    - var pageTitle = 'Блог';

//- Выводим попапы
block popup

//- Выводим content
block content

    include section/head-block.pug
    include section/ui-kit/card.pug
    include section/ui-kit/pagination.pug
    
    +head-block({
        decors: [
            'hazelnut_leaf', 
            'peanut_2',
            'peanut_4',
            'peanut_6',
            'cashew_1',
            'walnut_3'
        ],
        nav: {
            items: [
            {
                name: 'Показать все',
                id: 'all',
                active: true
            },{
                name: 'Статьи',
                id: 'article'
            },{
                name: 'Новости',
                id: 'news'
            },{
                name: 'Акции',
                id: 'stock'
            }
        ],
            form: true
        },
        title: 'Блог'
    }).--blog

    .b-container

        +b.blog
            +e.inner
                +card({
                            'items':[
                            {
                                'src': 'images/content/nuts_news.jpg',
                                'alt' : '',
                                'date': '20.07.2020',
                                'signature': 'Статьи',
                                'text': '5 интересных фактов об орехах, которые вы не знали'
                            }
                        ]}).--blog
                +card({
                            'items':[
                            {
                                'src': 'images/content/nuts_news.jpg',
                                'alt' : '',
                                'date': '20.07.2020',
                                'signature': 'НОВОСТИ',
                                'text': '«Anuga» — мировые новинки под одной крышей в Кельне (Германия)'
                            }
                        ]}).--blog
                +card({
                            'items':[
                            {
                                'src': 'images/content/nuts_news.jpg',
                                'alt' : '',
                                'date': '20.07.2020',
                                'signature': 'СТАТЬИ',
                                'text': 'Для сердца, крови и ума: какие орехи самые полезные'
                            }
                        ]}).--blog
                +card({
                            'items':[
                            {
                                'src': 'images/content/nuts_news.jpg',
                                'alt' : '',
                                'date': '20.07.2020',
                                'signature': 'НОВОСТИ',
                                'text': 'Новинка: Полюбившиеся драже в новой упаковке!'
                            }
                        ]}).--blog
            +e.inner-bottom
                +pagination({'items':
                            [{
                                'number': '01'
                            }, {
                                'number': '02'
                            }, {
                                'number': '03'
                            }, {
                                'number': '04'
                            }]}, {
                            'current': '0'
                        })
                
