//- ====================
//- kontora: catalog
//- 00-00-2017:
//- --------------------
//- каталог.
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

block variables
    - var file_name = 'catalog'

//- Модифицируем head
block head
    - var pageTitle = 'Каталог';

//- Выводим попапы
block popup

    include section/ui-kit/popup-product-card.pug

    +popup-product()(data-popup='cashew-rosemary_pot', data-type='cashew')
    +popup-product()(data-popup='pine_nut_200', data-type='pine-nut')
    +popup-product()(data-popup='walnut_50', data-type='walnut')
    +popup-product()(data-popup='almond_100', data-type='almond')
    +popup-product()(data-popup='peanut_50', data-type='peanut')
    +popup-product()(data-popup='pistachios_200', data-type='pistachio')
    +popup-product()(data-popup='hazelnut-drazhe_50_flowpack', data-type='hazelnut')

//- Выводим content
block content

    include section/head-block.pug
    include section/catalog.pug
    
    +head-block({
        decors: [
            'hazelnut_leaf', 
            'peanut_2',
            'peanut_4',
            'peanut_6',
            'cashew_1',
            'walnut_3'
        ],
        nav: {
            items: [
                {
                    name: 'посмотреть всё',
                    id: 'all',
                    active: true
                },{
                    name: 'ОРЕХИ',
                    sum: '24',
                    id: 'nuts'
                },{
                    name: 'СМЕСИ',
                    sum: '8',
                    id: 'mix'
                },{
                    name: 'ДРАЖЕ',
                    sum: '2',
                    id: 'dragee'
                }
            ],
            form: true
        }
    }).--catalog

    +catalog([
        {
            image: 'cashew-rosemary_pot',
            title: 'Кешью жареный в&nbsp;блестящей оболочке с&nbsp;розмарином, 200&nbsp;г',
            sum: '8 шт',
            type: 'cashew',
            weight: '200pot',
            category: 'nuts'
        },{
            image: 'pine_nut_200',
            title: 'Кедровый орех очищенный, 200&nbsp;г',
            sum: '8 шт',
            type: 'pine-nut',
            weight: '200',
            category: 'nuts'
        },{
            image: 'walnut_50',
            title: 'Грецкий орех очищенный, 50&nbsp;г',
            sum: '8 шт',
            type: 'walnut',
            weight: '50',
            category: 'nuts'
        },{
            image: 'almond_100',
            title: 'Миндаль жареный соленый, 100&nbsp;г',
            sum: '8 шт',
            type: 'almond',
            weight: '100',
            category: 'nuts'
        },{
            image: 'peanut_50',
            title: 'Арахис жареный соленый, 50&nbsp;г',
            sum: '8 шт',
            type: 'peanut',
            weight: '50',
            category: 'nuts'
        },{
            image: 'tarelka-assorti_250-4',
            title: 'Арахисовое ассорти (паприка, сметана и&nbsp;зелень, холодец с&nbsp;хреном), 250&nbsp;г',
            sum: '8 шт',
            type: 'peanut',
            weight: '250',
            category: 'nuts'
        },{
            image: 'peanut_pot',
            title: 'Арахис жареный с&nbsp;морской солью, 200&nbsp;г',
            sum: '8 шт',
            type: 'peanut',
            weight: '200pot',
            category: 'nuts'
        },{
            image: 'pistachios_200',
            title: 'Фисташки жареные соленые, 200&nbsp;г',
            sum: '8 шт',
            type: 'pistachio',
            weight: '200',
            category: 'nuts'
        },{
            image: 'peanut-drazhe-gloss_500_packet',
            title: 'Арахис в&nbsp;блестящей глазури, 500&nbsp;г',
            sum: '8 шт',
            type: 'peanut',
            weight: '500',
            category: 'dragee'
        },{
            image: 'peanut-drazhe-gloss_3kg',
            title: 'Арахис в&nbsp;шоколадной глазури (золото, серебро, бронза), 3&nbsp;кг',
            sum: '8 шт',
            type: 'peanut',
            weight: '3000',
            category: 'dragee'
        },{
            image: 'hazelnut-drazhe_50_flowpack',
            title: 'Фундук в&nbsp;шоколадной глазури, 50&nbsp;г',
            sum: '8 шт',
            type: 'hazelnut',
            weight: '50',
            category: 'dragee'
        },{
            image: 'almond-drazhe-gloss_500_packet',
            title: 'Миндаль жареный в&nbsp;блестящей оболочке со&nbsp;вкусом копчения, 500&nbsp;г',
            sum: '8 шт',
            type: 'almond',
            weight: '500',
            category: 'dragee'
        },{
            image: 'peanut_500_packet',
            title: 'Кешью жареный, 500&nbsp;г',
            sum: '8 шт',
            type: 'cashew',
            weight: '500',
            category: 'nuts'
        },{
            image: 'peanut-drazhe-choco_500_packet',
            title: 'Арахис в&nbsp;шоколадной глазури, 500&nbsp;г',
            sum: '8 шт',
            type: 'peanut',
            weight: '500',
            category: 'dragee'
        },{
            image: 'almond-drazhe-choco-white_50_flowpack',
            title: 'Миндаль в&nbsp;белой шоколадной глазури, 50&nbsp;г',
            sum: '8 шт',
            type: 'almond',
            weight: '50',
            category: 'dragee'
        },{
            image: 'cashew-drazhe-gloss_3kg',
            title: 'Кешью в&nbsp;шоколадной глазури (золото, серебро, бронза), 3&nbsp;кг',
            sum: '8 шт',
            type: 'cashew',
            weight: '3000',
            category: 'dragee'
        }
    ])