//- ====================
//- kontora: content-page
//- 00-00-2017:
//- --------------------
//- Контентная страница.
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

block variables
    - var file_name = 'content-page'
    - var bodyClass = 'content-page'

//- Модифицируем head
block head
    - var pageTitle = 'Пример контентной страницы';

//- Выводим попапы
block popup

//- Выводим content
block content

    include section/head-block.pug
    include section/ui-kit/title.pug
    include section/ui-kit/link.pug
    include section/ui-kit/image.pug
    include section/ui-kit/card.pug
    include section/news-slider.pug

    +head-block({
        decors: [
            'hazelnut_leaf_1', 
            'peanut_2',
            'peanut_4',
            'cashew_1',
            'walnut_3'
        ],
        title: 'Заголовок статьи: Пример контентной страницы',
        full: true,
        image: 'images/content/article/desktop/nuts_1.jpg',
        breadcrumbs: ['Главная', 'Блог', 'Статьи'],
        lead: 'Лид-текст. Окаменевшие останки жареных орехов, которые по возрасту можно отнести к периоду неолита, археологи нашли на территории юго&#8209;западной Франции. Самым ярким представителем ореховых является волошский орех, история возникновения которого описана ниже.'
    })

    .b-container
        
        +b.article

            .b-head-block__lead-mobile Лид-текст. Окаменевшие останки жареных орехов, которые по возрасту можно отнести к периоду неолита, археологи нашли на территории юго&#8209;западной Франции. Самым ярким представителем ореховых является волошский орех, история возникновения которого описана ниже.

            +image({
                'items':[
                {
                    'src_mobile': 'images/content/article/mobile/nuts_1.jpg',
                    'src_tablet': 'images/content/article/tablet/nuts_1.jpg',
                    'src_desc': 'images/content/article/desktop/nuts_1.jpg',
                    'alt' : ''
                }
            ]})
            p.lead Лид-текст. Окаменевшие останки жареных орехов, которые по возрасту можно отнести к периоду неолита, археологи нашли на территории юго&#8209;западной Франции. Самым ярким представителем ореховых является волошский орех, история возникновения которого описана ниже.
            p Основной текст. Волошский орех еще называют грецким (более распространенное название). Однако тому, кто познакомится и историей этого ореха, придется признать, что второе название присвоено ему неправильно. Ведь родиной этого растения является Средняя Азия и некоторые районы Кавказа. Именно там оно было введено в культуру еще до нашей эры.
            p.stress Другие источники утверждают, что родиной этого ореха являются страны Средиземноморья.
            p.last Но к нам его плоды завезли главным образом с Греции на Крымский полуостров и на территорию современной Украины, откуда и пошло название плодов “грецкий орех”. В Средней Азии, особенно на склонах Ферганского и Чаткальского хребтов Западного Тянь-Шаня, находятся огромные плодовые леса, главной породой которых является грецкий орех.
            +title('h2', 'Подзаголовок')
            p Волошский орех еще называют грецким (более распространенное название). Однако тому, кто познакомится и историей этого ореха, придется признать, что второе название присвоено ему неправильно. Ведь родиной этого растения является Средняя Азия и некоторые районы Кавказа. Именно там оно было введено в культуру еще до нашей эры.
            blockquote Цитата. К нам орехи завезли главным образом с Греции, откуда и пошло название плодов “грецкий орех”.
            +e('p').last Другие источники утверждают, что родиной этого ореха являются страны Средиземноморья. Но к нам его плоды завезли главным образом с Греции на Крымский полуостров и на территорию современной Украины, откуда и пошло название плодов “грецкий орех”. В Средней Азии, особенно на склонах Ферганского и Чаткальского хребтов Западного Тянь&#8209;Шаня, находятся огромные плодовые леса, главной породой которых является грецкий орех.
            +title('h2', 'Примеры списков')
            p Волошский орех, по всей вероятности, играл большую роль в питании первобытного человека. 
            ol
                li На территориях первых поселений человека, обнаруженных археологами в Швейцарии, Италии и некоторых других странах, было найдено много грецких орехов.
                li Известия о них встречаются и в разных письменных памятках.
                li В книгах часто вспоминается про орехи, попавшие в Палестину с Персии, которую считали родиной этого ореха.
                li Воспоминания о грецком орехе можно найти и у древних римлян и скифов.
            p С древних времен существует множество легенд о волошском орехе. Одна из них связана с его противоядным действием. Когда римский полководец Помпей Великий победил царя Митридата VI, то нашел в его дворце рецепт такого средства, который предлагалось принимать натощак каждое утро, чтобы оберечь себя от действия опасных ядов. Это удивительное средство состояло из двух грецких орехов и из двух винных ягод, листья и соли.
            ul
                li На территориях первых поселений человека, обнаруженных археологами в Швейцарии, Италии и некоторых других странах, было найдено много грецких орехов.
                li Известия о них встречаются и в разных письменных памятках.
                li В книгах часто вспоминается про орехи, попавшие в Палестину с Персии, которую считали родиной этого ореха.
                li Воспоминания о грецком орехе можно найти и у древних римлян и скифов.
            p По мнению ученых, грецкие орехи исчезли в некоторых районах северной Европы вероятнее всего во время ледникового периода, но затем были снова занесены “варварами” и греко&#8209;римскими завоевателями.
        
    .b-container.b-container--news-slider
        +news-slider()           