//- ====================
//- kontora: content-page
//- 00-00-2017:
//- --------------------
//- Контентная страница.
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

block variables
    - var file_name = 'content-page'
    - var bodyClass = 'content-page'

//- Модифицируем head
block head
    - var pageTitle = 'Пример контентной страницы';

//- Выводим попапы
block popup

//- Выводим content
block content

    include section/head-block.pug
    include section/ui-kit/title.pug
    include section/ui-kit/link.pug
    include section/ui-kit/image.pug
    include section/ui-kit/card.pug
    include section/news-slider.pug

    +head-block({
        decors: [
            'hazelnut_leaf_1', 
            'peanut_2',
            'peanut_4',
            'cashew_1',
            'walnut_3'
        ],
        title: '3&nbsp;интересных факта об&nbsp;орехах, которых вы&nbsp;не&nbsp;знали',
        full: true,
        image: 'images/content/nuts_news.jpg',
        breadcrumbs: ['Главная', 'Блог', 'Статьи'],
        lead: 'Из&nbsp;какого ореха делают клей? Кто украл орешки у&nbsp;королевы Елизаветы? Все знают, что орехи&nbsp;&mdash; это полезно. Но&nbsp;есть несколько фактов, которые могут удивить&nbsp;&mdash; о&nbsp;них и&nbsp;поговорим сегодня.'
    })

    .b-container.b-container--content
        
        +b.article.--list

            .b-head-block__lead-mobile Из какого ореха делают клей? Кто украл орешки у королевы Елизаветы? Все знают, что орехи — это полезно. Но есть несколько фактов, которые могут удивить — о них и поговорим сегодня.
            +title('h2', '1. Арахис')
            p Арахис доступный орех и популярная закуска. Вы только попробуйте 
                a нашу тарелку&#8209;ассорти! 
                | Только вот он — совсем не орех. Арахис — это боб, совсем как горох или фасоль. Интересно, что из арахиса делают пластмассу, синтетические нитки, клей и вообще много используют его в химической промышленности.
            +image({
                    'items':[
                    {
                        'src_mobile': 'images/content/article/mobile/nuts_2.jpg',
                        'src_tablet': 'images/content/article/tablet/nuts_2.jpg',
                        'src_desc': 'images/content/article/desktop/nuts_2.jpg',
                        'alt' : ''
                    }
                ]})
            +title('h2', '2. Кокос')
            p А вот еще один не&#8209;орех: кокосовый орех на самом деле — семечко пальмы. Жидкость в нем — вовсе не кокосовое молоко, как привыкли считать. Кокосовое молоко получают при отжиме мякоти.
            +image({
                    'items':[
                    {
                        'src_mobile': 'images/content/article/mobile/nuts_3.jpg',
                        'src_tablet': 'images/content/article/tablet/nuts_3.jpg',
                        'src_desc': 'images/content/article/desktop/nuts_3.jpg',
                        'alt' : ''
                    }
                ]})
            +title('h2', '3. Грецкий орех')
            p Популярные у нас грецкие орехи называются так не потому, что их родина — Греция. На самом деле, грецкие орехи произошли из Азии, а вот на территорию России их начали ввозить греческие торговцы. Оттуда и пошло название «грецкий орех». В древнем Вавилоне грецкие орехи запрещали есть простым людям — считалось, что если съесть много орехов, можно поумнеть.
            +image({
                    'items':[
                    {
                        'src_mobile': 'images/content/article/mobile/nuts_4.jpg',
                        'src_tablet': 'images/content/article/tablet/nuts_4.jpg',
                        'src_desc': 'images/content/article/desktop/nuts_4.jpg',
                        'alt' : ''
                    }
                ]})
    .b-container.b-container--news-slider
        +news-slider()           