//- ====================
//- kontora: contacts
//- 00-00-2017:
//- --------------------
//- Контакты
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

block variables
    - var file_name = 'contacts'
    - var bodyClass = 'dark'

//- Модифицируем head
block head
    - var pageTitle = 'Контакты';
    - var map = true;

//- Выводим попапы
block popup

//- Выводим content
block content

    include section/head-block.pug
    include section/feedback.pug
    include section/ui-kit/contact-card.pug
    include section/ui-kit/popup-map.pug
    include section/ui-kit/title.pug
    
    +head-block({
        decors: [
            'almond_plate_2'
        ],
        title: 'Контакты'
    }).--contact

    

    +b.contact
        .b-container
            +e.wrapper
                +contact-card({
                    href_phone: '+74952121102',
                    phone_number: '+7 (495) 21-21-102',
                    property: 'Единый многоканальный номер',
                    proviso: 'Звонок по России бесплатный'
                }).--main
                +e.address-box
                    +contact-card({
                        title: 'Главный офис',
                        href_phone: '+74952121102',
                        phone_number: '+7 (495) 21-21-102',
                        property: '(многоканальный)',
                        email: 'info@greenline77.ru',
                        address: 'РФ, 127411, Москва, Дмитровское шоссе, 157, стр. 9, офис 9308 а,б,в.',
                        button: 'Показать на карте',
                        href_button: '#map',
                        placemark: 'center'
                    })
                    //- +contact-card({
                    //-     title: 'Производство',
                    //-     href_phone: '+74996700707',
                    //-     phone_number: '+7 (499) 670-07-07',
                    //-     email: 'info@greenline77.ru',
                    //-     address: 'РФ, 141051, МО, Мытищинский муниципальный район, с/п Федоскинское, д. Капустино, ш. Дмитровское, стр. N 36.',
                    //-     button: 'Показать на карте',
                    //-     href_button: '#map',
                    //-     placemark: 'production'
                    //- }).--fabric
                    //- +contact-card({
                    //-     title: 'Склад “Еремино”',
                    //-     href_phone: '+74952121102',
                    //-     phone_number: '+7 (495) 21-21-102',
                    //-     property: '(многоканальный)',
                    //-     email: 'info@greenline77.ru',
                    //-     address: 'МО, Мытищинский р-н, с/п Федоскинское, а/д Еремино&#8209;Новосельцево, 1-й км, вл. 1, стр. 8 (Дмитровское ш. 100ж)',
                    //-     link: 'Схема проезда',
                    //-     href_link: 'javascript:void(0);',
                    //-     button: 'Показать на карте',
                    //-     href_button: '#map',
                    //-     placemark: 'storage'
                    //- })

        +b.map#map(data-url="json/ymaps.json")
            
            
    .b-container.b-container--feedback
        +feedback()