//- ====================
//- kontora: Gui
//- 00-00-2017:
//- --------------------
//- Gui
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

block variables
    - var file_name = 'gui'

//- Модифицируем head
block head
    - var pageTitle = 'gui';

//- Выводим попапы
block popup
    //- ПопАпчики
    include section/ui-kit/popup.pug
    +popup()(data-popup='test')
        div(style='background-color: white; height: 999px; width: 400px;') Тестовый текст
            br
            a.link.js-close-popup( href='#', style='font-size: 25px;' ) Закрыть ПопАп

    include section/ui-kit/popup.pug
    +popup()(data-popup='test2')
        div(style='background-color: white; height: 229px; width: 150px;') Тестовый текст 2
            br
            a.link.js-close-popup( href='#', style='font-size: 25px;' ) Закрыть ПопАп

//- Выводим content
block content
    .b-container
        h1 Gui

        include section/ui-kit/text-block.pug
        +text-block()
            p
                a.link.js-open-popup( href='#', data-popup='test' ) Открыть попАп - 1
            p
                a.link.js-open-popup( href='#', data-popup='test2' ) Открыть попАп - 2

        include section/ui-kit/hr.pug
        +hr()
        //- Текстовые ссылки
        include section/ui-kit/link.pug
        +link('text', true).--test(data-url="atribute")
        include section/ui-kit/link.pug
        +link('text',  false).js-class.-active(data-popup="open-test")

        include section/ui-kit/hr.pug
        +hr().--none
        //- Кнопки похожие на кнопки
        include section/ui-kit/button.pug
        +button('text', true).--test(data-url="atribute")
        include section/ui-kit/button.pug
        +button('text', false).js-class.-active(data-popup="open-test")

        include section/ui-kit/hr.pug
        +hr()
        include section/ui-kit/text-block.pug
        +text-block()
            p Параграф

        include section/ui-kit/hr.pug
        +hr()
        //- Подключаем иконочки icon-{НАЗВАНИЕ SVG ФАЙЛА}
        include section/ui-kit/icon.pug
        +icon('sort').--test
        include section/ui-kit/icon.pug
        +icon('sort')

        include section/ui-kit/hr.pug
        +hr()
        //- Табы с анимацией
        include section/ui-kit/tab.pug
        +tab()
            +e.content.js-tab-content.-active(data-tab-content="1")
                //- контент таба
                p Test tab
            +e.content.js-tab-content(data-tab-content="2")
                //- контент таба
                p Test tab 2
            +e.content.js-tab-content(data-tab-content="3")
                //- контент таба
            +e.content.js-tab-content(data-tab-content="4")
                //- контент таба
            +e.content.js-tab-content(data-tab-content="5")
                //- контент таба


        include section/ui-kit/hr.pug
        +hr()
        //- Инпут: +input(id, type, placeholder, name, value)
        include section/ui-kit/input.pug
        +input('id-test', 'password', 'write inside me', 'name-test', 'value-test').-active(data-input="input-test")
        include section/ui-kit/input.pug
        +input('id-test2', 'text', '', 'name-test', 'value-test').--test

        include section/ui-kit/hr.pug
        +hr()
        //- Хлебные крошки
        include section/ui-kit/breadcrumbs.pug
        +breadcrumbs('Главная', 'неГлавная', 'другая')

        include section/ui-kit/hr.pug
        +hr()
        //- Чекбокс: +checkbox(name, id, title)
        include section/ui-kit/checkbox.pug
        +checkbox( 'box-test', 'box-test-1', 'Значение 1', 'js-class' )
        include section/ui-kit/checkbox.pug
        +checkbox( 'box-test', 'box-test-2', 'Значение 2', '' ).--class

        include section/ui-kit/hr.pug
        +hr()
        //- Радио: +radio(textLabel, name, id, checked, js)
        include section/ui-kit/radio.pug
        +radio( 'textLabel-1', 'radio-test', 'id-test-3', false, '' )
        include section/ui-kit/radio.pug
        +radio( 'textLabel-2', 'radio-test', 'id-test-4', true, '' )

        include section/ui-kit/hr.pug
        +hr()
        //- Заголовок
        include section/ui-kit/title.pug
        +title("h1", 'Отзывы').--mod
        include section/ui-kit/title.pug
        +title("h2", 'title')

        div(style='height: 200px;')