//- Используем стандартный шаблон
extends ./template/index_layout

//- Модифицируем head
block head
    - var pageTitle = 'Страница иконок';

//- Выводим контент
block content
    ul
    
        li
            i(class="b-icon icon-almond")  .icon-almond
    
        li
            i(class="b-icon icon-arrow-left")  .icon-arrow-left
    
        li
            i(class="b-icon icon-arrow-down")  .icon-arrow-down
    
        li
            i(class="b-icon icon-cashew")  .icon-cashew
    
        li
            i(class="b-icon icon-arrow-right")  .icon-arrow-right
    
        li
            i(class="b-icon icon-catalog")  .icon-catalog
    
        li
            i(class="b-icon icon-certificate")  .icon-certificate
    
        li
            i(class="b-icon icon-close-popup")  .icon-close-popup
    
        li
            i(class="b-icon icon-close")  .icon-close
    
        li
            i(class="b-icon icon-dried-apricot")  .icon-dried-apricot
    
        li
            i(class="b-icon icon-eco")  .icon-eco
    
        li
            i(class="b-icon icon-fb")  .icon-fb
    
        li
            i(class="b-icon icon-filter")  .icon-filter
    
        li
            i(class="b-icon icon-hazelnut")  .icon-hazelnut
    
        li
            i(class="b-icon icon-hover-menu")  .icon-hover-menu
    
        li
            i(class="b-icon icon-inst")  .icon-inst
    
        li
            i(class="b-icon icon-logo-gl")  .icon-logo-gl
    
        li
            i(class="b-icon icon-map")  .icon-map
    
        li
            i(class="b-icon icon-menu-arrow")  .icon-menu-arrow
    
        li
            i(class="b-icon icon-menu-dots")  .icon-menu-dots
    
        li
            i(class="b-icon icon-more")  .icon-more
    
        li
            i(class="b-icon icon-nuts")  .icon-nuts
    
        li
            i(class="b-icon icon-ok")  .icon-ok
    
        li
            i(class="b-icon icon-peanut")  .icon-peanut
    
        li
            i(class="b-icon icon-pine-nut")  .icon-pine-nut
    
        li
            i(class="b-icon icon-pistachio")  .icon-pistachio
    
        li
            i(class="b-icon icon-plus")  .icon-plus
    
        li
            i(class="b-icon icon-prunes")  .icon-prunes
    
        li
            i(class="b-icon icon-route")  .icon-route
    
        li
            i(class="b-icon icon-send")  .icon-send
    
        li
            i(class="b-icon icon-sort")  .icon-sort
    
        li
            i(class="b-icon icon-sorting")  .icon-sorting
    
        li
            i(class="b-icon icon-tech")  .icon-tech
    
        li
            i(class="b-icon icon-vk")  .icon-vk
    
        li
            i(class="b-icon icon-walnut")  .icon-walnut
    