//- Используем стандартный шаблон
extends ./template/index_layout

//- Модифицируем head
block head
    - var pageTitle = 'Страница страниц';

//- Выводим контент
block content
    ul
    
        li
            a(href=".DS_Store") .DS_Store
    
        li
            a(href="404.html") 404
    
        li
            a(href="blog-general.html") blog-general
    
        li
            a(href="about.html") about
    
        li
            a(href="catalog.html") catalog
    
        li
            a(href="contacts.html") contacts
    
        li
            a(href="content-page-2.html") content-page-2
    
        li
            a(href="content-page.html") content-page
    
        li
            a(href="gui.html") gui
    
        li
            a(href="iconlist.html") iconlist
    
        li
            a(href="main.html") main
    
        li
            a(href="robots.txt") robots.txt
    
        li
            a(href="test-catalog2.html") test-catalog2
    