//- ====================
//- kontora: main
//- 00-00-2017:
//- --------------------
//- Главная страница.
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

block variables
    - var file_name = 'main'

//- Модифицируем head
block head
    - var pageTitle = 'Главная страница';

//- Выводим попапы
block popup

//- Выводим content
block content

    include section/catalog-menu.pug
    include section/head-block-slider.pug
    include section/info-block.pug
    include section/range-block.pug
    include section/market-block.pug

    +catalog-menu([
        {
            link: 'javascript:void(0)',
            name: 'Арахис в&nbsp;молочной шоколадной глазури'
        },{
            link: 'javascript:void(0)',
            name: 'Арахис в&nbsp;шоколадной глазури &laquo;Ассорти&raquo;'
        },{
            link: 'javascript:void(0)',
            name: 'Арахис васаби'
        },{
            link: 'javascript:void(0)',
            name: 'Грецкий орех очищенный'
        },{
            link: 'javascript:void(0)',
            name: 'Кедровый орех очищенный'
        },{
            link: 'javascript:void(0)',
            name: 'Кешью с&nbsp;розмарином'
        },{
            link: 'javascript:void(0)',
            name: 'Кешью жареный'
        },{
            link: 'javascript:void(0)',
            name: 'Кешью соленый'
        },{
            link: 'javascript:void(0)',
            name: 'Миндаль в&nbsp;скорлупе жареный соленый'
        },{
            link: 'javascript:void(0)',
            name: 'Миндаль в&nbsp;белой шоколадной глазури'
        },{
            link: 'javascript:void(0)',
            name: 'Миндаль жареный'
        },{
            link: 'javascript:void(0)',
            name: 'Миндаль жареный соленый'
        },{
            link: 'javascript:void(0)',
            name: 'Миндаль жареный соленый'
        },{
            link: 'javascript:void(0)',
            name: 'Фундук в&nbsp;шоколадной глазури'
        },{
            link: 'javascript:void(0)',
            name: 'Фундук в&nbsp;шоколадной глазури &laquo;Ассорти&raquo;'
        },{
            link: 'javascript:void(0)',
            name: 'Фундук жареный'
        }

    ])
    
    +head-block-slider([
        'peanut',
        'hazelnut',
        'pistachio',
        'almond'
    ])

    +info-block([
        {
            icon: 'nuts',
            title: 'Только свежее сырье',
            text: 'Мы&nbsp;привозим орехи из&nbsp;разных стран мира и&nbsp;тщательно отбираем сырье, из&nbsp;которого изготавливаются продукты Seven Nuts.'
        },{
            icon: 'tech',
            title: 'Собственные технологии',
            text: 'Весь процесс производства уже много лет мы&nbsp;делаем самостоятельно, и&nbsp;на&nbsp;каждом этапе отобрали лучший рецепт для самого вкусного результата.'
        },{
            icon: 'certificate',
            title: 'Вся продукция сертифицирована',
            text: 'Мы&nbsp;не&nbsp;только оформляем обязательные процедуры декларирования качества товара, но&nbsp;и&nbsp;самостоятельно проводим экспертизы.'
        },{
            icon: 'eco',
            title: 'Экологичное производство',
            text: 'Наше производство не&nbsp;вредит окружающей среде, а&nbsp;упаковка безопасна для человека.'
        }
    ])
    
    +range-block([
        {
            link: '#',
            title: 'Орехи',
            sum: '24 позиции',
            image: 'images/inhtml/almond1024.png'
        },{
            link: '#',
            title: 'Драже',
            sum: '21 позиция',
            image: 'images/inhtml/dragee1024.png'
        },{
            link: '#',
            title: 'Смеси',
            sum: '12 позиций',
            image: 'images/inhtml/mix1024.png'
        },{
            link: '#',
            title: 'Сухофрукты',
            sum: '12 позиций',
            image: 'images/inhtml/dried-fruits.png'
        },{
            link: '#',
            title: 'Цукаты',
            sum: '12 позиций',
            image: 'images/inhtml/candied-fruit.png'
        }
    ])

    +market-block([
        {
            link: '#',
            title: 'wildberries',
            image: 'wildberries'
        },{
            link: '#',
            title: 'Яндекс лавка',
            image: 'yandex'
        },{
            link: '#',
            title: 'Азбука Вкуса',
            image: 'azbuka-vkusa'
        },{
            link: '#',
            title: 'Перекрёсток',
            image: 'perekryostok'
        },{
            link: '#',
            title: 'Пятёрочка',
            image: 'pyaterochka'
        },{
            link: '#',
            title: 'Ozon',
            image: 'ozon'
        },{
            link: '#',
            title: 'wildberries',
            image: 'wildberries'
        },{
            link: '#',
            title: 'Яндекс лавка',
            image: 'yandex'
        },{
            link: '#',
            title: 'Азбука Вкуса',
            image: 'azbuka-vkusa'
        }
    ])