//- ====================
//- kontora: catalog
//- 00-00-2017:
//- --------------------
//- каталог.
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

block variables
    - var file_name = 'catalog2'

//- Модифицируем head
block head
    - var pageTitle = 'Все карточки';

//- Выводим попапы
block popup

    include section/ui-kit/popup-product-card.pug

    +popup-product()(data-popup='cashew-rosemary_pot', data-type='cashew')
    +popup-product()(data-popup='pine_nut_200', data-type='pine-nut')
    +popup-product()(data-popup='walnut_50', data-type='walnut')
    +popup-product()(data-popup='almond_100', data-type='almond')
    +popup-product()(data-popup='peanut_50', data-type='peanut')
    +popup-product()(data-popup='pistachios_200', data-type='pistachio')
    +popup-product()(data-popup='hazelnut-drazhe_50_flowpack', data-type='hazelnut')
    +popup-product()(data-popup='cashew_50', data-type='cashew-dark')
    +popup-product()(data-popup='pine_nut_50', data-type='pine-nut-dark')
    +popup-product()(data-popup='walnut-nacked_500_packet', data-type='walnut-dark')
    +popup-product()(data-popup='peanut_500_packet', data-type='peanut-dark')
    +popup-product()(data-popup='pistachios-MO_500_packet', data-type='pistachio-dark')
    +popup-product()(data-popup='hazelnut_500_packet', data-type='hazelnut-dark')

//- Выводим content
block content

    include section/head-block-slider.pug
    include section/catalog.pug
    
    +head-block-slider([
        'cashew',
        'peanut',
        'hazelnut',
        'pistachio',
        'almond',
        'walnut',
        'pine-nut',
        'cashew-dark',
        'peanut-dark',
        'hazelnut-dark',
        'pistachio-dark',
        'walnut-dark',
        'pine-nut-dark'
    ])

    +catalog([
        {
            image: 'cashew-rosemary_pot',
            title: 'Кешью жареный в&nbsp;блестящей оболочке с&nbsp;розмарином, 200&nbsp;г',
            sum: '8 шт',
            type: 'cashew',
            weight: '200pot',
            category: 'nuts'
        },{
            image: 'peanut_50',
            title: 'Арахис жареный соленый, 50&nbsp;г',
            sum: '8 шт',
            type: 'peanut',
            weight: '50',
            category: 'nuts'
        },{
            image: 'hazelnut-drazhe_50_flowpack',
            title: 'Фундук в&nbsp;шоколадной глазури, 50&nbsp;г',
            sum: '8 шт',
            type: 'hazelnut',
            weight: '50',
            category: 'dragee'
        },{
            image: 'pistachios_200',
            title: 'Фисташки жареные соленые, 200&nbsp;г',
            sum: '8 шт',
            type: 'pistachio',
            weight: '200',
            category: 'nuts'
        },{
            image: 'almond_100',
            title: 'Миндаль жареный соленый, 100&nbsp;г',
            sum: '8 шт',
            type: 'almond',
            weight: '100',
            category: 'nuts'
        },{
            image: 'walnut_50',
            title: 'Грецкий орех очищенный, 50&nbsp;г',
            sum: '8 шт',
            type: 'walnut',
            weight: '50',
            category: 'nuts'
        },{
            image: 'pine_nut_200',
            title: 'Кедровый орех очищенный, 200&nbsp;г',
            sum: '8 шт',
            type: 'pine-nut',
            weight: '200',
            category: 'nuts'
        },{
            image: 'cashew_50',
            title: 'Кешью жареный в&nbsp;блестящей оболочке с&nbsp;розмарином, 200&nbsp;г',
            sum: '8 шт',
            type: 'cashew-dark',
            weight: '200pot',
            category: 'nuts'
        },{
            image: 'peanut_500_packet',
            title: 'Арахис жареный соленый, 50&nbsp;г',
            sum: '8 шт',
            type: 'peanut-dark',
            weight: '50',
            category: 'nuts'
        },{
            image: 'hazelnut_500_packet',
            title: 'Фундук в&nbsp;шоколадной глазури, 50&nbsp;г',
            sum: '8 шт',
            type: 'hazelnut-dark',
            weight: '50',
            category: 'dragee'
        },{
            image: 'pistachios-MO_500_packet',
            title: 'Фисташки жареные соленые, 200&nbsp;г',
            sum: '8 шт',
            type: 'pistachio-dark',
            weight: '200',
            category: 'nuts'
        },{
            image: 'walnut-nacked_500_packet',
            title: 'Грецкий орех очищенный, 50&nbsp;г',
            sum: '8 шт',
            type: 'walnut-dark',
            weight: '50',
            category: 'nuts'
        },{
            image: 'pine_nut_50',
            title: 'Кедровый орех очищенный, 200&nbsp;г',
            sum: '8 шт',
            type: 'pine-nut-dark',
            weight: '200',
            category: 'nuts'
        }
    ])