.tooltipster-sidetip {
	
	.tooltipster-box {
		background: @cl-white;
		border: none;
		box-shadow: 0px 12px 36px 2px rgba(50, 126, 150, 0.12);
		border-radius: 12px;
	}

	.tooltipster-content {
		line-height: 0;
		color: @cl-very-dark-grayish-red;
		padding: 0;
		overflow: hidden;
		width: 312px;
		// min-height: 308px;
	}

	.b-card-genesis__wrapper {
		width: 100%;
		height: auto;
	}

	.b-card-genesis__image {
		height: 137px;
		width: auto;
		max-width: auto;
		min-width: 100%;
		object-fit: cover;
		object-position: center;
	}

	.b-card-genesis__information {
		padding: 20px;
	}
}