.b-contact-card {
    margin: 0 0 57px;
    display: flex;
    flex-direction: column;
    
	&__phone {
        .roboto-regular;
		font-size: 21px;
        line-height: 31px;
        color: @cl-very-dark-mostly-black-red;
        display: inline-block;
        transition: opacity .3s ease;
        &--main {
            font-size: 30px;
            line-height: 36px;
            font-weight: bold;
            color: @cl-bright-red;
            margin-bottom: 8px;
        }
        .no-touchevents &:hover,
		.touchevents &:active {
            color: @cl-dark-red;
        }
    }

    &__property {
        line-height: 26px;
        color: @cl-grayish-red;
    }

    &__proviso {
        line-height: 26px;
    }
    
    &__email {
        line-height: 26px;
        display: inline-block;
        margin: 10px 0;
        position: relative;
        transition: opacity .3s ease;

        &:before {
            content: '';
            width: 100%;
            height: 1px;
            background: @cl-very-dark-grayish-red;
            position: absolute;
            bottom: 3px;
            left: 0;
            transition: opacity .3s ease; 
        }

        .no-touchevents &:hover,
		.touchevents &:active {
            color: @cl-dark-red;
            &:before {
                background: @cl-dark-red;
            }
        }
    }

    &__address {
        font-style: normal;
        font-size: 16px;
        line-height: 26px;

    }

    &--main {
        margin: 0 0 31px;
    }

    &__button-groupe {
        margin: 30px 0 0;
    }
}