.b-contact-card {
    margin: 0 0 49px;

    &__text-groupe {
        width: 336px;
        padding: 11px 0 0 2px;
        margin-right: auto;
    }

	&__phone {
		font-size: 28px;
        line-height: 38px;
        &--main {
            letter-spacing: 0.04em;
        }
    }

    &__proviso {
        line-height: 24px;
    }

    &--main {
        margin: 0 0 53px;
    }
    
    .b-burger__item & {
        margin: 0 0 60px;

        &__text-groupe {
            padding: 0;
            margin: 0;
        }

        &__phone {
            font-size: 16px;
            line-height: 26px;
            .open-regular();
            display: block;

            &--main {
                font-size: 30px;
                line-height: 36px;
                letter-spacing: normal;
                .roboto-bold();
            }
        }

        &__email {
            margin: 8px 0;
        }
    }
}