.b-contact-card {
    
    flex-direction: column;

    &:not(:last-child) {
        margin-right: 112px;
    }

    &__text-groupe{
        margin-right: 0;
        margin-bottom: auto;
    }
    &__phone {
        &--fabric {
            margin-bottom: 26px;
        }
    }
    &__email {
        margin: 16px 0;
    }
}