/* 768 + */
.b-popup {

	&--product & {

		&__inner {
			padding: 24px 126px;
		}

		&__lead-box {
			margin: 38px 0 28px;
		}

		&__image-wrapper {
			margin: 0 0 0 -86px;
			display: flex;
			flex-direction: row-reverse;
		}

		&__image-slider {
			width: ~'calc(100% - 86px)';
		}

		&__slider-pagination {
			flex-direction: column;
			width: 70px;
			margin-right: 16px;
			flex-shrink: 0;
			justify-content: flex-start;
		}

		&__dots {
			width: 100%;
			margin-bottom: 16px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__table {
			margin: 7px 0 0;
			padding: 21px 44px 26px;
		}

		&__table-text {
			font-size: 16px;
			line-height: 26px;
		}

		&__kpfc {
			flex-wrap: nowrap;
			margin: 16px 0 20px;
			padding: 7px 16px;
		}

		&__kpfc-item {
			width: 18%;
			margin: 0;
		}

		&__composition {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__composition-item {
			width: 49%;

			& + .b-popup__composition-item {
				margin: 0;
			}
		}

		&__popular {
			margin: 60px -86px 0;
		}
	}

	.os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle,
    .os-host-resize-disabled.os-host-scrollbar-horizontal-hidden>.os-scrollbar-vertical {
        width: 12px;
    }

    &--send & {
        
        &__content {
            width: 672px;
            box-shadow: 0px 12px 36px 2px rgba(50, 126, 150, 0.12);
			border-radius: 20px;
            padding: 84px 136px 74px;
        }

        &__text {
        	font-size: 21px;
			line-height: 34px;
        }
    }

    &--form & {

    	&__content {
            width: 672px;
			border-radius: 20px;
            padding: 45px 114px 51px;
        }
    }
}