/* 320 + */
.b-popup {
    display: none;
    position: fixed;
    -webkit-overflow-scrolling: touch;
    z-index: 15000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(40, 0, 0, .4);

    &__fix-scroll {
        display: flex;
        width: ~"calc(100vw - 40px)";
        margin-left: 20px;
        padding: 20px 0;
        margin-right: auto;
        flex-direction: row;
        flex-wrap: wrap;
        min-height: 100%;
    }

    &__clearfix {

        &:after {
            content: '';
            clear: both; 
            display: block;
        }
    }

    &__content {
        margin: auto;
    }

    &.open {
        display: block;
    }

    &--product {
        overflow: hidden;

        p {
            margin: 0 0 12px;
        }

        .slick-arrow {
            padding: 5px;
            background: transparent;
            border: none;
            color: @cl-flamenco;

            &:before {
                font-size: 22px;
            }
        }

        .next {
            .icon('arrow-right');
        }

        .prev {
            .icon('arrow-left');
            margin-right: 9px;
        }

        &[data-type='cashew'] {
            .slick-arrow,
            .b-breadcrumbs__item:after,
            .b-breadcrumbs__item:before {
                color: @cl-hover-cashew;
            }
            .b-popup__dots.on {
                border-color: @cl-hover-cashew;
            }
            .os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle,
            .b-popup__table {
                background: @cl-hover-cashew;
            }
        }

        &[data-type='peanut'] {
            .slick-arrow,
            .b-breadcrumbs__item:after,
            .b-breadcrumbs__item:before {
                color: @cl-hover-peanut;
            }
            .b-popup__dots.on {
                border-color: @cl-hover-peanut;
            }
            .os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle,
            .b-popup__table {
                background: @cl-hover-peanut;
            }
        }

        &[data-type='hazelnut'] {
            .slick-arrow,
            .b-breadcrumbs__item:after,
            .b-breadcrumbs__item:before {
                color: @cl-hover-hazelnut;
            }
            .b-popup__dots.on {
                border-color: @cl-hover-hazelnut;
            }
            .os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle,
            .b-popup__table {
                background: @cl-hover-hazelnut;
            }
        }

        &[data-type='pistachio'] {
            .slick-arrow,
            .b-breadcrumbs__item:after,
            .b-breadcrumbs__item:before {
                color: @cl-hover-pistachio;
            }
            .b-popup__dots.on {
                border-color: @cl-hover-pistachio;
            }
            .os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle,
            .b-popup__table {
                background: @cl-hover-pistachio;
            }
        }

        &[data-type='almond'] {
            .slick-arrow,
            .b-breadcrumbs__item:after,
            .b-breadcrumbs__item:before {
                color: @cl-hover-almond;
            }
            .b-popup__dots.on {
                border-color: @cl-hover-almond;
            }
            .os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle,
            .b-popup__table {
                background: @cl-hover-almond;
            }
        }

        &[data-type='walnut'] {
            .slick-arrow,
            .b-breadcrumbs__item:after,
            .b-breadcrumbs__item:before {
                color: @cl-hover-walnut;
            }
            .b-popup__dots.on {
                border-color: @cl-hover-walnut;
            }
            .os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle,
            .b-popup__table {
                background: @cl-hover-walnut;
            }
        }

        &[data-type='pine-nut'] {
            .slick-arrow,
            .b-breadcrumbs__item:after,
            .b-breadcrumbs__item:before {
                color: @cl-hover-pine;
            }
            .b-popup__dots.on {
                border-color: @cl-hover-pine;
            }
            .os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle,
            .b-popup__table {
                background: @cl-hover-pine;
            }
        }

        &[data-type='cashew-dark'] {
            .slick-arrow,
            .b-breadcrumbs__item:after,
            .b-breadcrumbs__item:before {
                color: @cl-hover-cashew-dark;
            }
            .b-popup__dots.on {
                border-color: @cl-hover-cashew-dark;
            }
            .os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle,
            .b-popup__table {
                background: @cl-hover-cashew-dark;
            }
        }

        &[data-type='peanut-dark'] {
            .slick-arrow,
            .b-breadcrumbs__item:after,
            .b-breadcrumbs__item:before {
                color: @cl-hover-peanut-dark;
            }
            .b-popup__dots.on {
                border-color: @cl-hover-peanut-dark;
            }
            .os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle,
            .b-popup__table {
                background: @cl-hover-peanut-dark;
            }
        }

        &[data-type='hazelnut-dark'] {
            .slick-arrow,
            .b-breadcrumbs__item:after,
            .b-breadcrumbs__item:before {
                color: @cl-hover-hazelnut-dark;
            }
            .b-popup__dots.on {
                border-color: @cl-hover-hazelnut-dark;
            }
            .os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle,
            .b-popup__table {
                background: @cl-hover-hazelnut-dark;
            }
        }

        &[data-type='pistachio-dark'] {
            .slick-arrow,
            .b-breadcrumbs__item:after,
            .b-breadcrumbs__item:before {
                color: @cl-hover-pistachio-dark;
            }
            .b-popup__dots.on {
                border-color: @cl-hover-pistachio-dark;
            }
            .os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle,
            .b-popup__table {
                background: @cl-hover-pistachio-dark;
            }
        }

        &[data-type='walnut-dark'] {
            .slick-arrow,
            .b-breadcrumbs__item:after,
            .b-breadcrumbs__item:before {
                color: @cl-hover-walnut-dark;
            }
            .b-popup__dots.on {
                border-color: @cl-hover-walnut-dark;
            }
            .os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle,
            .b-popup__table {
                background: @cl-hover-walnut-dark;
            }
        }

        &[data-type='pine-nut-dark'] {
            .slick-arrow,
            .b-breadcrumbs__item:after,
            .b-breadcrumbs__item:before {
                color: @cl-hover-pine-dark;
            }
            .b-popup__dots.on {
                border-color: @cl-hover-pine-dark;
            }
            .os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle,
            .b-popup__table {
                background: @cl-hover-pine-dark;
            }
        }
    }

    &--product & {

        &__content {
            width: 100%;
            height: 100%;
            background: @cl-white;
            box-shadow: 0px 12px 36px 2px rgba(50, 126, 150, 0.12);
        }

        &__inner {
            padding: 16px;
        }

        &__row {
            display: flex;
        }

        &__name {
            color: @cl-grayish-red;
            margin-right: 12px;
        }

        &__text-row {
            margin: 0 0 34px; 
        }

        &__slide {
            width: 100%;
            background: @cl-light-grayish-cyan;
            border-radius: 4px;
        }

        &__slide-box {
            position: relative;
            width: 100%;
            padding-bottom: 100%;
            border-radius: 4px;
            background: radial-gradient(63.8% 63.8% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);

            img {
                width: 100%;
                max-height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                object-fit: contain;
            }
        }

        &__slider-pagination {
            display: flex;
            justify-content: space-between;
        }

        &__dots {
            width: ~'calc(20% - 8px)';
            flex-shrink: 0;
            line-height: 0;
            border-radius: 3px;
            padding: 1px;
            background: @cl-light-grayish-cyan;
            cursor: pointer;
            border: 2px solid transparent;
            transition: border-color .3s ease;

            &.on {
                border-color: @cl-flamenco;
            }
        }

        &__image-slider {
            margin-bottom: 10px;
        }

        &__lead-box {
            margin: 23px 0 22px;
        }

        &__image-box {
            margin: 0 0 43px;
        }

        &__image-wrapper {
            margin: 0 0 16px;
        }

        &__table {
            border-radius: 4px;
            background: @cl-flamenco;
            color: @cl-white;
            font-size: 12px;
            line-height: 16px;
            padding: 17px 24px 21px;
        }

        &__kpfc {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            border: 1px solid rgba(237, 243, 243, .4);
            padding: 10px 20px 0;
            border-radius: 4px;
            margin: 8px 0 22px;
        }

        &__kpfc-item {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 8px;
        }

        &__kpfc-name {
            opacity: .7;
        }

        &__kpfc-value {
            font-size: 16px;
            line-height: 26px;
        }

        &__composition-item {
            display: flex;
            align-items: center;

            & + .b-popup__composition-item {
                margin: 20px 0 0;
            }
        }

        &__composition-image {
            width: 40px;
            margin-right: 16px;
            flex-shrink: 0;
        }

        &__composition-description {

            span {
                display: block;
            }
        }

        &__lead {
            display: none;
        }

        &__popular {
            position: relative;
            padding: 20px 0 25px;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: @cl-charcoal;
                opacity: .3;
            }

            // .slick-track { display: flex !important; } 
            // .slick-slide { height: inherit !important; display: flex !important; justify-content: center; align-items: stretch; }
        }

        &__arrows {
            position: absolute;
            top: 20px;
            right: 0;
        }
    }

    .os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle {
        background: @cl-flamenco;
        border-radius: 4px;
    }

    .os-host-resize-disabled.os-host-scrollbar-horizontal-hidden>.os-scrollbar-vertical {
        background: @cl-light-grayish-cyan;
        border-radius: 0;
    }

    &--send & {
        
        &__content {
            position: relative;
            width: 288px;
            background: @cl-white;
            border-radius: 12px;
            padding: 76px 38px 43px;
        }

        &__inner {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__text {
            text-align: center;
            color: @cl-opium;
            font-size: 16px;
            line-height: 26px;

            span {
                display: block;
            }
        }
    }

    &--form & {

        &__content {
            position: relative;
            width: 288px;
            background: @cl-azure;
            border-radius: 12px;
            padding: 25px 20px 31px;
        }
    }
}