/* 1024 + */
.b-popup {

	&--product & {

		&__content {
			max-width: 1440px;
			height: ~'calc(100% - 90px)';
			border-radius: 10px;
		}

		&__inner {
			padding: 24px 160px;
		}

		&__image-box {
			width: 500px;
		}

		&__lead-box {
			width: ~'calc(100% - 560px)';
		}

		&__image-wrapper {
			margin: 0 0 0 -112px;
		}

		&__slider-pagination {
			width: 88px;
			margin-right: 24px;
		}

		&__image-slider {
			width: ~'calc(100% - 112px)';
		}

		&__table {
			margin: 16px 0 0;
			padding: 22px 36px 29px;
		}

		&__popular {
			margin: 0;
		}
	}

	.os-host-resize-disabled.os-host-scrollbar-horizontal-hidden>.os-scrollbar-vertical {
		top: 100px;
		bottom: 60px;
	}
}