.b-head-block {
	position: relative;
	width: 100%;
	height: 180px;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}

	&__inner {
		position: relative;
		z-index: 2;
		width: 100%;
		height: 100%;
		padding: 93px 0 15px;
		display: flex;
		flex-direction: column;
	}

	&__img,
	&__image-wrapper {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
	}

	&__image-wrapper {

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: @cl-very-dark-mostly-black-red;
			opacity: .4;
			z-index: 1;
		}
	}

	&__lead {
		display: none;
		.roboto-regular();
		font-size: 21px;
		line-height: 31px;
		color: @cl-white;
	}

	&__lead-mobile {
		font-size: 21px;
		line-height: 31px;
		.roboto-regular();
		color: @cl-very-dark-mostly-black-red;
		margin: 0 0 40px;
	}

	&__information {
        font-size: 12px;
        line-height: 16px;
        display: flex;
        color: @cl-white;
        margin: 5vh 0 0;

        span {
            margin-right: 10px;
        }

        span,
        time {
        	opacity: .8;
        }

        a {
        	color: @cl-white;
            text-decoration: underline;
        }
    }

    &__information-source {
    	padding-right: 11px;
    	margin-right: 10px;
    	position: relative;

    	&:before {
    		content: '';
    		position: absolute;
    		top: 50%;
    		right: 0;
    		width: 1px;
    		height: 32px;
    		background: @cl-gorse;
    		transform: translateY(-50%);
    	}
    }

    &__arrow {
    	color: @cl-white;
    	margin: auto auto 0;
    	position: relative;
    	align-self: center;
    }

    &__arrow-text {
    	display: none;
    	position: absolute;
    	left: 55px;
    	top: 50%;
    	transform: translateY(-50%);
    	width: 125px;
    	font-size: 22px;
		line-height: 24px;
		.caveat();
    }

	&--catalog {
		background: @cl-bright-red;

		&:before {
			background: radial-gradient(50% 100% at 50% 100%, #F33939 0%, rgba(243, 57, 57, 0.5) 48.96%, rgba(165, 26, 27, 0.8) 100%);
			opacity: .4;
		}
    }
    
    &--blog,
    &--about {
        background: @cl-moderate-yellow;
        &:before {
			background: radial-gradient(50% 100% at 50% 100%, #B2C55A 0%, rgba(176, 198, 89, 0.5) 40.23%, rgba(127, 156, 66, 0.8) 86.46%, #7E9C41 100%);
			opacity: .6;
		}
    }

    &--contact {
        background: @cl-light-grayish-blue;
        overflow: hidden;
        &:before {
			background: radial-gradient(50% 100% at 50% 100%, #FCFDFE 0%, rgba(252, 253, 254, 0.5) 38.54%, #F5F8FB 87.5%, #ECF1F7 100%);
			opacity: .6;
		}
    }

    .content-page & {
    	background: @cl-moderate-yellow;

    	&:before {
    		background: radial-gradient(50% 100% at 50% 100%, #B2C55A 0%, rgba(176, 198, 89, 0.5) 40.23%, rgba(127, 156, 66, 0.8) 86.46%, #7E9C41 100%);
    		opacity: .6;
    	}

    	&__inner {
    		padding: 29vh 0 5vh;
    	}
    }
}