.b-head-block {
	height: 290px;

	&__inner {
		padding: 154px 0 30px;
	}

	&__lead-mobile {
		display: none;
	}

	&__lead {
		display: block;
		max-width: 450px;
		margin: 7vh 0 0;
	}

	&__information {
		font-size: 16px;
		line-height: 26px;
		margin: 3vh 0 0;
	}

	&__arrow-text {
		display: block;
	}

	.content-page & {

		&__inner {
			padding: 31vh 0 5vh;
		}
	}
}