.b-breadcrumbs {
    font-size: 16px;
    line-height: 26px;
    color: @cl-font-main;
    margin: 0 60px 0 0;

    &__link {
        white-space: nowrap;
        min-width: 0;
    }

    &__list {
        display: flex;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0;
        white-space: nowrap;
    }

    &__item {
        list-style-type: none;
        .icon('arrow-left');
        white-space: nowrap;

        &:not(:nth-last-child(2)) {
            display: none;
        }

        &:before {
            font-size: 10px;
            line-height: 26px;
            color: @cl-bright-red;
            margin: 0 24px 0 4px;
        }
    }

    .b-head-block & {
        margin: 0 0 3vh;

        &__link {
            color: @cl-white;
            opacity: .8;
        }

        &__item {

            &:before {
                color: @cl-gorse;
            }
        }
    }
}