.b-breadcrumbs {
	margin: 0 0 0 -86px;

	&__item {
		.icon('arrow-right', 'after');

		&:not(:nth-last-child(2)) {
            display: block;
        }

        &:before {
        	content: none;
        	display: none;
        }

        &:after {
            font-size: 10px;
            line-height: 26px;
            color: @cl-bright-red;
            margin: 0 25px 0 21px;
        }

        &:last-child,
        &:only-child {

        	&:after {
        		content: none;
        		display: none;
        	}
        }
	}

    .b-head-block & {
        margin: 0 0 2vh;
    }
}